//This is the main SASS file. The only thing in this file should
//be links to other SASS files! */
//@import 'components/overrides.scss '  ;

@import 'components/mixins.scss';
@import 'components/variables.scss';
@import 'components/boilerplate.scss';
@import 'components/header.scss';
@import 'components/store_crumbs.scss';
@import 'components/search.scss';
@import 'components/store_header.scss';
@import 'components/menus.scss';
@import 'components/productpage.scss';
@import 'components/quantity.scss';

@import 'components/modal.scss';
@import 'components/footer.scss';
@import 'components/grid.scss';

@import 'components/cart.scss';
@import 'components/checkout.scss';

@import 'components/typography.scss';

@import 'components/dialog.scss';
@import 'components/store_selection.scss';
@import 'components/forms.scss';
@import 'components/order_history.scss';
@import 'components/closed.scss';
@import 'components/creditcards.scss';
@import 'components/print.scss';


button, .button {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  cursor: pointer;
}

body.page-shop{
  @media only screen and (min-width:1020px){
    background:$white;
    background-size:20%;
  }
}

.print{
    @media only screen and (max-width:768px){
      //display: none;
    }
}
.wooden {
  background: $white;
}

a {
  color: $orange;
}
.red{
  color: red;
}
.clear{clear:both;}

ul.list {
  list-style-type: none;
  margin: 0;
  padding: 0 !important;

  & > li {
    @include clearfix;
    padding: 1em 2em;
    position: relative;
    border-top: 1px solid #CCC;

  }
}

ul.product {
  @include clearfix;

  li {
    padding: 0 0 1em;
    background: #f3f3f1;
    border: 1px solid #f3f3f1 !important;
    border-top: 1px solid #f3f3f1 !important;
    cursor: pointer;
    &:hover {
	    box-shadow: 0 0 20px rgba(black, .15);
    }
    @media (max-width: 767px) {
	    padding: 1em;
	    background: $white;
    }
    .photo {
      float: left;
      width: 125px;
      img { display: block;}
    }

    .info {
      padding: 14px;
      margin-left: 125px;
      position:relative;
      min-height: 125px;
      font-size: 18px;

      .name {
        a {
          font-family: $header_font;
          color: $grayblue;
          font-size: 1.15em;
          display: block;
          text-transform: uppercase;
		font-size: 22px;
		line-height: 125%;
		font-weight: normal;
		-webkit-font-smoothing: antialiased;
        }

        .uom {
          font-size: 0.7em;
        }



        @media only screen and (min-width:768px){
          height:150px;
          a {
            font-size: 1.15em;
          }
        }
      }

      .price_options {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 20px;
        color: $white;
        font-family:$header_font;
        text-align:center;
        background:$green;
        width:90%;
        padding:10px;
        text-transform:uppercase;
        letter-spacing:0.025em;
        -webkit-font-smoothing: antialiased;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
        &:after{
          content: url(images/arrowright.svg);
          position:absolute;
          right:20px;
          top:11px;
          width:1em;
          height:1em;
          img{
            width:100%;
            height:auto;
          }
        }
      }
      .price {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 27px;
        color: $apple-green;
        font-family:$header_font;
        letter-spacing:0.03em;
      }

      .onsale {
        position: absolute;
        bottom: 10px;
        left: 14px;
        font-size: 27px;
        font-family:$header_font;
        color: $red;
      }

      .detail {

      }
    }

  }
}


html,body {
  padding: 0;
  margin: 0;
}


.message {
  padding: 1em;

}

.view_all {
  display: block;
  text-align: right;
  padding: 1em;
  font-size: 1.2em;
}


.region-footer {
  @include clearfix;
}

.checkout{
  .error{
    background-color: red;
  }
}

.right{
  float: right;
}


.old_ie .no_old_ie {
  display: none;
}

#fancybox-wrap {
  box-sizing: content-box;
}

.quantity.review {
  font-family: "LeagueGothic","Helvetica Neue","sans-serif";
  font-size: 2.5em;
}

#page .choose-method fieldset{
  margin-top:1em;
  border: 1px dotted $light-gray;
  input{
    width:20px;
    display:inline-block;
  }
  label{
    display:inline-block;
  }
}

@import 'components/rwd.scss';
