<script type='text/javascript'>
    janrain.settings.borderColor = '#ffffff';
    janrain.settings.fontFamily = 'Helvetica, Lucida Grande, Verdana, sans-serif';
    janrain.settings.width = 300;
    janrain.settings.actionText = ' ';
    janrain.settings.capture.setProfileCookie = true;
    janrain.settings.capture.keepProfileCookieAfterLogout = true;
    janrain.settings.capture.modalCloseHtml = '<span class="janrain-icon-16 janrain-icon-ex2"></span>';
    janrain.settings.capture.noModalBorderInlineCss = true;
    janrain.settings.capture.returnExperienceUserData = ['displayName'];
    janrain.settings.capture.flowName = 'drupal';
    janrain.settings.capture.screenToRender = 'resetPasswordRequestCode';
</script>


<div style="display:none;" id="resetPassword">
    <div class="capture_header">
        <h1>Change password</h1>
    </div>
    {* newPasswordForm *}
        {* newpassword *}
        {* newpasswordConfirm *}
        <div class="capture_footer">
            {* submitButton *}
        </div>
    {* /newPasswordForm *}
</div>

<div style="display:none;" id="resetPasswordSuccess">
    <div class="capture_header">
        <h1>Your password has been changed</h1>
    </div>
    <p>Password has been successfully updated.</p>
    <div class="capture_footer">
        <!-- @TODO: Per QD-4178, temporarily remove Janrain modal capability until site-wide SSL is implemented. -->
        <!-- Add this class back in to the link: capture_modal_open -->
        <a href="/signin" class="menu_link_signin capture_btn capture_primary">Sign in</a>
    </div>
</div>

<div style="display:none;" id="resetPasswordRequestCode">
    <div class="capture_header">
        <h1>Create a new password</h1>
    </div>
    <p>We didn't recognize that password reset code. Enter your email address to get a new one.</p>
    {* #resetPasswordForm *}
        {* traditionalSignIn_emailAddress *}
        <div class="capture_footer">
            {* forgotPassword_sendButton *}
        </div>
    {* /resetPasswordForm *}
</div>

<div style="display:none;" id="resetPasswordRequestCodeSuccess">
    <div class="capture_header">
        <h1>Create a new password</h1>
    </div>
        <p>We've sent an email with instructions to create a new password. Your existing password has not been changed.</p>
    <div class="capture_footer">
        <a href="#" onclick="janrain.capture.ui.modal.close()" class="capture_btn capture_primary">Close</a>
    </div>
</div>

