<script type="text/javascript">
janrain.settings.borderColor = '#ffffff';
janrain.settings.fontFamily = 'Helvetica, Lucida Grande, Verdana, sans-serif';
janrain.settings.width = 300;
janrain.settings.actionText = ' ';
janrain.settings.capture.setProfileCookie = true;
janrain.settings.capture.keepProfileCookieAfterLogout = true;
janrain.settings.capture.modalCloseHtml = '<span class="janrain-icon-16 janrain-icon-ex2"></span>';
janrain.settings.capture.noModalBorderInlineCss = true;
janrain.settings.capture.returnExperienceUserData = ['displayName'];

janrain.settings.capture.flowName = 'drupal';
janrain.settings.capture.screenToRender = 'publicProfile';
</script>

<div style="display: none;" id="publicProfile">
        <div class="grid-block">
            <div class="col125">
                <div class="capture_profile_pic">
                    <div id="profile_pic" class="capture_default">
                        {* public_profilePhotoCustom *}
                    </div>
                </div>
            </div>
            <div class="col250">
                <h2>{* public_displayName *}</h2>
                {* public_profileBlurb *}
                </div>
            </div>
            <br/>
        <div class="grid-block">
            <div class="col4" style="margin-left:-42px;">
                {* public_name *}
                {* public_emailAddress *}
                {* public_phoneNumber *}
                {* public_address *}
                {* public_location *}
                {* public_gender *}
                {* public_birthdate *}
            </div>
        </div>
</div>

