.panel-mobile-store-event {
  margin-top: 0;
  padding-top: 0;
}

.panel-mobile-store-event .left-wrapper,
.panel-mobile-store-event .right-wrapper,
.panel-mobile-store-event .panel-left-1,
.panel-mobile-store-event .panel-right-1,
.panel-mobile-store-event .panel-left-2,
.panel-mobile-store-event .panel-right-2 {
  float: left;
  width: 50%;
}

.panel-mobile-store-event .top-wrapper,
.panel-mobile-store-event .bottom-wrapper {
  float: left;
  width: 100%;
}

.panel-mobile-store-event .panel-wide-1,
.panel-mobile-store-event .panel-wide-2 {
  clear: both;
}

.panel-mobile-store-event .right-wrapper,
.panel-mobile-store-event .panel-sidebar .inside {
  margin: 0 0 .5em;
}

.panel-mobile-store-event .panel-left-1 .inside,
.panel-mobile-store-event .panel-left-2 .inside,
.panel-mobile-store-event .panel-right-1 .inside,
.panel-mobile-store-event .panel-right-2 .inside,
.panel-mobile-store-event .panel-wide-1 .inside,
.panel-mobile-store-event .panel-wide-2 .inside {
  margin: 0 0 .5em .5em;
}
