/*
  SMS Page
*/
body.page-action {
  .sms-content {
    caption {
      text-align: left;
      font-size:22px;
      margin-bottom: 20px;
      font-weight:bold;
    }
    thead {
      th {
        font-weight:bold;
        border-bottom: 1px solid #222;
        padding: 0 0 0 5px;
      }
    }
    tbody {
      td {
        padding: 5px;
        vertical-align: middle;
        .line-name {
          font-weight: bold;
          display: inline-block;
          //margin: 5px 0 5px 0;
        }
        .line-desc {
          font-style: italic;
        }
      }
      tr:nth-child(even) {
        background-color: #fff;
      }
    }
  }
}

/*
  Modals on the shopping list
*/
body.page-user {
  #modalContent .ctools-modal-content #modal-content {
    padding: 0;
    margin: 0;

    .shopping-list-model-box {
      background: #fff;
      border: 1px solid $orange-color;

      &.email-modal {
        .modal-title {
          background-color: $orange-color;
          color: #fff;
          font-size: 24px;
          font-weight: normal;
          padding: 10px;
        }
        .email-info {
          margin-bottom: 20px;
        }
        #email-box {
          padding: 10px;

          .email-to-myself, .email-to, .email-from,
          .recipient-phone, .mobile-carrier {
            margin-bottom: 15px;
            width: 100%;
          }
          .email-to, .email-from {
            input {
              border: 1px solid black;
              width: 300px;
            }
          }
          .email-to-email, .email-from-email {
            display: inline-block;
            width: 40px;
          }
          span.checkbox-col {
            display: inline-block;
            height: 15px;
            margin-right: 1px;
            width: 15px;
          }
          .email-buttons {
            height: 45px;
            width: 250px;

            a {
              display: inline-block;
              height: 21px;
              padding: 5px 0 0;
              text-align: center;
              text-decoration: none;
              width: 100px;
            }
            .orange-link {
              @extend .orange-button-cta;
            }
            .simple-link {
              color: $orange-color;
            }
          }
        }
        &.share-modal {
          #email-box {
            .email-to-email, .email-from-email {
              width: 70px;
            }
          }
        }
      }

      &.sms-modal {
        .carrier-label, .recipients-phone {
          display: inline-block;
          width: 110px;
        }
        .recipient-phone, .mobile-carrier {
          input {
            border: 1px solid black;
            width: 276px;
          }
          .subnote {
            color: $gray-text;
            display: block;
            font-size: 10px;
            margin-bottom: 20px;
          }
        }
      }

      select {
        min-width: 280px;
        padding: 2px 3px;
        background: image-url('select-arrow.jpg') no-repeat;
        background-position: right center;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -webkit-appearance: none;
        border-color: $orange-color;
        font-size: 12px;
        height: 24px;

        &:focus {
          outline: none;
        }
      }
    }
    .email_body, .email_subject {
      display: none;
    }
  }
}



/*-------------------------------
  style for login page
-------------------------------*/
body.page-user- {

  .column {
    .torn-pod-header { display: none }
    .torn-pod-content { padding: 0px; background: inherit; }
  }
}

#block-users-users-profile-header {
  .display-name {
    margin-bottom: 0;
  }
  .menu {
    @extend .clearfix;
    list-style-type: none;
    padding: 0;
    margin: 0 0 1em 0;
    li {
      float:left;
      margin: 0 5px 0 0;
      padding: 0 5px 0 0;
      border-right: 1px solid $dkgray-color;
      list-style: none;
      &:last-child {
        border-right: 0;
      }
      &.active-trail {
        a {
          color: $dkgray-color;
          text-decoration: none;
          &:hover {
            color: $dkgray-color;
          }
        }
      }
    }
  }
}

#users-special-diet-selection {
  .form-item {
    @include inline-block;
    width: 150px;
  }
}

/*Shopping tab*/
#block-users-user-shopping-self, #block-users-user-shopping-other {
  h2 {
    .edit-link-title {
      float: left;
    }
    .edit-link-subtitle {
      .title {
        span {
          &.list-title {
            margin-right: 15px;
          }
          &.list-subtitle {
            display: block;
            float: none;
            font-size: 14px;
            left: -78px;
            margin-bottom: 10px;
            position: relative;
            width: 100%;
          }
          &.options {
            font-size: 14px ;
          }
          display: inline-block;
        }
        display: none;
      }
      float: left;
    }
    color: $gray-text;
    font-family: $headingbold;
    font-size: 22px ;
    font-weight: normal;
  }
  .right {
    float: right;
    .card {
      .email_body { display: none; }
      .email_subject { display: none; }
      .list_item_edit_form {
        display: none;
        margin-bottom: 20px;
      }
      .rename_field { display: none; margin-right: 5px; }
      .rename_link, .delete_link {
        @include font-and-line(13px, 20px);
        font-family: $bodyfont;
      }
      .top {
        padding-top: 1px;
        .right-header {
          display: none;
          float: right;
          .email_link a {
            display: inline-block;
            width: 16px;
            height: 10px;
            margin: 4px 5px 4px 0;
            background: image-url('ui-sprite.png') -24px -14px no-repeat;
            text-indent: -10000px;
          }
          .print_link a {
            display: inline-block;
            width: 17px;
            height: 15px;
            margin: 0 5px 2px 0;
            background: image-url('ui-sprite.png') 0 -48px no-repeat;
            text-indent: -10000px;
          }
          .sms_link a {
            display: inline-block;
            width: 10px;
            height: 18px;
            margin-right: 5px;
            background: image-url('ui-sprite.png') -24px -24px no-repeat;
            text-indent: -10000px;
          }
          .share_link a {
            display: inline-block;
            width: 17px;
            height: 16px;
            margin: 0 0 2px 0;
            background: image-url('ui-sprite.png') -17px -48px no-repeat;
            text-indent: -10000px;
          }
          .list_remove_link a {
            display: inline-block;
            width: 11px;
            height: 11px;
            margin: 0 0 3px 0;
            background: image-url('ui-sprite.png') 0 -63px no-repeat;
            text-indent: -10000px;
          }
        }
      }
      .content {
        display: none;
      }
      #list-none {
        clear: both;
        margin-top: 35px;
        width: 100%;
      }
      #users-add-shopping-list-item-form, #list-add, .list-add-item {
        display: none;
      }
      .content.default {
        display: block;
      }
      #shopping-list {
        #users-add-shopping-list-item-form {
          margin-bottom: 40px;
          position: relative;
          top: 20px;
        }
        .list-top-text {
          .top-text-left, .top-text-right, .sort-msg, .sort-controls {
            float: left;
          }
          .top-text-left {
            .list-add-item {
              margin-bottom: 20px;
            }
            width: 60%;
          }
          .top-text-right {
            span.item-list-sort-by-latest, span.item-list-sort-by-dept {
              font-weight: bold;
            }
            width: 40%;
          }
          margin-top: 40px;
          width: 100%;
        }
        ul {
          &.list_item_list {
            &> li {
              .list-item {
                .delete-item-icon a {
                  display: inline-block;
                  width: 9px;
                  height: 11px;
                  margin-right: 5px;
                  background: image-url('account/trashcan-sprite.png') 0 -11px no-repeat;
                  text-indent: -10000px;

                  &:hover {
                    background: image-url('account/trashcan-sprite.png') 0 0 no-repeat;
                  }
                }
                div {
                  display: inline-block;
                }
                .list-item-name-desc {
                  .list-item-desc {
                    margin-left: 15px;
                    width: 100%;
                  }
                  width: 60%;
                }
                .list-item-category {
                  vertical-align: top;
                  width: 40%;
                }

                margin-bottom: 8px;
                width: 100%;
              }
              input.delete-item {
                display: none;
              }
              list-style-type: none;
            }
            margin: 0;
            padding: 0;
          }
        }
        clear: both;
        color: $gray-text;
        margin-bottom: 20px;
      }
      width: 650px;
    }
  }

  .left {
    width: 250px;
    float: left;
    ul.list_links {
      li {
        a {
          background: none;
          color: $orange-color;
          margin: 0;
        }
        list-style-type: none;
      }
      margin: 0;
      padding: 0;
    }
    .list_link {
      color: $orange-color;
      display: block;
      margin: 14px 0;
    }
  }
}
