.tastydetail {
  padding: 1em 0 .5em;
  border-top: 1px #999 solid;
  margin-top: 1em;
  clear: both;
  h3 {
    @include font-and-line(24px, 32px);
    color: $slate;
  }
  h4 {
    @include font-and-line(18px, 24px);
    color: $slate;
  }
}
