// Initially hidden form components. Why individual ids? Adding a class in the store_form_webform_client_form_7477_alter
// function on a webform adds it to the input, not the wrapping div. We want to hide the wrapping div.

#webform-component-step3--product-upc, #webform-component-step2--store-zip-code, #webform-component-step3--body,
.form-item-submitted-step2-store-wrap-state-select, .form-item-submitted-step2-store-wrap-store-select,
.form-item-submitted-step2-store-wrap-365-state-select, .form-item-submitted-step2-store-wrap-365-store-select,
#phone-number-box-wrapper,#webform-component-step2--product-category, #webform-component-step2--trouble-url, #webform-component-step2--product-category,#webform-component-step2--what-device,#webform-component-step2--signin-method,#webform-component-step2--user-email {
  display: none;
}

#webform-client-form-7477 {
  position: relative;
  * {
    box-sizing: border-box;
  }
  fieldset.form-wrapper {
    counter-increment: step-counter;
    &:before {
      display: inline-block;
      content: counter(step-counter);
      padding: 15px 19px;
      text-align: center;
      background: $disabled;
      color: #fff;
      border-radius: 100%;
      margin: 20px 30px 0 0;
      vertical-align: top;
      font-size: 24px;
    }
    &.is-active {
      &:before {
        background: $orange-color;
      }
    }
    & > .fieldset-wrapper {
      display: inline-block;
      @media (min-width: 1000px) {
        max-width: 80%;
      }
    }
  }
  label {
    text-transform: none;
  }
}

#webform-component-name, #webform-component-email, #webform-component-phone {
  display: inline-block;
  max-width: 290px;
  margin-right: 20px;
  .form-text {
    max-width: 100%;
  }
}

#webform-component-phone {
  margin-right: 0;
}

#phone-number-box-wrapper {
  display: inline-block;
  background: #F4E08A;
  max-width: 350px;
  vertical-align: middle;
  @media (min-width: 785px) {
    margin-top: 30px;
  }
  /*width: 212px;*/
  &.topic-instacart {
    top:175px;
  }
  #phone-number-box {
    padding: 10px;
  }
  .phone-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 10px 10px;
  }
}

#customer-service-store-select-wrap {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}

#edit-submitted-step3-product-upc {
  vertical-align: top;
  margin-right: 20px;
}

/**
 * CSS for terms of use and privacy policy webform pages
 */
#webform-client-form-5620866,
#webform-client-form-5620871 {
  label {
    text-transform: none;
  }

  #webform-component-name,
  #webform-component-email-address {
    display: inline-block;
  }
}
