/************************************************************************************
 Smaller than 1400
 *************************************************************************************/
@media only screen and (min-width: 1220px) and (max-width: 1400px) {
  /*.region-marquee #block-views-marquee-scroller-block .marquee-container .marquee-content {
    margin-left: 240px;
  }

  .flex-control-nav {
    margin-left: 215px;
  }*/

  #main, #footer .section, body.page-node-41.not-front.page-node .recipeSpotlight {
    margin-left: 240px;
  }

  #block-views-generic-page-items-marqee {
    left: 65px;
  }
}
@media only screen and (min-width: 1220px) and (max-width: 1680px) {
  .region-marquee img {
    min-height: 484px;
  }
}
