// Special Diet Content Styles
#node-18 {
  .field-type-text-with-summary {
    //display: none;
  }
}

.view-display-id-diet_content_header {
  .view-header {
    display: none;
  }
}

.view-display-id-specialdiet_header {
  .views-row {
    display: table-cell;
    vertical-align: middle;
  }
  //padding: 10px 20px 20px;
  .hero-header-img {
    width: 425px;
    height: 285px;
    border: 1px solid #999;
    overflow: hidden;
    float: left;
    margin: 0 20px 0 0;
  }
  h2 {
    &.hero-header-title {
      font: {
        size: 36px;
        weight: normal;
      }
      text-transform: uppercase;
      color: #428f9a;
    }
  }
  .hero-header-subtitle {
    font: {
      size: 14px;
    }
    padding: 0 0 20px;
    text-transform: uppercase;
    color: #333;
  }
  .hero-header-text {
    font: {
      size: 12px;
    }
    .blurb {
      font: {
        size: 16px;
        family: "Times New Roman";
        weight: bold;
      }
      padding: 0 0 15px;
    }
  }
}

// Special Diet listing

.view-display-id-specialdiet_listing {
  .views-row {
    padding: 20px 0;
    border-bottom: 1px #999 solid;
    overflow: hidden;
    &:hover{
      background: #fff;
    }
    .sdiet-img {
      width: 190px;
      height: 135px;
      border: 1px #999 solid;
      overflow: hidden;
      float: left;
      margin: 0 20px 0 20px;
    }
    h3 {
      &.sdiet-title {
        font: {
          weight: normal;
          size: 22px;
        }
        padding: 0 0 10px;
        text-transform: uppercase;
      }
    }
    .sdiet-text {
      padding: 0 0 10px;
    }
  }
  .views-row-last {
    border-bottom: none;
  }
}


//Specific Diet Header Styles
.view-id-special_diets {
  .view-content {
    img {
      float: left;
      margin-right: 20px;
    }
    h2 {
      font-family: $headingbold;
      text-transform: uppercase;
    }
  }
}

.column {
  #block-views-special-diets-related-recipes {
    padding-top: 20px;
    border-top: 1px solid  $gray-text;
    overflow: hidden;

    h2, .view-header {
      margin: 0 0 10px;
      color: $gray-text;
      font-family: $bodyfont;
      font-size: 22px ;
      font-weight: normal;
      text-transform: uppercase;
    }
    .view-display-id-related_recipes {
      .views-row {
        float: left;
        width: 262px;
        margin: 0 58px 20px 0;
        overflow: hidden;

        &.views-row-last {
          margin-right: 0px;
        }
        a {
          display: block;
          margin-bottom: 10px;
          color: #000;
          font-size: 14px;
          font-family: $bodyfont;
          &.pluck-itemRatings-rating-star {
            display: inline-block;
          }
          img {
            display: block;
            margin-bottom: 15px;
            border: 1px solid #9a947e;
            max-width: 200px;
          }
        }
      }
    }
  }
}

.column.with-sidebar {
  #block-views-special-diets-related-recipes {
    padding-top: 20px;
    border-top: 1px solid  $gray-text;
    overflow: hidden;

    h2, .view-header {
      @include font-and-line(22px, 26px);
      margin: 0 0 10px;
      color: $gray-text;
      font-family: $headingmedium;
      font-weight: normal;
      text-transform: uppercase;
    }
    .view-display-id-related_recipes {
      .views-row {
        float: left;
        width: 205px;
        margin: 0 8px 20px 0;
        overflow: hidden;

        &.views-row-last {
          margin-right: 0px;
        }
        a {
          display: block;
          margin-bottom: 10px;
          color: #000;
          font-size: 14px;
          font-family: $bodyfont;
          &.pluck-itemRatings-rating-star {
            display: inline-block;
          }
          img {
            display: block;
            margin-bottom: 15px;
            border: 1px solid #9a947e;
          }
        }
      }
    }
  }
}

#block-views-special-diets-shopping-list-pdf {
  padding: 20px ;
}

.view-display-id-shopping_list_pdf {
  .views-field-php {
    margin-bottom: 15px;
  }
}


.view-special-diets.view-id-special_diets.view-display-id-related_recipes {
  a {
    font-size: 13px;
    color: #EC7A37;
    text-decoration: none;
  }
}