.torn-pod-content {
  h3 {
    a {
      color: $orange-color;
    }
  }
}

.column.with-sidebar {
  .view-generic-page-items {
    .list-row {
      padding: 20px 0 ;
      @include animate(.4s);
      background-color: #fff;
      .brief {
        .float-right {
          width: 52% ;
        }
        .image {
          border: 1px solid #999;

          img {
            //width: 195px ;
            //height: 135px ;
          }
        }
      }
      &:hover {
        background-color: #eee;
      }
    }
    .list-row:last-of-type { border-bottom: 0px }

    .title {
      color: $grass;
      @include font-and-line(24px, 28px);
      font-weight: normal;
      font-family: $headingmedium;
      margin: 0 0 10px 0;
    }

    .copy {
      font-size: 13px;
      line-height: 18px;
      margin-bottom: 10px;
    }
    .expanded {
      position: relative;
      padding: 20px;
      background: #fff;
      .copy {
        color: #000;
      }
      .collapser {
        float: right;
        padding-right: 18px;
        background: image-url('icon-advanced-search-mini.png') right no-repeat;
        text-transform: uppercase;
      }
    }

  }
}

.column {
  .view-generic-page-items {
    .list-row {
      padding: 20px 0 ;
      border-bottom: 1px solid #999;
      .brief {
        .float-right {
          width: 65% ;
        }
        .image {
          width: 260px ;
          img {
            width: 260px ;
          }
        }
        .title {
          /*color: $gray-text;
          font-size: 22px;
          font-weight: normal ;
          text-transform: uppercase ;
          */
          line-height: 26px;
        }

        .copy {
          font-size: 13px;
          line-height: 18px;
        }
      }

    }

    .expanded {
      position: relative;
      padding: 10px;
      background: #fff;
      overflow: hidden;

      .title {
        margin: 10px 0 10px 0 ;
        color: $gray-text;
        font-size: 22px;
        font-weight: normal ;
        text-transform: uppercase ;
      }

      .image {
        float: left;
        /*margin-left:10px;*/
        margin-right: 15px;
      }

      .copy {
        color: #000;
      }
      .collapser {
        float: right;
        padding-right: 18px;
        background: image-url('icon-advanced-search-mini.png') right no-repeat;
        text-transform: uppercase;
      }
    }

  }
}

.page-node, .node-type-page {
  #content {
    .section > {
      .torn-pod-content {
        padding:0;
        #breadcrumb.shown { margin: 0 0 0 20px; }

        .contentbox {
          #block-views-generic-page-items-block-2, .block-views {
            padding: 0 20px;
          }

          #block-views-generic-page-items-list-copy {
            padding: 0px;
            .view-generic-page-items {
              .brief {
                .image {
                  margin-left: 20px;
                  float: left;
                }
                .float-right {
                  margin-left: 20px;
                  float: left;
                }
              }
              .expanded {
                display: none;
              }
            }
          }
        }



      }
    }
  }
}

#block-views-newsletter-form-heading-block, #block-newsletters-newsletters-form {
  padding-left: 20px;
  padding-right: 20px;
}

dd {
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
}

.layout_one #sidebar-second .view-related-content-views, .view-related-content-views {
  div.view-header {
    margin:0 0 10px 0;
  }
  li.views-row {
    @include clearfix;
    min-height: 65px;
    margin:0;
    padding: 0;
    list-style-type:none;
    div.views-field {
      a {
        @extend .body-copy-link;
        @include font-and-line(13px, 20px);
        font-family: $bodyfont;
      }
      img {
        float: left;
        margin-right:10px;
        border: 1px solid #cccccc;
      }
    }
    .views-field-title {
      margin-left:67px;
    }
  }
}

#block-views-fd2a6c0255cf3ee31b1c0243bf5a47ed {
  //padding: 20px;
}

body.page-node-7477 div.region-content-top div.header-content {
  font-size:13px;
  line-height:20px;
  margin: 0 0 10px 0;
}

body.page-node-7477 div.region-content-top div#phone-number-box {
  font-size:13px;
        line-height:20px;
  margin: 10px 0 0 0;
}

@media only screen and (max-width: 999px) {

  .views-field-field-page-marquee-heading .field-content {
   margin-top: -160px ;
   font-size: 60px;
   line-height: 1;
  }
  .views-field-field-page-marquee-copy .field-content {
  font-size: 48px;
  line-height: 1;
  }

}

#block-core-wholefoods-recipe-forums, #block-core-wholefoods-forums {
  width: 915px;
  margin: 20px auto;
}

.view-related-content.view-id-related_content {
  .views-row { border-bottom: 1px solid #999 }
}

.view-related-content-views.view-id-related_content_views {
 .views-row { border-bottom: 0px; }
}

body.page-user #block-views-marquee-page-block .view-empty {
  display:none;
}

.view-related-content.view-display-id-block {
  .views-row {
    padding: 0 0 20px 0;
    margin: 0 0 15px 0;
  }
  .views-field-field-related-page-title {
    .field-content {
      @include font-and-line(28px, 24px);
      font-family: $headingbold;
      color: $slate;
      text-transform: uppercase;
    }
  }
}

.ReportAbuse_Container {
  width: 310px ;
  margin-top:   -250px;
  height: 190px;
  select {
  width: auto;
  }
}
div.Forums_MainContainer {
padding-bottom: 140px;
}

@media only screen and (min-width: 1000px) {
  .front .region-marquee {
    max-height: 700px;
    min-height: 500px;
  }
}

@media only screen and (min-width: 1400px) {
  .page-node-43 #free-form-container .free-form-content {
    margin-top: 120px;
  }
}

.events .event .right .store {
  min-height: 25px;
}

.page-node-7754 .torn-pod-content .contentbox .block-views {
  padding: 0px ;
}

.page-node-46 {
  #block-views-generic-page-items-block-2{
  padding-bottom: 40px ;
  }
    .torn-pod-content .field-content {
    h3 {
    font-size: 16px;
    font-weight: bold;
    }
  }
}

.list-row:hover {
  cursor: pointer;
}

.node-type-blog {
  .pager-current {
    display: none;
  }

  .pager-previous{
    text-align: left
  }
  .pager-next{
    text-align: right;
  }
  .item-list .pager {
    background: #fff;
    padding: 10px;
  }
}

.tweet-content {
  .handle {
    margin-top: -2px;
  }
}

.page-node-done .links {
  margin: 0 0 20px 20px;
}

#sidebar-second, .wfm-coupons-sidebar-block {
  h3 {
    @include font-and-line(28px, 24px);
    color: $slate;
    font-family: $headingbold;
    margin: 0 0 10px 0;
    text-transform: uppercase;
  }
}

.page-node-74 {
  .region-content-top {
    margin-bottom: 50px;
  }
  #content {
    display: none;
  }
}

.node-type-blog {
  #block-system-main {
    @extend .hide;
  }
}

.node-type-page, .node-type-store, .node-type-product-line {
  #block-system-main {
    @extend .hide;
  }
  #content .breadcrumb {
    margin: 20px 0 10px 0;
  }
}

.node-type-webform, .node-type-department-article, .node-type-local-vendor, .node-type-event {
  #content .breadcrumb {
    margin: 15px 0 10px 0;
  }
}

// We don't ever want to see this field content
.field-name-field-sponsored-search-terms, .field-name-remove-from-search-field {
  display: none;
}