.header {
  /*color: #fff;*/
  position: absolute;
  top: 0;
  width: 100%;

  background: #fff;
  z-index: 1;
  p {
    margin: 0;
  }
  .region-header {
    width: 960px;
    position: relative;
    margin: 0 auto 10px;
    height: 50px;
  }
  #block-wfm-welcome-block-wfm-welcome-block {
    position: absolute;
    bottom: 0px;
    color: #000;
    a {
      color: #000;
      &:first-child {
        text-decoration: none;
      }
    }
    .welcome-box {
      font-family: 'GracesHandRegular';
      font-size: 32px;
      line-height: 25px;
      margin-bottom: 8px;
      color: #000;
    }
    .store-box {
      font-family: $bodyfont;
      font-size: 11px;
      line-height: 12px;
      color: #000;
    }
  }

  #block-system-user-menu {
    width:520px;
    position: absolute;
    left:180px;
    bottom: 6px;
    margin: 0;
    .content {
      margin: 0px;
      padding: 0px;
    }
    h2 {
      display: none;
    }
    ul {
      margin: 5px 0 0;
      padding: 0;
    }
    li {
      display: inline;
      margin: 0;
      color: #fff;
      font-size: 10px;
      padding: 0;
      a {
        padding: 0 0 0 12px;
        text-decoration: none;
        font-family: "LeagueGothic";
        text-transform: uppercase;
        font-weight: normal;
        font-size: 21px;
        color: $snap-pea;
        -webkit-font-smoothing: antialiased;
      }
      &.last {
        background-image: none;
      }
    }
    li.last {
      a {
        border-right: 0 none;        
      }
    }
  }
  #block-search-api-page-global-search {
    position: absolute;
    right: 0px;
    bottom: 5px;
    width: 238px;
    h2 {
      display: none;
    }
    .form-type-textfield {
      margin-top: 5px;
      margin-bottom: 0;
      float: left;
    }
    input[type="text"]{
      width: 200px;
      margin: 0 -4px 0 0;
      color: #333;
      font-size: 12px;
      height: 11px;
    }
    .form-submit {
      @include search-submit(25px, 21px);
      margin: 5px 0 0 4px;
      border: 1px solid $orange-color;
    }
    #autocomplete li {
      padding: 0 4px;
    }
  }
}

@-moz-document url-prefix() {
  .header #block-search-api-page-global-search .form-submit {
    height: 20px;
  }
}

.toolbar {
  .header {
    top: 30px;
  }
  &.toolbar-drawer {
    .header {
      top:65px;
    }
  }
}











