//Holiday script font
@font-face {
    font-family: 'AZCutScript';
    src: url('../fonts/AZCUTSCR-webfont.eot');
    src: url('../fonts/AZCUTSCR-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AZCUTSCR-webfont.woff') format('woff'),
         url('../fonts/AZCUTSCR-webfont.ttf') format('truetype'),
         url('../fonts/AZCUTSCR-webfont.svg#AZCutScript') format('svg');
    font-weight: normal;
    font-style: normal;
}
//Holiday 3d border font
@font-face {
    font-family: 'station4';
    src: url('../fonts/station4-webfont.eot');
    src: url('../fonts/station4-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/station4-webfont.woff') format('woff'),
         url('../fonts/station4-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TradeGothic';
    src: url('../fonts/trade-gothic.eot');
    src: url('../fonts/trade-gothic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/trade-gothic.woff') format('woff'),
         url('../fonts/trade-gothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HolidayIcon';
    src: url('../fonts/holidays2013.eot');
    src: url('../fonts/holidays2013.eot?#iefix') format('embedded-opentype'),
         url('../fonts/holidays2013.woff') format('woff'),
         url('../fonts/holidays2013.ttf') format('truetype'),
         url('../fonts/holidays2013.svg#holidays2013') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WFMScalaSansSpringRegular';
    src: url('../fonts/WFMScalaSansSpringRegular-web.eot');
    src: url('../fonts/WFMScalaSansSpringRegular-web.eot?#iefix') format('embedded-opentype'),
         url('../fonts/WFMScalaSansSpringRegular-web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WFMScalaSansSpringRegularSC';
    src: url('../fonts/WFMScalaSansSpringRegularSC-web.eot');
    src: url('../fonts/WFMScalaSansSpringRegularSC-web.eot?#iefix') format('embedded-opentype'),
         url('../fonts/WFMScalaSansSpringRegularSC-web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WFMScalaSansSpringBold';
    src: url('../fonts/WFMScalaSansSpringBold-web.eot');
    src: url('../fonts/WFMScalaSansSpringBold-web.eot?#iefix') format('embedded-opentype'),
         url('../fonts/WFMScalaSansSpringBold-web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WFMScalaSansSpringBoldSC';
    src: url('../fonts/WFMScalaSansSpringBoldSC-web.eot');
    src: url('../fonts/WFMScalaSansSpringBoldSC-web.eot?#iefix') format('embedded-opentype'),
         url('../fonts/WFMScalaSansSpringBoldSC-web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@mixin holiday-border {
  padding: 5px 0;
  background: image-url('holiday2013/onedot.png') top left repeat;
}

//Holiday Colors
$holiday-orange: #c0511f;
$holiday-red: #b30f20;
$holiday-green: #6fac97;
$holiday-gray: #4e4943;
$holiday-border-gray: #c6beb4;
//Holiday Hover colors
$holiday-green-hover: #1c7864;
$holiday-orange-hover: #9a4119;
$holiday-red-hover: #810916;

//Holiday homepage layout
#holiday-wrap {
  padding: 0 20px;
  margin: 0 0 20px 0;
  .item {
    @include border-box;
    width: 100%;
    margin:0 auto 15px auto;
    text-align: center;
    max-width: 85%;
    p {
      color: $holiday-green;
      @include animate(.4s);
    }
    .imgreplace {
      background-size: 100% 100% ;
      width: 100%;
      height: 100%;
      position: relative;
      @include opacity-fix;
      img {
        @include animate(.4s);
        @include opacity-fix;
        max-height: 100%;
        width: 100%;
      }  
    }
    a {
      @include animate(.4s);
    }
    span[class*='icon'] {
      font-size: 32px ; //Why? Need an  for any font-size apparently
    }
    span.icon-arrow {
      font-size: 24px ;
      border-radius: 100px;
    }
    h2 {
      font-family: "TradeGothic", "Helvetica Nueue", Helvetica, arial;
      font-size: 20px ;
      text-transform: uppercase;
      a {
        color: $holiday-green;
        @include animate(.4s);
        font-size: 20px ;
        line-height: 1.231;
      }
    }
    &:hover {
      .banner {
        background-color: $holiday-green-hover;
      }
      p {
        color: $holiday-green-hover;
      }
      .imgreplace img {
        opacity: 0;
      }     
      .arrow {
        a {
          opacity: 0;
        }
      }  
      h3 {
        color: $holiday-green-hover;
      }
      h2 {
        a {
          color: $holiday-green-hover;
        }
      }
    }
    &.holiday-color {
      p, h2, a {
        color: $holiday-orange;
        @include animate(.4s);
      }
      .arrow {
        background: image-url('holiday2013/arrows.png') 0 -75px no-repeat;
        a {
          background: image-url('holiday2013/arrows.png') 0 0 no-repeat;
        }
      }  
      &:hover {
        p, h2, a {
          color: $holiday-orange-hover;
        }
      }
    }
  }

  .item.h2 { 
    max-width: 100%;
  }

  .left { 
    float:left; 
    @include border-box;
    border-right: 1px solid $holiday-border-gray;
    .h2 {
      width: 95%;
    }
  }
  .right { 
    float:right; 
    @include border-box;
    .item.h2 {
      max-width: 94%;
    }
  }
  .left > .left, .left > .right, .right > .left, .right > .right {
    width: 50%;
    @media only screen and (max-width: 768px) {
      width: 50%;
    }
  }

  .right > .right { 
    padding-right: 0;
  }  

  .item.border-bottom {
    padding-bottom: 10px;
    background: image-url('holiday2013/onedot.png') bottom left repeat-x;
  }
  .item.border-top {
    padding-top: 30px;
    background: image-url('holiday2013/onedot.png') top left repeat-x;
  }  
  .imgreplace {
    margin: 0 auto 10px auto;
  }

  .recipe-holiday-body {
    text-align: center;
  }
  h2.banner, h3.banner {
    height: 29px;
    background-color: $holiday-green;
    color: #fff;
    display: inline-block;
    @include animate(.4s);
    line-height: 1.6;
    text-transform: uppercase;
    font-size: 20px ;
    font-family: "TradeGothic", "Helvetica Nueue", Helvetica, arial;
    span {
      background: image-url('holiday2013/banner-mask.png');
      width: 7px;
      height: 29px;
      display: inline-block;
      background-position: -7px 0px;
      margin: 0 0 0 15px;
      &:first-child {
        background-position: 0px 0px;
        margin: 0 15px 0 0;
      }
    }
  }
  //hover states for item divs
  .item.hover {
    .banner {
      background-color: $holiday-green-hover;
    }
    p {
      color: $holiday-green-hover;
    }
  }
  //resize those headings on the landing page
  #beer-wine-cheese {
    font-size: 18px ;
    line-height: 1.8;
    @media (max-width: 940px) {
      font-size: 16px ;
    }
    @media (max-width: 870px) {
      font-size: 15px ;
      line-height: 2.1;
    }
    @media (max-width: 840px) {
      font-size: 12px ;
      line-height: 2.5;
    }
    @media (max-width: 780px) {
      font-size: 11px ;
      line-height: 2.8;
    }
    @media (max-width: 768px) {
      font-size: 20px ;
      line-height: 1.6;
    }    
  }
  #holiday-baking {
    @media (max-width: 829px) {
      font-size: 18px ;
      line-height: 1.8;
    }
    @media (max-width: 768px) {
      font-size: 20px ;
      line-height: 1.6;
    }     
  }
}

#holiday-wrap > .left, #holiday-wrap > .right {
  width: 50%;
  @media only screen and (max-width: 768px) {
    float:none;
    width: 100%;
  }  
}

#holiday-wrap > .right {
  width: 50%;
  @media only screen and (max-width: 768px) {
    float:none;
    width: 100%;
  }   
}

//Holy selector!  Yes, this is necessary to get rid of some padding.
.holidays.page-node #content .section>.torn-pod-content .contentbox #block-views-generic-page-items-block-2, 
.holidays.page-node #content .section>.torn-pod-content .contentbox .block-views, 
.holidays.node-type-page #content .section>.torn-pod-content .contentbox #block-views-generic-page-items-block-2, 
.holidays.node-type-page #content .section>.torn-pod-content .contentbox .block-views {
  padding: 0;
}
//Base styles holiday landing pages
body.holidays {
  .torn-pod-header, .torn-pod-footer, #breadcrumb {
    display: none;
  }
  .torn-pod-content {
    background: #fff;
    position:relative;
  }
  .torn-pod-content h2 a {
    font-size: 16px ;
    color: #fff
  }
  .holiday-head {
    display: block;
    margin-bottom: 2em;
  }   
  .script {
    font-family: "AZCutScript", script;
    text-transform: none;
    font-size: 80%;
  }
  #content {
    background: #fff;
    .field-content {
      padding-top:50px;
    }
  }
  p {
    font-family: WFMScalaSansSpringRegular, "Helvetica Nueue", helvetica, $bodyfont;
    font-size: 14px ;
    a {
      font-size: 14px ;
    }
  }
  b {
    font-weight: bold;
    font-family: WFMScalaSansSpringBold, "Helvetica Nueue", helvetica, $bodyfont;
  }
  hr {
    margin: 40px 0;
    background: image-url('holiday2013/onedot.png') bottom center repeat-x;
    height: 4px;
    border-top: 0 none;
  }
  h3 {
    color: #6fac97;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "TradeGothic", "Helvetica Nueue", Helvetica, arial;
    font-weight: normal;
    margin: 0 0 1em 0;
  }
  h4 {
    color: $holiday-gray;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    font-family: "TradeGothic", "Helvetica Nueue", Helvetica, arial;
    font-weight: normal;
    margin-bottom: 15px;
  }
  .arrow {
    width: 23px;
    height: 23px;
    min-height: 23px ;
    margin: 0 auto 10px auto;
    background: image-url('holiday2013/arrows.png') 0 -50px no-repeat;
    //@include animate(0);
    a {
      text-indent: -9999px;
      background: image-url('holiday2013/arrows.png') 0 -25px no-repeat;
      width: 23px;
      height: 23px;
      @include animate(.4s);
      display: block;
    }
  }
  .embed-container {
    position: relative; 
    padding-bottom: 56.25%; 
    padding-top: 30px; 
    margin: 40px 0 40px 30px; 
    height: 0; 
    overflow: hidden; 
    max-width: 94%; 
    height: auto;
    iframe, object, embed {
      position: absolute; 
      top: 0; 
      left: 0; 
      width: 100%; 
      height: 100%;
    }
  }
  .top-img {
    margin: 20px 0 30px 30px;
  }
  .banners {
    background: image-url('holiday2013/onedot.png') top center repeat-x;
    margin-top: 20px;
    padding-top: 14px;
    img {
      @include animate(.4s);
      &:hover {
        opacity: 0;
      }
    }
  }
  //recipe navigation current item styling
  &.main-courses {
    .holiday-inline-nav .main-courses {
      a {
        color: $holiday-gray;
      }
    }
  }
  &.appetizers {
    .holiday-inline-nav .appetizers {
      a {
        color: $holiday-gray;
      }
    }
  }
  &.side-dishes {
    .holiday-inline-nav .side-dishes {
      a {
        color: $holiday-gray;
      }
    }
  }  
  &.potatoes-and-sweet-potatoes {
    .holiday-inline-nav .potatoes-and-sweet-potatoes {
      a {
        color: $holiday-gray;
      }
    }
  }  
  &.cookies {
    .holiday-inline-nav .cookies {
      a {
        color: $holiday-gray;
      }
    }
  }
  &.pies {
    .holiday-inline-nav .pies {
      a {
        color: $holiday-gray;
      }
    }
  }  
  &.desserts {
    .holiday-inline-nav .desserts {
      a {
        color: $holiday-gray;
      }
    }
  } 
  &.vegetarian {
    .holiday-inline-nav .vegetarian {
      a {
        color: $holiday-gray;
      }
    }
  }  
  &.vegan {
    .holiday-inline-nav .vegan {
      a {
        color: $holiday-gray;
      }
    }
  }  
  &.gluten-free {
    .holiday-inline-nav .gluten-free {
      a {
        color: $holiday-gray;
      }
    }
  }
  &.healthy {
    .holiday-inline-nav .healthy {
      a {
        color: $holiday-gray;
      }
    }
  }  
  &.seasonal-favorites {
    .holiday-inline-nav .seasonal-favorites {
      a {
        color: $holiday-gray;
      }
    }
  }   
  &.hanukkah {
    .holiday-inline-nav .hanukkah {
      a {
        color: $holiday-gray;
      }
    }
  } 
  &.leftovers {
    .holiday-inline-nav .leftovers {
      a {
        color: $holiday-gray;
      }
    }
  }
  &.breads-muffins-rolls {
    .holiday-inline-nav .breads-muffins-rolls {
      a {
        color: $holiday-gray;
      }
    }
  } 
  //Gifts section  
  &.gifts-kitchen {
    .holiday-inline-nav .gifts-kitchen {
      a {
        color: $holiday-gray;
      }
    }
  }  
  &.diy-decorating-etsy {
    .holiday-inline-nav .diy-decorating-etsy {
      a {
        color: $holiday-gray;
      }
    }
  }  
  &.gifts-give-back {
    .holiday-inline-nav .gifts-give-back {
      a {
        color: $holiday-gray;
      }
    }
  }     
  &.gifts-under-5-10-15-30 {
    .holiday-inline-nav .gifts-under-5-10-15-30 {
      a {
        color: $holiday-gray;
      }
    }
  }
  &.limited-edition-gift-card {
    .holiday-inline-nav .limited-edition-gift-card {
      a {
        color: $holiday-gray;
      }
    }
  }  
  
  //recipe lists
  .holiday-grid-list {
    list-style-type: none;
    margin: 30px 0 20px 0;
    li {
      @include border-box;
      position: relative;
      width: 25%;
      float:left;
      margin: 0;
      border-right: 1px solid $holiday-border-gray;
      text-align: center;
      background-size: 85% 5px;
      &:nth-child(4n) {
        border-right: 0 none;
        //padding: 0;
        margin: 0;
      }
      &:nth-child(-n+4) {
        .recipe-image {
          margin-top: 0;
        }
      }
      /*** 
       *  Fix for Chrome, &:nth-last-child(-n+4)
       *  stopped evaluating correctly 
       */
      &:nth-child(0n+9),
      &:nth-child(0n+10),
      &:nth-child(0n+11),
      &:nth-child(0n+12) {
        .item-wrap {
          background: #fff;
        }        
      }
      &:hover {
        .title {
          color: $holiday-green-hover;
        }
        .servings { 
          color: $holiday-green-hover;
        }
        .arrow {
          a {
            opacity: 0;
          }
        }
        img {
          opacity: .75;
        }
      }
      .item-wrap {
        width:85%;
        background: image-url('holiday2013/onedot.png') bottom center repeat-x;
        margin: 0 auto;
        min-height: 295px;
        padding: 0px 0 20px 0;
      }      
      .recipe-image {
        background-color: #000;
        @include opacity-fix; 
        margin: 20px auto 0 auto;       
      }
      img {
        @include animate(.4s);
        display: block;
        margin: 0 0 15px 0;
        opacity: 1;
        @include opacity-fix;
        height: auto;
      }
      .title {
        @include animate(.4s);
        font-family: "TradeGothic", "Helvetica Nueue", helvetica, $bodyfont;
        display:block;
        margin: 0 auto 15px auto;
        color: $holiday-green;
        text-transform: uppercase;
        font-size: 16px ;
        max-width: 85%;
      }
      .servings {
        @include animate(.4s);
        color: $holiday-green;
      }
      .arrow {
        //@include animate(.4s);
        position: absolute;
        bottom: 20px;
        left:45%;
        a {
          @include animate(.4s);
        }
        @media only screen and (max-width: 768px) {
          left: 39%;
        }
      }
      &.blank {
        background: #fff;
        min-height: 335px;
      }
    }
  }            
}

//Holiday Nav
#holiday-nav {
  background: #eee;
  margin: 0;
  //max-height: 40px;
  min-height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  z-index:10;
  #holiday-nav-head {
    background: $holiday-orange;
    padding: 5px 20px;
    .togglenav {
      float:right;
      color: #fff;
      margin-top: 10px;
      font-family: "TradeGothic", "Helvetica Nueue", helvetica, $bodyfont;
      text-transform: uppercase;
      font-size: 16px;
      span {
        margin: 0 0 0 10px;
        width: 11px;
        height: 6px;
        background-image: image-url('holiday2013/togglearrows.png');
        background-position: 0px -6px;
        display: inline-block;
        position: relative;
        top: -2px;
      }
    }
    .togglenav.exposed span {
      background-position: 0px 0px;
    }
    h2 {
      color: #fff;
      display: inline-block;
      margin:0;
      padding:0;
      font-size: 16px ;
      margin: 0;
      font-family: "TradeGothic", "Helvetica Nueue", helvetica, $bodyfont;
      text-transform: uppercase;
      span {
        background: image-url('holiday2013/house.png') top left no-repeat;
        display: inline-block;
        width: 24px;
        height: 21px;
        margin: 0 16px 0 0;
        position: relative;
        top: 4px;
      }
    }
  }
  .topmenu {
    display: none;
    @include border-box;
    padding: 0 0 0 60px;
    max-height: 330px;
    margin: 0;
    a {
      color: #222;
      &:hover {
        color: $holiday-orange-hover;
      }
    }
    ul {
      margin: 0 0 15px 0;
      padding: 0;
      li {
        list-style-type: none;
        font-family: WFMScalaSansSpringRegular, "Helvetica Nueue", helvetica, $bodyfont;
        font-size: 14px;
        a {
          font-size: 15px;
        }
      }
    }
    h3 {
      font-size: 16px;
      color: $holiday-orange;
      text-transform: uppercase;
      margin: 0 0 10px 0;
      font-family: "TradeGothic", "Helvetica Nueue", helvetica, $bodyfont;
      a {
        font-size: 16px;
        color: $holiday-orange;
        @include animate(.4s);
        &:hover {
          color: $holiday-orange-hover;
        }
      }
    }    
  }
  .topmenu > li.column {
    list-style-type: none;
    width: 22%;
    margin: 30px 3% 30px 0;
    float:left;
  }
  .topmenu > li.column:last-child {
    margin-right: 0;
  }
}

//Holiday Footer 
#holiday-footer-wrap {
  padding: 0 20px;
}
#content .holiday-footer {
  @include border-box;
  text-align: center;
  padding: 30px 0 20px 0;
  background: image-url('holiday2013/threedots.png') top left repeat-x; 
  h3 {
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 20px;
  }
  a {
    color: $holiday-orange;
  }
  p.arrow {
    background: image-url('holiday2013/arrows.png') 0 -75px no-repeat;
    a {
      text-indent: -9999px;
      background: image-url('holiday2013/arrows.png') 0 0 no-repeat;
      width: 23px;
      height: 23px;
      @include animate(.4s);
    }
  }
  .social-links {
    ul {
      list-style-type: none;
      padding:0;
      width: 174px;
      margin: 0 auto;
      li {
        margin:0 7px 0 0;
        padding:0;
        float:left;
        width: 36px;
      }
      li:last-child {
        margin-right: 0;
      }  
    }
  }
  .blog {
    .views-row {
      margin-bottom: .5em;
      .views-field-title {
        .field-content {
          padding-top: 0;
          a {
            font-family: WFMScalaSansSpringRegular, "Helvetica Nueue", helvetica, $bodyfont;
            font-size: 14px ;
            color: $holiday-orange;
            &:hover {
              color: $holiday-orange-hover;
            }
          }  
        }
      }
    }
  }  
}

.holiday-footer > div {
  width: 25%;
  //margin-right: 2%;
  float:left;
  @include border-box;
  border-right: 1px solid $holiday-border-gray;
  padding: 20px 2%;
  min-height: 157px;
  h3 {
    font-family: "TradeGothic", "Helvetica Nueue", helvetica, $bodyfont;
  }
  a, h3 {
    color: $holiday-orange;
    @include animate(.4s);
  }
  &:hover {
    a, h3 {
      color: $holiday-orange-hover;
    }
    .arrow {
      a {
        opacity: 0;
      }
    }
  }
}

.holiday-footer > div.social-links {
  h3 {
    color: $holiday-gray;
  }
}

.holiday-footer > div:last-child {
  margin-right: 0;
  border-right: 0 none;
  padding-right: 0;
}
#holiday-wrap .holiday-text-head {
  margin: 20px 0 0 0;
  .heading {
    @include border-box;
    width: 75%;
    text-align: center;
    float:left;
    padding: 40px 0 0 0;
    h2 {
      font-family: "AZCutScript", script;
      font-size: 53px ;
      color: $holiday-gray;
      line-height: 64px;
    }
    .subhead {
      font-size:16px ;
      font-style: italic;
      padding: 0;
    }
  }
  .holiday-promo {
    width: 25%; 
    border-left: 1px solid $holiday-border-gray;
    float: right;
    .arrow {
      background: image-url('holiday2013/arrows.png') 0 -75px no-repeat;
      a {
        background: image-url('holiday2013/arrows.png') 0 0 no-repeat;
      }
    }    
  }
}

.holiday-promo {
  @include border-box;
  text-align: center;
  span[class*='icon'] {
    font-size: 48px;
    color: $holiday-orange;
    margin: 10px 0 20px 0;
    display: block;
    @include animate(.4s);
  }
  p.cta {
    font-family: "TradeGothic", "Helvetica Nueue", Helvetica, arial;
    text-transform: uppercase;
    a {
      color: $holiday-orange;
      font-size: 22px ;
      @include animate(.4s);
    }
  }
  .flavor {
    color: $holiday-orange;
    @include animate(.4s);
  }
  .arrow {
    background: image-url('holiday2013/arrows.png') 0 -75px no-repeat;
    a {
      background: image-url('holiday2013/arrows.png') 0 0 no-repeat;
      @include animate(.4s);
    }
  }
  &:hover {
    span[class*='icon'] {
      color: $holiday-orange-hover;
    }
    p.cta {
      a {
        color: $holiday-orange-hover;
      }
    }
    .flavor { 
      color: $holiday-orange-hover;
    }  
    .arrow {
      a {
        opacity: 0;
      }
    }
  }
}

.holiday-sidebar {
  .holiday-promo {
    margin-left: 20px;
    margin: 20px 0 20px 20px;
    padding: 10px 0 20px 0;
    background: image-url('holiday2013/onedot.png') bottom center repeat-x;
    .arrow {
      background: image-url('holiday2013/arrows.png') 0 -75px no-repeat;
      a {
        background: image-url('holiday2013/arrows.png') 0 0 no-repeat;
      }
    }
    &:first-child {
     margin-top: 0;
    }
  }
}

#inline-nav {
  @include holiday-border;
  margin: 2em 0;
}

.holiday-inline-nav {
  text-align: center;
  margin: 0 auto;
  padding: 15px 2% 0 2%;
  border: 6px solid transparent;
  background: #fff;
  li {
    display: inline-block;
    padding: 0 15px;
    border-right: 1px solid $holiday-border-gray;
    text-transform: uppercase;
    font-family: "TradeGothic", "Helvetica Nueue", helvetica, $bodyfont;
    margin-bottom: 15px;
    a {
      color: $holiday-green;
      font-size: 16px;
      @include animate(.4s);
      &:hover {
        color: $holiday-green-hover;
      }
    }
    &:last-child {
      border-right: 0 none;
    }
  }
}

#holiday-menus-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  .trigger {
    @include border-box;
    width: 50%;
    float: left;
    text-align: center;
    border-right: 1px solid $holiday-border-gray;
    min-height: 277px;
    h3 {
      margin: 0 0 20px 0;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        text-align: center;
        margin-bottom: 10px;
        font-family: WFMScalaSansSpringRegular, "Helvetica Nueue", helvetica, $bodyfont;
        font-size: 14px;
        a {
          font-size: 14px;
          color: $holiday-green;
          span {
            background: image-url('holiday2013/arrows.png') 0 -175px no-repeat;
            width: 15px;
            height: 11px;
            display: inline-block;
            margin-left: 3px;
          }
          &:hover {
            color: $holiday-green-hover;
            span {
              background: image-url('holiday2013/arrows.png') 0 -154px no-repeat;
            }
          }
        }
      }
    }
  }
  .recipe-image-replace {
    width: 50%;
    float: right;
    padding: 0 0 0 20px;
    @include border-box;
    max-height: 277px;
  }
}

#holiday-menus-list > li {
  padding-top: 30px;
  margin-top: 30px;
  background: image-url('holiday2013/onedot.png') top left repeat-x;
  &:nth-child(even) {
    .trigger {
      float: right;
      border-right: 0 none;
    }
    .recipe-image-replace {
      float: left;
      border-right: 1px solid $holiday-border-gray;
      padding: 0 20px 0 0;
    }
  }
}

//Internal text pages
body.article #holiday-wrap {
  padding-top: 20px;
  .main-content {
    @include border-box;
    width: 75%;
    float: left;
    border-right: 1px solid $holiday-border-gray;
    padding: 0 20px 0 0;
    p, h3, h4 {
      padding-left: 30px;
      max-width: 80%;
    }
    a {
      color: $holiday-orange;
      @include animate(.4s);
      &:hover {
        color: $holiday-orange-hover;
      }
    }    
  }
  .holiday-sidebar {
    @include border-box;
    width: 25%;
    float: right;
  }
  .holiday-text-head {
    margin: 0 0 20px 0;
    padding-bottom: 20px;
    background: image-url('holiday2013/onedot.png') bottom left repeat-x;
    .heading {
      padding-top:0;
      width: 100%;
    }
    h2 {
      text-align: left;
      margin-left: 30px;
    }
    .subhead {
      text-align: left;
      margin-left: 30px;
    }
  }
  ol, ul {
    margin: 0 0 10px 0;
    padding: 0 0 0 50px;
    li {
      padding: 0 0 0 10px;
      color: #4e4943;
      font-size: 14px ;
      line-height: 1.6 ;
      margin-top: 15px;
      font-family: WFMScalaSansSpringRegular, "Helvetica Nueue", helvetica, $bodyfont;
      max-width: 80%;
      a {
        font-size: 14px ;
      }
    }
  }
}

//Christmas styling
.christmas {
  #holiday-nav {
    #holiday-nav-head {
      background: $holiday-red;
    }
    .topmenu { 
      h3 { 
        color: $holiday-red;
        a {
          color: $holiday-red;
          &:hover {
            color: $holiday-red-hover;
          }
        }
      }
      li a:hover {
        color: $holiday-red-hover;
      }
    }
  } //#holiday-nav
  #holiday-wrap {
    .item {
      &.holiday-color {
        p {
          color: $holiday-red;
        }
        h3, h2 {
          color: $holiday-red;
        }
        a {
          color: $holiday-red;
        }
        .arrow {
          background: image-url('holiday2013/arrows.png') 0 -125px no-repeat;
          a {
            background: image-url('holiday2013/arrows.png') 0 -100px no-repeat;
          }
        }
      }
      &:hover {
        &.holiday-color { 
          p {
            color: $holiday-red-hover;
          }  
          a {
            color: $holiday-red-hover;
          } 
          h3, h2 {
            color: $holiday-red-hover;
          }       
        }
      }
    }
    .holiday-promo {
      span[class*='icon'] {
        color: $holiday-red;
      }
      p.cta a {
        color: $holiday-red;
      }
      .flavor {
        color: $holiday-red;
      }
      .arrow {
        background: image-url('holiday2013/arrows.png') 0 -125px no-repeat;
        a {
          background: image-url('holiday2013/arrows.png') 0 -100px no-repeat;
        }
      }
      &:hover {
        span[class*='icon'] {
          color: $holiday-red-hover;
        }
        p.cta a {
          color: $holiday-red-hover;
        }
        .flavor {
          color: $holiday-red-hover;
        }
      }
    }
  } //#holiday-wrap
  #holiday-footer-wrap {
    .holiday-footer > div {
      h3, a {
        color: $holiday-red;
      }
      .arrow {
        background: image-url('holiday2013/arrows.png') 0 -125px no-repeat;
        a {
          background: image-url('holiday2013/arrows.png') 0 -100px no-repeat;
        }
      }
    }
    .holiday-footer > div.social-links h3 {
      color: $holiday-gray;
    }
    .holiday-footer > div.blog {
      .views-row .views-field-title .field-content a {
        color: $holiday-red;
        &:hover {
          color: $holiday-red-hover;
        }
      }
    }
    .holiday-footer > div:hover {
      h3, a {
        color: $holiday-red-hover;
      }
      &.social-links {
        h3 {
          color: $holiday-gray;
        }
      }
    }
  } //#holiday-footer-wrap
  table#baketable, table#sweetsubs {
    th {
      background-color: $holiday-red;
    }
  }
  &.article {
    #holiday-wrap {
      .main-content a {
        color: $holiday-red;
        &:hover {
          color: $holiday-red-hover;
        }
      }
    }
  }
  &.diy-decorating-etsy.holidays {
    .holiday-grid-list li .download a {
      color: $holiday-red;
      &:hover {
        color: $holiday-red-hover;
      }
    }
    .holiday-sidebar {
      h3 {
        color: $holiday-red;
      }
      a {
        color: $holiday-red;
        &:hover {
          color: $holiday-red-hover;
        }
      }
    }
  } //.diy-decorating-etsy
} //.christmas

//Servings Calculator
#holiday_calc {
  font-family: WFMScalaSansSpringRegular, "Helvetica Nueue", helvetica, $bodyfont;
  font-size: 14px ;
  width: 90%;
  color: $holiday-gray;
  margin: 0 0 0 30px;
  thead {
    border: 0 none;
    th {
      border: 0 none;
      font-family: "TradeGothic", "Helvetica Nueue", helvetica, $bodyfont;
      color: $holiday-green;
      font-size: 20px ;
      padding-bottom: 15px;
    }
  }
  tbody {
    border-top: 0 none;
    th {
      border-bottom: 0 none;
      font-family: WFMScalaSansSpringBold, "Helvetica Nueue", helvetica, $bodyfont;
    }
  }
  input {
    &:focus {
      border: 1px solid $holiday-green;
    }
  }
}

//Etsy
.diy-decorating-etsy.holidays {
  .main-content {
    width: 75%;
    float: left;
  }
  .etsyflavor {
    max-width: 50%;
    margin: 0 auto 10px auto;
  }
  .holiday-grid-list {
    padding: 0;
    li {
      width: 33%;
      .item-wrap {
        min-height: 350px;
      }
      .description {
        font-size:13px ;
        color: $holiday-green;
        @include animate(.4s);
      }
      .download {
        font-size:13px ;
        position: absolute;
        bottom: 20px;
        width: 85%;
        text-align: center;
        a {
          color: $holiday-orange;
          @include animate(.4s);
          font-size:13px ;
          img {
            display: inline;
            margin: 0 5px 0 0;
            top: -2px;
            position: relative;
          }
        }
      }
      &:nth-child(-n+3) {
        .recipe-image {
          margin-top: 0;
        }
      }
      &:nth-child(4n) {
        border-right: 1px solid $holiday-border-gray;
        .recipe-image {
          margin: 20px auto 0 auto;
        }
      }
      &:nth-last-child(-n+4) .item-wrap {
        background: image-url('holiday2013/onedot.png') bottom center repeat-x;
      }
      &:nth-last-child(-n+3) .item-wrap {
        background: #fff;
        padding-bottom: 0;
      }
      &:nth-child(3n) {
        border-right: 0 none;
      }
      &:hover {
        .description {
          color: $holiday-green-hover;
        }
        .download {
          a {
            color: $holiday-orange-hover;
          }
        }
      }
    }
  }
  .holiday-sidebar {
    margin-top: 30px;
    max-height: 1140px;
    width: 25%;
    @include border-box;
    border-left: 1px solid $holiday-border-gray;
    float: right;
    a {
      color: $holiday-orange;
      @include animate(.4s);
      &:hover {
        color: $holiday-orange-hover; 
      }
    }
    .flavor {
      font-family: "AZCutScript", script;
      font-size: 16px ;
    }
    h3 {
      color: $holiday-orange;
    }
    ul {
      list-style-type: none;
      padding: 0;
      &.etsylist {
        text-align: left;
        li {
          margin-bottom: 10px;
          img {
            float: left;
            margin-right: 10px;
          }
        }
      }
    }
    .holiday-promo {
      &:last-child {
        background: #fff;
        margin-bottom: 0;
        padding-bottom: 0;
        @media (max-width: 805px) {
          display: none;
        }
      }
      &:first-child {
        padding-top: 0;
      }
    }
  }
}

/**
* Holiday Video Page
*/

#holiday-videos {
  padding-left: 0;
  .fancyhidden {
    display: none;
  }
  li {
    .playicon {
      width: 28px;
      height: 28px;
      background: image-url('holiday2013/white-play-icon-hover.png') bottom left no-repeat;
      display: block;
      @include center-x-y; 
      @include animate(.4s);
      opacity: 0;     
    }
    .arrow { 
      background: image-url('holiday2013/green-play-hover.png') bottom left no-repeat;
      a {
        background: image-url('holiday2013/green-play.png') bottom left no-repeat;
      }
    }  
    &:hover {
      .playicon {
        opacity: 1;
      }
    }
  }
}

/**
* Holiday Icon Font Styles
*/
.icon-arrow, .icon-home, .icon-shopping-cart, .icon-iphone, .icon-gift, .icon-calculator, .icon-arrow-menu, .icon-arrow-nocircle, .icon-arrow-over {
  font-family: 'HolidayIcon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-arrow:before {
  content: "\e002";
}
.icon-home:before {
  content: "\e003";
}
.icon-shopping-cart:before {
  content: "\e004";
}
.icon-iphone:before {
  content: "\e005";
}
.icon-gift:before {
  content: "\e006";
}
.icon-calculator:before {
  content: "\e007";
}
.icon-arrow-menu:before {
  content: "\e008";
}
.icon-arrow-nocircle:before {
  content: "\e009";
}
.icon-arrow-over:before {
  content: "\e001";
}

.icon-arrow, .icon-arrow-menu, .icon-arrow-nocircle, .icon-arrow-over {
  font-size: 24px;
}