/************************************************************************************
 Table of Contents

960 Grid
Tablet (Portrait)
Mobile (Portrait)
Mobile (Landscape)

*************************************************************************************/

/* media queries */
/*@media only screen and (min-width: 1176px) {
  #block-views-marquee-scroller-block {
   max-width: 1680px ;
  width: 100% ;
  height: 810px ;
 
    .marquee-row {
      max-width: 1680px ;
      width: 100% ;
      height: 748px ;

      img {
        max-width: 1680px ;
        width: 100% ;
        height: 748px;
        height: 748px ;
      }
    }
  }
}*/
/************************************************************************************
 Smaller than 960 ex. iPad Portrait
 *************************************************************************************/
/*@media only screen and (min-width: 768px) and (max-width: 960px) {
  .content {
    width: 750px;
  }
  
  .pod {
    @include single-box-shadow(#333333, 0px, 0px, 5px, false, false);
  }
}*/

/************************************************************************************
 Tablet Portrait
 *************************************************************************************/
@media only screen and (min-width: 768px) and (max-width: 959px) {
  body {
    width: 100%;
  }
  body.front #page {
    margin-top: 317px ;
    /*background-position: 0 200px;*/
  }
  #page-wrapper {
    width: 100%;

    #main {
      width: 100%;
      margin: 75px auto 0; 
    }
  }

  .view-display-id-homepage.view-promo-blocks .views-row.col-width-one .views-col, .view-display-id-homepage_local.view-promo-blocks .views-row.col-width-one .views-col {
    display: block;
    float: none ;
  }

  .col-width-three {
    width: 482px;
    .views-field-field-promo-media {
      width: 260px;
      height: 160px;

      img {
        width: 260px;
        height: 160px;
      }
    }
    
  }

  .region-marquee {
    width: 959px ;
    height: 420px;

      #block-views-marquee-scroller-block {
        width: 100% ;
        width: 959px;
        height: 400px ;

        .marquee-row {
          /*max-width: 959px ;
          width: 100% ;*/
          /*height: 338px ;*/

          .marquee-content {
            top: 5% ;
            left: 30% ;
            margin-left: -320px ;
            padding: 30px 0 ;

            p {
                margin: 0 ;
                padding: 0 ;
                
                h1 {
                  font-size: 56px ;
                }

                
              }

              h1 {
                  font-size: 56px ;
                }

              h2 {
                  margin: 0px 0 -30px ;
                  font-size: 58px ;
                }

              .learn-more {

                a {
                  padding: 5px;
                }
              }

              img {
                width: 959px ;
                height: auto;
              }
          }
        }
      }
    }

  

  .nav {
    //display: none;
  }
  .section {
    width: 482px;
    margin: 0 auto;
  }
  .content, #content {
    width: 100%;

    table, th, td, tr {
      display: block;
      width: auto;
    }
    table {
      td {
        display: block;
      }
    }
  }

  #content-bottom {
    width: 482px;
    margin: 0 auto;

    table, th, td, tr {
      display: block;
      width: 482px;
    }
    table {
      td {
        display: block;
        margin-bottom: 20px;
        padding-bottom: 10px;
      }
    }
  }

  .layout_one {
    #content {
      &.with-sidebar {
        width: inherit;
        margin-bottom: 20px;
      }
    }
    #sidebar-second {
      float: none;
      width: inherit;
    }
  }

  .column {
      &.with-sidebar {
        width: inherit;
        margin-bottom: 20px;
        .group-left {
          border-right: 0px;
        }
      
        .group-right {
          float: none;
          margin: 0;
          padding: 0;

          .node-product-certification {
            width: inherit;
          }
          
        }

      }

    #sidebar-second {
      float: none;
      width: inherit;
    }
  }
  
  #content-top {
    width: 482px;
    margin: 0 auto;

    #block-views-promo-blocks-block {
      width: 482px ;
      margin: 0 auto;

      div {
        float: none ;
      }

      .view-content {
        width: 430px ;
        height: 520px ;

        .promo-container {
          width: 430px ;
        }

        h2 {
          width: 430px ;
        }
      }

      img {
        float: none ;
        height: 280px;
      }
    }
  }

  .push { display: none; }

  #footer {
    width: 480px;
    height: 580px;
    margin: 180px auto 0; 
    #block-menu-menu-footer, #block-menu-menu-footer-2, #block-menu-menu-footer-3 {
      float: none;

      ul.menu {
        li {
          display: block;
          float: none;
        }
      }

    }
    #block-menu-menu-social-media {
      float: none;
    }
    
  }

  .free-form-container {
    img {
      float: none;
      width: 460px;
      height: 255px;
    }
  }
  
  .type-1 {
    width: 97.9%;
  }
  
  .type-2 {
    width: 97.9%;
  }
}

/************************************************************************************
 Mobile Portrait
 *************************************************************************************/
@media only screen and (max-width: 767px) {
  body {
    width: 100%;
  }
  body.front #page {
    margin-top: 317px ;
    /*background-position: 0 200px;*/
  }
  #page-wrapper {
    width: 100%;

    #main {
      width: 100%;
      margin: 75px auto 0; 
    }
  }

  .view-display-id-homepage.view-promo-blocks .views-row.col-width-one .views-col, .view-display-id-homepage_local.view-promo-blocks .views-row.col-width-one .views-col {
    display: block;
    float: none ;
  }

  .col-width-three {
    width: 306px;
    .views-field-field-promo-media {
      width: 260px;
      height: 160px;

      img {
        width: 260px;
        height: 160px;
      }
    }
    
  }

  .region-marquee {
    width: 100% ;

    #block-views-marquee-scroller-block {
      width: 100% ;
      height: 400px ;

      .marquee-row {
        max-width: 470px ;
        /*width: 100%;*/
        height: 338px ;

         .marquee-content {
          width: 320px ;
          top: 5% ;
          left: 20% ;
          margin-left: -65px ;
          padding: 30px 0 ;

          p {
              margin: 0 ;
              padding: 0 ;
              
              h1 {
                font-size: 36px ;
              }

              
            }

            h1 {
                font-size: 36px ;
              }

            h2 {
                margin: 0px 0 -10px ;
                font-size: 38px ;
              }

              .learn-more {

                a {
                  padding: 3px;
                }
              }
            img {
              width: 400px ;
              height: auto;
            }
        }
      }
    }
  }

  

  .nav {
    display: none;
  }
  .section {
    width: 350px;
    margin: 0 auto;
  }
  .content, #content {
    width: 100%;

    table, th, td, tr {
      display: block;
      width: auto;
    }
    table {
      td {
        display: block;
      }
    }
  }

  #content-bottom {
    width: 350px;
    margin: 0 auto;

    table, th, td, tr {
      display: block;
      width: auto;
    }
    table {
      td {
        display: block;
        margin-bottom: 20px;
        padding-bottom: 10px;
      }
    }
  }

  .layout_one {
    #content {
      &.with-sidebar {
        width: inherit;
        margin-bottom: 20px;
      }
    }
    #sidebar-second {
      float: none;
      width: inherit;
    }
  }

  .column {
      &.with-sidebar {
        width: inherit;
        margin-bottom: 20px;
        .group-left {
          border-right: 0px;
        }
      
        .group-right {
          float: none;
          margin: 0;
          padding: 0;

          .node-product-certification {
            width: inherit;
          }
          
        }

        .sub-page-info {
          img {
            margin-right: 10px ;
          }
        }

      }

    #sidebar-second {
      float: none;
      width: inherit;
    }
  }
  
  #content-top {
    width: 350px;
    margin: 0 auto;

    #block-views-promo-blocks-block {
      width: 350px ;
      margin: 0 auto;

      div {
        float: none ;
      }

      .view-content {
        width: 330px ;
        height: 620px ;

        .promo-container {
          width: 330px ;
        }

        h2 {
          width: 330px ;
        }
      }

      img {
        float: none ;
        width: auto;
        height: 280px;
      }
    }
  }

  .push { display: none; }

  #footer {
    width: 350px;
    height: 620px;
    margin: 250px auto 0; 
    #block-menu-menu-footer, #block-menu-menu-footer-2, #block-menu-menu-footer-3 {
      float: none;

      ul.menu {
        li {
          display: block;
          float: none;
        }
      }

    }
    #block-menu-menu-social-media {
      float: none;

      ul.menu {
        li {
          margin-bottom: 8px;
          &:nth-child(4) {
            clear: left;
          }
        }
      }
    }
    
  }

  .free-form-container {
    img {
      float: none;
      width: 350px;
      height: 205px;
    }
  }
  /*.content {
    width: 310px;
  }*/
}

/************************************************************************************
 Mobile Landscape
 *************************************************************************************/
@media only screen and (min-width: 480px) and (max-width: 767px) {
  body {
    width: 100%;
  }
  body.front #page {
    margin-top: 317px ;
    /*background-position: 0 200px;*/
  }
  #page-wrapper {
    width: 100%;

    #main {
      width: 100%;
      margin: 75px auto 0; 
    }
  }

  .view-display-id-homepage.view-promo-blocks .views-row.col-width-one .views-col, .view-display-id-homepage_local.view-promo-blocks .views-row.col-width-one .views-col {
    display: block;
    float: none ;
  }

  .col-width-three {
    width: 306px;
    .views-field-field-promo-media {
      width: 260px;
      height: 160px;

      img {
        width: 260px;
        height: 160px;
      }
    }
    
  }

  #block-views-marquee-scroller-block {
    width: 770px ;
    height: 400px ;

    .marquee-row {
      max-width: 770px ;
      width: 100%;
      height: 338px ;

      .marquee-content {
        width: 30%;
        top: 5% ;
        left: 20% ;
        margin-left: -65px ;
        padding: 30px 0 ;

        p {
            margin: 0 ;
            padding: 0 ;
            
            h1 {
              font-size: 36px ;
            }

            
          }

          h1 {
              font-size: 36px ;
            }

          h2 {
              margin: 0px 0 -10px ;
              font-size: 38px ;
            }

            .learn-more {

              a {
                padding: 3px;
              }
            }

      }

    }
  }

  .nav {
    display: none;
  }
  .section {
    width: 350px;
    margin: 0 auto;
  }
  .content, #content {
    width: 100%;

    table, th, td, tr {
      display: block;
      width: auto;
    }
    table {
      td {
        display: block;
      }
    }
  }

  #content-bottom {
    width: 350px;
    margin: 0 auto;

    table, th, td, tr {
      display: block;
      width: 482px;
    }
    table {
      td {
        display: block;
        margin-bottom: 20px;
        padding-bottom: 10px;
      }
    }
  }

  .layout_one {
    #content {
      &.with-sidebar {
        width: inherit;
        margin-bottom: 20px;
      }
    }
    #sidebar-second {
      float: none;
      width: inherit;
    }
  }

  .column {
      &.with-sidebar {
        width: inherit;
        margin-bottom: 20px;
        .group-left {
          border-right: 0px;
        }
      
        .group-right {
          float: none;
          margin: 0;
          padding: 0;

          .node-product-certification {
            width: inherit;
          }
          
        }

        .sub-page-info {
          img {
            margin-right: 10px ;
          }
        }

      }

    #sidebar-second {
      float: none;
      width: inherit;
    }
  }
  
  #content-top {
    width: 420px;
    margin: 0 auto;

    #block-views-promo-blocks-block {
      width: 420px ;
      margin: 0 auto;

      div {
        float: none ;
      }

      .view-content {
        width: 420px ;
        height: 620px ;

        .promo-container {
          width: 420px ;
        }

        h2 {
          width: 420px ;
        }
      }

      img {
        float: none ;
        width: auto;
        height: 280px;
      }
    }
  }

  .push { display: none; }

  #footer {
    width: 420px;
    height: 620px;
    margin: 250px auto 0; 
    #block-menu-menu-footer, #block-menu-menu-footer-2, #block-menu-menu-footer-3 {
      float: none;

      ul.menu {
        li {
          display: block;
          float: none;
        }
      }

    }
    #block-menu-menu-social-media {
      float: none;

      ul.menu {
        li {
          margin-bottom: 8px;
          &:nth-child(4) {
            clear: left;
          }
        }
      }
    }
    
  }
  /*.content {
    width: 310px;
  }*/
}