/************************************************************************************
 1000 - 1234 nav
   Adjusted to 1234 on 1-21-14 due to a 15px dead-zone when no nav was displayed.
 *************************************************************************************/
@media only screen and (min-width: 1000px) and (max-width: 1234px) {
  .region-marquee #block-views-marquee-scroller-block .marquee-container .marquee-content {
    top: 100px;

    .learn-more {
      bottom: 35px;
    }

    .marquee-nav {
      bottom: 0px;
    }
  }

  #main-wrapper {
    margin: -110px 0 0 0;
  }

  body.not-front.page-node #main-wrapper {
    margin: -30% 0 0 0 ;
  }
  body#body.page-node-41.not-front.page-node #main-wrapper {
    margin: 0 ;
  }

  .nav-tab {
    width: 24px;
    height: 111px;
    position: absolute;
    right: -24px;
    top: 26px;
    background: $snap-pea image-url('nav-sprite-2016.png') 0 0 no-repeat;
    cursor: pointer;
    z-index: 20;
  }

  .nav-close {
    left: -205px;
    .nav-tab {
      background-position: -24px 0;
    }
  }
  .undernav-nav .nav-close {
  left:0 ;
  }

  #navigation {
    .block-wfm-monster-nav {
      .nav-tab {
        display: none; 
      }
    }
  }
  
  .page-recipe-search #page-wrapper {
  padding-top: 80px;
  }
}

/************************************************************************************
below - 1117 marquee
 *************************************************************************************/

@media only screen and (max-width: 1117px) {
  .region-marquee #block-views-marquee-scroller-block {
    .flex-slider {
      min-height:250px;
      overflow: visible;
    }

    .marquee-content {
      top: 0px;
      min-height: 250px;

      p h1 {
        font-size:300%;
      }
      h1 {

      }

      .region-marquee #block-views-marquee-scroller-block

      .learn-more {
        position: relative;
        top: 20px;
      }

      .marquee-nav {
        position: relative;
        top: 10px;
      }
    }
  }
}
