@mixin green-border-bottom {
  padding: 0 10px 50px 10px;
  margin: 0 0 50px 0;
  border-bottom: 3px solid $grass;
}

@mixin bold-label {
  font-size: 28px;
  line-height: 24px;
  margin: 0 0 10px;
  padding: 0;
  color: #232e37;
  font-family: $headingbold;
  text-transform: uppercase;
}

#newsletters-preferences-form {
  padding-bottom: 50px;
  border-bottom: 3px solid $grass;
  margin: 0 0 50px 0;
  label {
    text-transform: none;
    font-weight: normal;
  }
  .form-wrapper {
    @include clearfix;
  }
  .required_note {
    margin: 0 0 10px 0;
    display: block;
  }
  #edit-zip-code {
    width: 100px;
  }
  #edit-birthday {
    @include clearfix;
    min-width: 32%;
    margin: 5px 0;
    legend {
      @media (min-width: 600px) {
        float: left;
        margin: 0 14px 0 0;
        width: 150px;
        text-align: right;
      }
    }
    .form-item {
      margin: 0;
      display: inline-block;
    }
  }
  #edit-corebirth-month {
    min-width: 150px;
  }
  #edit-corebirth-day {
    min-width: 55px;
  }
  #edit-corebirth-year {
    min-width: 80px;
  }
  #edit-coregender {
    min-width: 200px;
  }
  .form-item-core\|gender {
    display: inline-block;
    vertical-align: top;
    margin: 5px 0;
  }
  #cancel-button {
    &:hover {
      background-color: darken($oyster, 10%);
    }
    background-color: $oyster;
    margin: 0 15px 0 10px;
    width: 145px;
  }
  #save-button, #top-save-changes, #cancel-button {
    border: 0 none;
    width: 145px;
  }
  #top-save-changes {
    display: block;
    margin: 20px 0 0 0;
    @media (min-width: 600px) {
      margin-left: 164px;
    }
  }
  .form-required {
    color: #000;
  }
  .captcha {
    @media (min-width: 600px) {
      padding-top: 10px;
      margin-left: 164px;
    }
  }
}

#edit-personal-info, #edit-lifestyle-interests, #edit-email-subscriptions {
  & > legend {
    // The same as our standard <h3> styles.
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 10px 0;
    padding: 0;
    color: #57922c;
    font-family: $headingmedium;
    font-weight: normal;
  }
}

#edit-personal-info {
  @include green-border-bottom;
  & > legend {
    margin: 0;
  }
  label {
    @media (min-width: 600px) {
      display: inline-block;
      margin-right: 10px;
      width: 150px;
      text-align: right;
    }
  }
  .form-type-textfield {
    margin: 5px 30px 5px 0;
  }
  .form-item-zip-code {
    vertical-align: top;
    margin: 5px 0;
  }
}

#edit-corezip {
  max-width: 150px;
}

#newsletter-preferences-state-store {
  legend {
    @media (min-width: 600px) {
      width: 150px;
      float: left;
      text-align: right;
      margin-right: 14px;
    }
  }
  .fieldset-wrapper {
    display: inline-block;
  }
  .form-type-select {
    margin: 0 0 10px 0;
    &:first-child {
      margin-right: 10px;
    }
  }
  .form-select {
    min-width: 320px;
  }
}

#edit-lifestyle-interests {
  @include green-border-bottom;
  .form-type-checkboxes {
    @media (min-width: 600px) {
      display: inline-block;
      vertical-align: top;
      margin: 0 40px 0 0;
    }
    & > label {
      font-size: 18px;
      font-weight: bold;
    }
  }
}

#edit-email-subscriptions {
  padding: 0 10px;
  margin-bottom: 50px;
  .form-checkboxes {
    @include clearfix;
  }
  .form-checkboxes .form-type-checkbox {
    @include clearfix;
    width: 360px;
    display: inline-block;
    vertical-align: top;
    padding: 25px 25px 25px 10px;
    background-color: #fff;
    @include animate(200ms);
    &:nth-child(odd) {
      margin: 0 50px 0 0;
    }
    &.hover {
      background-color: #ececec;
    }
    label {
      @include clearfix;
      display: block;
      margin: -15px 0 0 20px;
    }
  }
}

#newsletter-preferences-state-store {
  margin: 5px 0 0 0;
}

.newsletter-preferences__option-title {
  @include bold-label;
  padding-bottom: 10px;
  display: block;
}

.newsletter-preferences__text-input {
  width: 275px;
}

.newsletter-preferences__option-image {
  max-width: 160px;
  margin-right: 10px;
  float: left;
  @media (min-width: 930px) {
    display: inline;
  }
}

.newsletter-preferences__option-text {
  vertical-align: top;
}

#newsletters-preferences-login {
  margin-right: 20px;
}

#newsletter-preferences-request-link-unauthenticated-form {
  text-align: center;
}

#newsletter-preferences-request-link-authenticated-form, #newsletter-preferences-request-link-unauthenticated-form {
  text-align: center;
  margin-bottom: 20px;
}

.page-newsletters-preferences-request-link .content > p {
  text-align: center;
}

.page-newsletters-preferences-request-link-confirmation .content > p {
  text-align: left;
}
