@mixin success {
  background-color: #dff2bf;
  border: 1px solid #4f8a10;
  background-image: url('/sites/all/themes/wholefoods/images/icons/success.png');
  background-repeat: no-repeat;
  background-position: 95% 0px;
}
@mixin error {
  background-color: #ffbaba;
  border: 1px solid #d8000c;
  background-image: url('/sites/all/themes/wholefoods/images/icons/error.png');
  background-repeat: no-repeat;
  background-position: 95% -1px;
}

#block-newsletters-newsletters-form {
  .form-wrapper {
    .fieldset-wrapper {
      .form-type-checkbox.form-item {
        margin-top: 3px;
        margin-left: 3px;
        float: left;
      }
    }
  }

  .form-item-OTHER-COMM {
    margin-top: 3px;
    margin-left: 3px;
  }

  .form-item-email-format {
    input {
      margin-top: 3px;
      margin-left: 3px;
    }
  }

  .form-text {
    border-color:#EC7A37;
  }
  .form-item {
    label {margin:0 0 0 0px;}
  }
  legend {
      color:#006E53;
      font-family:$headingbold;
      text-transform:uppercase;
      font-size:32px;
      opacity: 0.99;
      filter: alpha(opacity=99);
  }

  #edit-extra-info {
    .fieldset-wrapper {
      .form-item {
        float: none;
        .form-checkbox {
          margin-top: 5px;
          margin-right: 10px;
        }
      }
    }
  }

  .fieldset-wrapper {
    overflow-y: auto;
    border-bottom:1px solid #999;
    padding: 15px 0;
    margin: 0 0 15px 0;
    /*.form-item, h4 {
      display:inline-block;
    }*/
    .form-item {
      display: block;
      margin:0 0 10px;

      .form-checkbox {
        float: left;
        margin-right: 10px;
      }
    }
    h4 {
      margin:0 0 0 15px;
    }
    p {
      margin:0 0 20px 25px;
      /*&:nth-last-child(1) {
        margin:0 0 0 15px;
      }*/
    }
  }
  .form-item-selectall, .form-item-OTHER-COMM {
    border-bottom:1px solid #999;
    padding:0 0 15px 0;
  }

  #edit-submit {
    margin-right: 15px;
  }
}

.page-node-7489 {
  .form-item-email-format > label:first-child, h3 {
    text-transform:uppercase;
    font-size:22px;
    opacity: 0.99;
    font-weight: normal;
  }
  span.header_hero img {
  	height:auto;
  }
  .view-id-generic_page_items.view-display-id-marquee_box .views-field-field-page-intro-heading {
    @include font-and-line(42px, 42px);
  }
}

#content-top .view-id-generic_page_items .views-field-field-page-intro-copy {
	margin-left: 445px;
	label {
		cursor:default;
	}
	#edit-email-address {
		width: 452px;
	}
	label.userMessage {
		text-transform:none;
		font-weight:normal;
	}
	input.disabled {
		background-color: $disabled;
		cursor: default;
	}
	input.error {
		@include error;
	}
	input.valid {
    @include success;
	}
	input.status {
		background-color: #bde5f8;
		border: 1px solid #00529b;
		background-image: url('/sites/all/themes/wholefoods/images/icons/status.png');
		background-repeat: no-repeat;
		background-position: 420px 0px;
	}
}

#edit-newsletter-options {
	clear:both;
	width:600px;
	margin:auto;
	div.form-item {
		width: 270px;
		float:left;
		text-align:center;
		background:#ffffff;
		border: 1px solid #ccc;
		padding: 20px 0;
		margin: 0 20px 20px 0;
		div.description {
			margin:0;
			padding: 0 20px;
			.selectlink {
				margin-top: 15px;
				a {
					@extend .orange-button-cta;
					margin-top: 15px;
				}
			}
		}
		img {
			margin: 0 20px 0 20px;
			border: 1px solid #ccc;
		}
		input {
			position:absolute;
			left: -9999px;
		}
		label {
			cursor: text;
		}
		p.frequency {
			margin: 5px 0;
			min-height: 0;
			font-style: italic;
		}
	}
	div.form-item.selected {
		background: $blue-green;
		div.description {
			color:#fff;
			.selectlink {
				a {
					background: #e4e4e4;
					color: #333333;
				}
			}
		}
		img {
			border: 1px solid #333;
		}
		label {
			color: #fff;
		}
	}
}

#submit-wrap {
	text-align:center;
	font-size: 24px;
	input {
		font-size: 24px;
		height:auto;
		margin:0 10px 20px 0;
	}
}

#subscribe {
  @extend .orange-button-cta;
	margin-left: 15px;
}

#subscribe.clicked {
	color: #333;
	background: #e4e4e4;
	border: 1px solid #ccc;
}

//Healthy Eating Newsletter sign-up form
#newsletters-sidebar-subscription-form {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  input[type=text] {
    @include border-box;
    width: 100%;
    &.success {
      @include success;
    }
    &.error {
      @include error;
    }
  }
  p {
    padding-bottom: 0!important;
  }
  h3 {
    margin-bottom: 10px;
  }
}

#edit-head-info, #edit-subscriptions {
  margin-left: 20px;
}

//Styles for Ajax subscriptions in main body
#content {
  #block-newsletters-newsletters-sidebar-form {
    #newsletters-sidebar-subscription-form {
      @include clearfix;
      padding: 20px 1.5em;
      margin-bottom: 20px;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }
    .newsletter-text-wrap {
      width: 47%;
      float:left;
      h3 {
        color: $eggplant;
        margin-bottom: 0;
      }
      p {
        margin-bottom: 0;
      }
    }
    .newsletter-input-wrap {
      width: 47%;
      float: right;
      .form-item-EMAIL-ADDRESS- {
        margin: 0;
        width: 70%;
        float:left;
        @include breakpoint(md) {
          width: 80%;
        }
      }
      input[type=submit] {
        width: 30%;
        float:left;
        height: 25px;
        margin-top: 25px;
        padding: 0 8px;
        @include breakpoint(md) {
          width: 20%;
        }
      }
    }
  }
}
//Same form, but adjusting styles for cases when form is in main body with
//a sidebar present.
.one-sidebar {
  #content {
    #block-newsletters-newsletters-sidebar-form {
      #newsletters-sidebar-subscription-form {
        .newsletter-input-wrap {
          .form-item-EMAIL-ADDRESS- {
            width: 67%;
          }
          input[type=submit] {
            width: 33%;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1px) and (max-width: 750px) {
	#content-top .view-id-generic_page_items .views-field-field-page-intro-copy {
		margin-left: 0px;
	}
}

@media only screen and (min-width: 1px) and (max-width: 470px) {
	#edit-newsletter-options {
		width:auto;
		div.form-item {
			float:none;
			margin: 0 auto 20px auto;
		}
	}
	#subscribe {
		display: block;
		margin: 10px auto 0 auto;
		width: 100px;
		text-align: center;
	}
}
