/************************************************************************************
 Smaller than 470 ex. iPhone Portrait
 *************************************************************************************/
@media only screen and (max-width: 470px) {
  .region-marquee #block-views-marquee-scroller-block .marquee-container .marquee-content h1 {
    font-size: 36px;
    line-height: 36px;
  }

  .region-marquee #block-views-marquee-scroller-block .marquee-container .marquee-content h2 {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: -10px;
  }

  .region-marquee #block-views-marquee-scroller-block .marquee-container .marquee-content {
    top: 0px;
    width: 100%;
    height: 100%;
    margin-left: -50%;

    .learn-more {
      bottom: 85px;

      a {
        padding: 5px;
      }
    }

    .marquee-nav {
      bottom: 15px;
    }
  }

  .region-marquee #block-views-marquee-scroller-block .marquee-nav {

    .prev1 {
      left: 25%;
    }

    .next1 {
      right: 25%;
    }
  }

  #block-views-recipe-header-recipe-header {
    .views-field-php-1 {
      .user-ratings {
        float:none;
      }
      .social-links {
        width:100%;
        float:none;
        margin:10px 0 0;
        div {
          width:85px;
          float:left;
          margin-right:5px;
        }
/*        .addthis_toolbox {
          float:none;
        }*/
      }
    }
    .views-field-body {
      margin-left:0;
      width:100%;
    }
    .views-field-php {
      float:none;
      margin:10px 0 15px ;
      padding:0 ;
      width:100%;
    }
  }
}
