@mixin pluck-top-border-fix {
  border-top: 2px solid #BCB49D ;
  border-top-width:2px ;
  border-radius: 5px 5px 0 0;
  top: -2px;
}

@mixin pluck-no-borders {
  border-top: 0 none;
  border-left: 0 none;
  border-right: 0 none;
  border-bottom: 0 none;
}

//Pluck Ratings
#user-ratings { //parent element to over-ride Pluck default styles
  .pluck-itemRatings {
    .pluck-itemRatings-rollup {
      font-size: 12px;
      font-family: $bodyfont;
    }
    .pluck-itemRatings-rollup-title {
      font-weight:bold;
    }
    .pluck-itemRatings-rating-title {
      font-size: 12px;
      font-family: $bodyfont;
      font-weight:bold;
    }
  }
}

//Pluck Personas
div.pluck-persona-main-wrap {
  a {
    color: $orange-color;
  }
  a.pluck-primary-button {
    @include orange-button();
    font-size: 16px;
    font-weight: normal;
    height: auto;
    position: relative;
    top: -2px;
    color: white;
    .pluck-primary-button-text {
      background: transparent;
      padding: 0;
    }
  }
  .pluck-persona-first-settings-info-basic-info-label {
    margin-bottom: 4px;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
  }
  div.pluck-persona-username-first-person-header, div.pluck-persona-first-navigation, div.pluck-first-subnavigation,
  div.pluck-persona-sidebar-info-area, a.pluck-footer-logo, .pluck-logo {
    display:none;
  }
  div.pluck-persona-personal-sidebar-wrapper {
    width: 0;
  }
  div.pluck-persona-firstperson-narrow-wrapper {
    margin-right: 0;
  }
  label.pluck-persona-first-settings-info-basic-info-inputlabel {
    display: inline;
  }
  input.pluck-persona-first-settings-info-basic-info-radio {
    vertical-align: baseline;
  }

  .pluck-persona-third-update a, span.pluck-persona-userbar-actions-element a, span.pluck-persona-userbar-rss-element a {
    color: $orange-color;
  }
  .pluck-persona-main-wrap {
    background: transparent;
    font-family: arial, sans-serif;
    .topContainer {
      display:none;
    }
    .pluck-persona-username-header {
      background: #939d42;
      .pluck-persona-username {
        font-family: 'Arial',sans-serif;
        font-size: 22px;
        font-weight: normal;
        color: #fff;
      }
    }
  }
  .pluck-persona-userbar-wrapper {
    background: transparent;
  }
  .pluck-persona-third-navigation, .pluck-persona-third-navigation-tabs, ul.pluck-persona-third-navigation-holder {
    background: #939d42;
  }
  .pluck-persona-third-navigation-hover-off {
    background: $orange-color;
  }
  li.pluck-persona-third-navigation-element {
    border: 0 none;
  }
  .pluck-persona-hero-avatar, .pluck-persona-userbar-stats, .pluck-persona-userbar-stats-data {
    background: $blue-green;
    border-bottom: 0 none;
  }
  .pluck-persona-userbar-actions, .pluck-persona-userbar-rss {
    background: #fcfcf6;
  }
  .pluck-persona-username-text {
    color: #fff;
    font-family: 'Arial', sans-serif;
    font-size: 22px;
    font-weight: normal;
  }
  span.pluck-persona-userbar-stats-data-info {
    color: #fff;
  }
  span.pluck-persona-userbar-stats-data-label a, span.pluck-persona-userbar-stats-data-label a:hover {
    color: #fff;
    text-decoration: underline;
  }
  a.pluck-persona-third-navigation-link {
    color: #fff;
  }
  a.pluck-persona-third-navigation-link-active {
    color: #222;
  }
  li.pluck-persona-third-navigation-element {
    margin-top: 10px;
  }
  .pluck-standardfont {
    font-size: 13px;
  }
}

//Pluck Persona - When viewing another user
div#pluck-persona-other-user {
  #quicktabs-user_profile_self ul.quicktabs-tabs {
    display:none;
  }
  #personaprofileiframe {
    height:500px !important;
  }
  .Persona_NullContent h2 {
    color: #939D42;
    font-family: "GracesHandRegular";
    font-size: 54px;
    font-weight: normal;
    margin: 0 0 -14px;
    padding: 0;
  }
}

//Pluck Comments
#pluckComments {
  .topContainer {
    display:none;
  }
  .pluck-comm-comment-input {
    @include pluck-no-borders;
    color: #222;
    font-family: $bodyfont;
    background: transparent;
  }
  .pluck-comm-input-content, .pluck-login-comment-content {
    background: transparent;
  }
  .pluck-login-comment-input {
    background: transparent;
    @include pluck-no-borders;
  }
  .pluck-comm-calltoaction, .pluck-login-comment-calltoaction {
    font-family: 'GracesHandRegular', script;
    font-size: 32px;
    margin-bottom: 0;
    color: #222;
  }
  .pluck-comm-input-rounded-wrap {
    background: transparent;
    @include pluck-no-borders;
    padding-left: 4px;
  }

  .pluck-login-comment-links-wrapper {
    background: transparent;
    @include pluck-no-borders;
    padding: 0px 20px 15px 15px;
  }

  .pluck-login-comment-links-submit-area {
    display:block;
    margin-bottom:15px;
    .pluck-login-comment-submit-button {
      float:left;
    }
  }

  .pluck-comm-message-border {
    width: 75%;
    position:static;
    .pluck-comment-input-box {
      width: 100%;
      border: 2px solid #abadb3;
    }
  }
  .pluck-comm-commenting-as {
    font-size: 16px;
    a {
      @extend .body-copy-link;
    }
  }
  a.pluck-primary-button {
    @extend .orange-button-cta;
    span.pluck-primary-button-text {
      color: #fff;
      background: transparent;
    }
  }
  .pluck-comm-submitoptions {
    margin-bottom: 20px;
  }
  .pluck-comm-wrapper {
    @include pluck-no-borders;
    margin: 0 20px 20px 20px;
  }
  .pluck-comm-username-display {
    margin-top:0px;
    padding-top:0px;
    a {
      @extend .body-copy-link;
      font-size: 16px;
    }
  }
  .pluck-comm-commentcount-actions p, .pluck-comm-comment-number-highlight {
    color: #fff;
  }
  .pluck-user-isEditorTier {
    .pluck-comm-avatarimg {
      border: 2px solid $blue-green;
    }
    .pluck-comm-sc-avatar {
      background: transparent;
    }
    .pluck-comm-sc-avatar:after {
      content: 'Editor';
      background: $blue-green;
      color: #fff;
      display:block;
      text-align: center;
      font-size: 10px;
    }
  }
  .pluck-comm-body {
    font-size: 13px;
  }
  .pluck-comm-share-abuse-controls {
    padding: 0 30px;
    .pluck-comm-email-area {
      display: none;
    }
  }
  .pluck-user-mp-content {
    h4.pluck-user-mp-username {
      font-size: 16px;
      a {
        color: $orange-color;
      }
    }
  }
  .pluck-user-isEditorTier {
    .pluck-user-mp-avatar-seethrough {
      background: transparent;
      .pluck-user-mp-avatarimg {
        border: 2px solid $blue-green;
      }
    }
    .pluck-user-mp-avatar-seethrough:after {
      content: 'Editor';
      background: $blue-green;
      color: #fff;
      display:block;
      text-align: center;
      font-size: 10px;
      width: 97%;
    }
  }
  .pluck-user-mp-wrap {
    @include pluck-top-border-fix;
  }
  .pluck-comm-submit-loggedInUser {
    margin-left: 8px;
  }
  .pluck-comm-single-comment-main {
    .pluck-comm-posting-form {
      .pluck-comm-calltoaction {
        padding-left: 0;
      }
      .pluck-comm-message-border {
        margin-top: 0px;
        padding-top: 0px;
      }
      .pluck-comment-input-box {
        margin-left: 0px;
        margin-top: 0px;
        padding-top: 0px;
      }
      .pluck-comm-submitoptions {
        margin-left: 0px;
        padding-left: 0px;
      }
    }
  }
  .pluck-share-dialog, .pluck-permalink-dialog {
    .pluck-dialog-wrapper {
      @include pluck-top-border-fix;
    }
  }
  .pluck-pluck-logo {
    display:none;
  }
  .pluck-comm-commenting-as {
    padding-top: 10px;
  }
}

.pluck-user-persona.pluck-persona-main-wrap {
  background: #fff;
  .pluck-persona-first-settings-info-wrap {
    margin-left: 0;
  }
  .pluck-persona-first-settings-info-headerbar {
    float:none;
    width:100%;
    @include font-and-line(22px, 26px);
    margin: 0 0 10px 0;
    padding: 0;
    color: $gray-text;
    font-family: $headingmedium;
    font-weight: normal;    
    background: #fff;
    border: 0;
    text-transform: none;
    color: $dkgray-color;
  }
  .pluck-persona-first-settings-info-basic-info {
    margin: 0;
  }
  .pluck-persona-first-settings-info-basic-info-content-gender,
  .pluck-persona-first-settings-info-basic-info-content-location {
    display: none;
  }
  .pluck-persona-first-settings-info-basic-info-label {
    font-family: $bodyfont;
    float:none;
    width: 100%;
  }
  .pluck-persona-first-settings-info-basic-info-content {
    margin-left: 0;
  }
  .pluck-persona-first-settings-info-actions {
    margin: 0;
  }
  .pluck-persona-first-settings-info-basic-info-content-avatar {
    margin-bottom: 0;
  }
  .pluck-persona-username-first-person-footer {
    display: none;
  }
}

#plckPersonaHeader {
  .PersonaHeader_Title {
    @include font-and-line(48px, 40px);
    margin: 0 0 10px;
    padding: 0;
    color: $eggplant;
    font-family: $headingbold;
    font-weight: normal;
  }
  .PluckUserAvatar {
    margin-right: 15px;
  }
}
