/* print styles */
 
@media print {
  * { background: transparent ; color: black ; text-shadow: none ; filter:none ; -ms-filter: none ; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% ; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

#print-box {
  width: 805px;
  margin: 28px auto 0;
  overflow: hidden;
  img {
     display: block;
     width: 101px;
     height: 129px;
     margin: 0 auto 10px;
  }

  input[type="radio"]{
    margin: 0 8px 10px 0;
    font-size: 16px;
    font-weight: normal;
  }

  ul {
    width: 232px;
    margin: 0;
    padding: 0;

    li {
      display: inline;
      margin: 0;
      padding: 0;
      font-family: $bodyfont;
      font-size: 13px;
      list-style: none;
    }
  }

  

  .full_recipe_image {
    float: left;
    width: 232px;
    margin: 0 55px 22px 0;
    padding: 0;
    text-align: center;

  }

  .full_recipe{
    float: left;
    width: 232px;
    margin: 0 0 22px;
    padding: 0;
    text-align: center;

  }

  .recipe_card {
    float: right;
    width: 232px;
    margin: 0 0 22px;
    padding: 0;
    text-align: center;
  }

  .orange-link {
    @extend .orange-button-cta;
    display: block;
    width: 198px;
    margin: 22px auto 0;
    text-align: center;
    clear: both;
  }
}