#block-views-promo-blocks-block {
  .promo-container {
    position: relative;
    width: 910px;
    margin-bottom: 20px;

    h2 {
      margin: 0 0 20px;
      padding: 0;
      font-size: 32px;
      font-family: $headingbold;
      text-transform: uppercase;
    }

    h2 a {
      color: $blue-green;
      text-decoration: none;
    }

    h2 p {
      @include font-and-line(42px, 54px);
      color: $slate;
    }

    p {
      margin: 0;
      padding: 0;
    }

    .promo-media {
      float: left;
      width: 428px;
      height: 285px;
      margin: 0 15px 0 0px;
      padding: 0;
      border: 1px solid #b6b7b7;
    }

    .promo-nav {
      position: absolute;
      bottom: 0px;
      right: 0px;
      display: block;
      min-width: 95px;
      margin: 20px 0 0;
      overflow: hidden;
      text-align: center;
      z-index: 50;

      .prev1 {
          float: left;
          width: 9px;
          height: 18px;
          background: image-url('ui-sprite.png') -10px -118px no-repeat;
          text-indent: -10000px;
        }

        .next1 {
          float: right;
          width: 9px;
          height: 18px;
          background: image-url('ui-sprite.png') 0px -118px no-repeat;
          text-indent: -10000px;
        }

      .promo-pager-nav {
          margin: 1px auto;
          padding: 0;
          overflow: hidden;

          li {
            display: inline;
            margin: 0 4px;
            padding: 0;
            list-style: none;

            a {
              display: inline-block;
              width: 14px ;
              height: 13px ;
              background: image-url('ui-sprite.png') -26px -104px no-repeat;
              text-indent: -10000px;
            }


          }
          li.activeSlide a {
            background-position: -26px -117px;
          }
      }
    }
  }
}

/*-------------------------------
  marquee headers on sub pages
-------------------------------*/

#block-views-marquee-page-block {
  background: $snap-pea image-url('green-tablecloth-texture.gif') repeat;
  img {
    display: block;
    margin: 0 auto;
    max-width: 1680px;
    height: auto;
  }
  .views-field-field-heading-copy {
    position: absolute;
    width: 100%;
    margin: 230px auto 0;
    text-align: center;
    z-index: 1;
    h1 {
      text-transform: uppercase;
        text-shadow:0 0 8px #000;
        font: {
          size: 65px;
        }
    }
    .sub-header {
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      text-shadow:0 0 8px #000;
      font: {
        size: 25px;
        family: $headingbold;
      }
    }
  }
}
