.view-display-id-homepage.view-promo-blocks, .view-display-id-homepage_local.view-promo-blocks {
  width: 960px;
  .view-display-id-blog {
    .views-row {
      margin-top: 10px ;
      padding: 20px 0 10px 0;
      border-top: 1px solid $slate;
      font-size: 12px;
      a {
        margin: 0px ;
        line-height: 17px;
      }
    }
  }
  .views-row {
      margin-top: 10px;

      .views-col{

        .views-field-field-heading-copy {
          strong {
            font-family: $headingbold;
            font-size: 36px;
            font-weight: normal;
          }

          em {
            font-family: 'GracesHandRegular';
            font-size: 36px;
            text-transform: lowercase ;
          }
          p {
            font-family: $headingmedium;
            @include font-and-line(17px, 24px);
            font-weight: normal;
            text-transform: uppercase;
          }
        }

    .views-field-title {
      a {
        @extend .body-copy-link;
        display: block;
        margin: 0 0 12px;
        font-family: $bodyfont;
        font-size: 14px;
        font-weight: bold;
      }
    }

    .views-field-body {
      min-height: 50px;
      p {
        margin: 0;
        padding: 0 0 8px;
        font-size: 12px;
      }
    }

    .views-field-field-link-url {
      min-height: 50px;
      a {
        @extend .orange-button-cta;
        max-width: 80%;
        text-align: center;
      }
    }

      }
  }

  .views-row.col-width-three {
      .views-col {
          .views-field {
              /*float: right;*/
          }
          .views-field.views-field-field-promo-media {
              float: left;
              width: auto;
        margin-right: 15px;
        overflow: hidden;
          }
      }

      .views-col.freeform {
          background: transparent;
          text-align: center;
          .views-field {
              float: none;
          }
      }
  }

  .views-row.col-width-two {
      .views-col {
          width: 468px;
          display: inline-block;
          float: left;
          margin-right: 18px;

      }
      .views-col.views-row-last {
          margin-right: 0px;
      }
  }

  .views-row.col-width-one {
      .views-col {
          width: 306px;
          float: left;
          margin-right: 18px;
     overflow: hidden;

      }
      .views-col.views-row-last {
          margin-right: 0px;
      }
  }

}

.view-store-services.view-display-id-local, .view-store-departments.view-display-id-local {
    table {
        width: 996px;
        border-spacing: 18px 10px;
        border-collapse: separate;
        margin-left: -18px;
        tr {
            overflow: hidden;
            background: transparent;
            td {
              .torn-pod-header { width: 306px; }
              .torn-pod-footer { width: 306px; }
                .torn-pod-content {
                    min-height: 310px;
                    width: 257px;
                    overflow: hidden;

                    .views-field-field-department-teaser-body {
                      margin: 10px 0 0;
                      font-size: 13px ;
                    }
                }
                width: 33%;

                max-height: 286px;
                overflow-y: hidden;
            }
            td.col-last {
            }
            clear:both;
        }
    }
}

.view-promo-blocks.view-display-id-block {
  .promo_cta {
  text-transform: uppercase;
    text-align: left;
    margin-bottom: 35px;
    margin-right: 5px;
  position: relative;
    a {
      display: inline-block;
      margin: 12px 0 0 ;
      padding: 10px;
      background: #E97A38;
      color: #fff;
      font-size: 11px;
      text-decoration: none;
      text-align: center;
    }
  }

    .views-row {

        .views-field.views-field-field-promo-media {
            float: left;
            margin-right: 20px;
            img {
              width: 426px;
              max-height: 284px;
              border: 1px solid #b6b8b8;
            }
            text-align: center;
        }

        .views-field-title {
          margin: 0;
          padding: 0;
          font-size: 32px;
          a {
            color: #4a1715;
            text-decoration: none;
          }
        }

        .views-field-body {
          margin: 0;
          padding: 0;

          p {
            font-size: 12px;
            line-height: 20px;
          }
        }
    }
}

.view-promo-blocks.view-display-id-homepage {
  .views-col {
    .views-field-title {
      margin-bottom: 18px;
      font-family: $headingbold ;
      font-size: 36px ;
      line-height: 32px;
      text-transform: uppercase ;
    }
    .field-content {
      margin-bottom: 8px;
      font-size: 12px;
      p {
        margin: 0;
        padding: 0;
        font-size: 12px;
        line-height: 14px;
      }
    }
  }

  .pod_twitter_feed {
    .views-field-title {
      display: none;
    }
    h2 {
      height: 45px;
      margin: 0 0 13px 0;
      padding: 0 0 5px 57px;
      background: image-url('social-media/social-sprite.png') 0 -475px no-repeat;
      color: $orange-color;
      font-family: $headingbold;
      line-height: 32px;
      text-transform: uppercase ;
    }
    .social-feed-container {
      .tweet-content {
        .tweet-img {
          float: left;
          height: 72px;
          margin-right: 20px;
        }
        padding: 22px 0 0 0;
        border-top: 1px solid #a7a7a7;
        font-size: 12px;
      }
    }
    .handle {
      a {
        font-family: $bodyfont;
      }
    }
  }

  .pod_facebook_feed {
    .views-field-title {
      display: none;
    }
    h2 {
      height: 45px;
      margin: 0 0 18px 0;
      padding: 0 0 0px 52px;
      background: image-url('social-media/social-sprite.png') 0 -430px no-repeat;
      color: #3b5998;
      font-family: $headingbold;
      line-height: 32px;
      text-transform: uppercase ;
    }
    #social-feed-container {
      .facebook-post-fetcher-item {
        padding: 22px 0;
        border-top: 1px solid #a7a7a7;
        font-size: 12px;
        overflow: hidden;

        .fb-user-img {
          float: left;
          height: 75px;
          margin-right: 20px;
        }
        h3 {
          margin: 0 0 5px 0;
          padding: 0;
          line-height: normal;
          font-family: $bodyfont;
          a {
            @extend .body-copy-link;
            margin: 0;
            padding: 0;
            font-weight: bold;
            line-height: normal;
            font-size: 13px;
          }
        }
      }
    }
    #social-feed-container > a {
      text-align: center;
      display: block;
    }
  }

  .pod_blogs {
    .view-header {
      p {
        color: #6b0137;
      }
    }
    .views-field-title {
      margin-bottom: 10px;
      a {
        text-transform: none;
      }
    }
  }

}


.view-global-frontpage-promo-views.view-id-global_frontpage_promo_views {
  img {
    border: 1px solid #999;
  }
  a {
    text-transform: uppercase;
  }
  .views-field-field-pod-1-content, .views-field-field-pod-2-content,   .views-field-field-pod-3-content  {
    min-height: 55px;
  }
  h2 {
    @include font-and-line(17px, 24px);
    font-family: $headingmedium;
    color: $slate;
    margin-top: 0;
    text-transform: uppercase;
    em {
      font-family: GracesHandRegular, script;
      font-weight: bold;
      text-transform: none;
      font-size: 36px;
      font-style: normal;
    }
  }
}

.view-promo-blocks.view-id-promo_blocks.view-display-id-homepage {
  .views-row.col-width-three {
    width: 955px;
  }
  .views-field-field-promo-media {
    img {border: 1px solid #999;}
    margin-bottom: 8px;
  }
  .views-field-field-link-copy {
    a {
      @extend .orange-button-cta;
    }
  }
  .views-row.col-width-one {
    .social, .pod_blogs, .pod_twitter_feed, .pod_facebook_feed {
      .torn-pod-content {
        height: auto;
      }

      .views-field-field-heading-copy {
        min-height: 0;
        margin-bottom: 0;
        margin-top: 0;
        p { margin: 0}
      }
    }
  }

  .views-row.col-width-one {
    .torn-pod-content {
      height: 360px; //There's some javascript or something that needs this value
      min-height: 360px;
    }
  }
}
