#block-views-aba9ee0277b50a558ac02c027ae96917 {
  padding: 20px;
}
/******************************
 * Display ID Front Page ?
 *
 *****************************/

.view-display-id-front_page {
  .view-header {
    width: 298px;
    height: 390px;
    margin-right: 18px;
    display: inline-block;
    background: #8a943e;
    padding: 5px;
    float: left;
    text-align: center;
    color: #fff;
    min-height: 420px;
    a { color: #fff }
    .inner {
      background: #fff;
      color: #000;
      text-align: center;
      height: 327px;
      .heading {
        color: #939d42;
        font-family: $headingbold;
        font-size: 32px;
        text-transform: uppercase ;
        padding-top: 100px;
        .heading-go {
          color: #4a1715;
          font-family: 'GracesHandRegular';
          font-size: 29px;
          font-weight: normal;
          padding-right: 5px;
        }
      }
      .copy {
        font-size: 18px;
        text-transform: uppercase;
        padding: 10px 50px;
        line-height: 22px;
      }
      .change_store {
        font-size: 15px;
        padding-top: 60px;
        a {
          @extend .orange-button-cta;
        }
      }
    }
    .copy {
      padding-top: 20px;
      padding-bottom: 15px;
    }
  }
}


.nearest_stores {
  .view-store-lookup-by-address {
    .views-row {
      min-height: inherit;
    }
  }
}


.view-store-lookup-by-address.view-display-id-within_range {
  .views-row {
    height: inherit;
  }
}

/*****************************
 *  Node 7477
 *****************************/
.page-node-7477 .view-store-lookup-by-address .view-content {
    margin-left:0px ;
  }

.view-store-lookup-by-address, .view-store-locations-by-state {
 .view-header {
    height: 50px;
  }
 .view-content { overflow-y: auto;}
    #store-finder-heading {
    font-size: 2.0em;
    color: $gray-text;
    position: relative;
    top: 50px;
    text-transform: uppercase;
  }
  .views-row {
    float: left;
    position: relative;
    width: 257px;
    .torn-pod-footer { display: none }
    .torn-pod-header { display: none }
    margin: 5px 14px 15px;
    height: 450px;
  }
  .show_more_stores {
    display: block;
    padding: 10px 0;
    background: #ccc;
    font-size: 18px;
    text-align: center;
    clear: both;
  }
  .storefront-img {
    border: 1px solid #999;
    overflow: hidden;
    img {}
    margin: 0 0 20px;
  }
  h2 {
    &.storefront-title {
      font-family: $bodyfont;
      font-size: 25px ;
      font-weight: normal;
      margin: 0 0 8px;
      padding: 0;
      color: $gray-text;
      text-transform: capitalize;
      /* line-height: 22px ; */
    }
  }
  .storefront-address {
    margin: 0 0 10px;
  }
  .torn-pod-content {
    form {
      padding: 0;
      margin-bottom: 10px;
    }
  }
  form {
    margin: 0;
    padding: 0px 0 0;

    .form-submit {
      bottom: 0px;
    }
    #edit-submit-store-lookup-by-address--2 {
      /* margin-top: 14px; */
    }
  }
  .button {
    margin:0;
    padding: 15px 0 0;
  }
}

.show_more_stores {clear:both;}

div.user-store,
input[type="submit"].user-store {
  background-color: #fff ;
  color: $orange-color ;
  border: 1px solid $orange-color;
  font-size: 13px;
  margin-right: 10px;
  height: 16px;
  width: 134px;
  text-align: center;
  line-height: 16px;
  padding: 4px 8px;
}

/*********************************
 *    Store Social Links
 **********************************/

.store-social {
  width: 32px;
  height: 32px;
  overflow: hidden;
  display: inline-block;
  a {
    display: block;
    width: 32px;
    height: 32px;
    color: #fff;
    text-decoration: none;
    text-indent: -10000px;
    &.facebook-link {
      background: image-url('social-media/social-sprite.png') -57px -33px no-repeat;
    }
    &.twitter-link {
      background: image-url('social-media/social-sprite.png') -57px -132px no-repeat;
    }
    &.gplus-link {
      background: image-url('social-media/social-sprite.png') -57px -66px no-repeat;
    }
    &.pinterest-link {
      background: image-url('social-media/social-sprite.png') -57px -99px no-repeat;
    }
    &.flickr-link {
      background: image-url('social-media/social-sprite.png') -57px 0 no-repeat;
    }
    &.youtube-link {
      background: image-url('social-media/social-sprite.png') -57px -165px no-repeat;
    }
  }
}


/******************************
 *   Store Page Layouts
 ******************************/

.view-display-id-wfm_store_info {
  font-size: 13px;
  h1.store-title {
    @include font-and-line(60px, 72px);
    margin: 0 0 15px;
    padding: 0;
    text-align: left;
    color: $slate;
    text-transform: none;
  }
  .content-float {
    width: 200px;
    display: block;
    float: left;
    margin: 0 15px 0 0;
  }
  .views-field-field-phone-number {
    float: left;
  }
  .views-field-nothing {
    clear: left;
  }
  .views-field-nothing-1 {
    float: right;
    width: 240px;
    line-height: 1.4em;
    .set_store {
      margin: 10px 0;
      &.title {
        display: none;
      }
      a {
        @include orange-button();
      }
    }
    .user-store {
      margin: 10px 0;
    }
    .order-title {
      text-transform: uppercase;
      font-weight: bold;
      margin: 15px 0 5px;
    }
    .info {
      margin-bottom: 15px;
    }
  }
  span {
    &.country {
      display: none;
    }
  }
}

#block-views-promo-blocks-custom-location .views-row {
  width: auto;
  margin-top: 20px;
  background: #fff;
}

/*******************************
 *    Store Content sidebar
 *******************************/

#body.node-type-store {
  #block-system-main {
    display: none!important; //Another necessary one to override an inline style
  }
  .view-store-page-content {
    font-size: 13px;
    ul {
      li {
        font-size: 13px ;
      }
    }
  }
  .store-holiday-hours-title {
    font-weight: bold;
  }

  #block-webform-client-block-96 {
    h2 {
      margin-left: 20px;
    }
    .webform-client-form {
      margin-top: -25px;
      padding: 20px;
    }
  }
  .region-sidebar-second {
    h2 {
      font-weight: normal;
      color: $gray-text;
      margin: 0;
      padding: 0 0 15px;
      font-family: $headingmedium;
      font-size: 22px ;
      text-transform: uppercase;
      line-height: 30px;
    }
    .view-display-id-wfm_world_hq {
      .views-field-title {
      }
    }
    .view-offices {
      font-size: 13px ;
    }
  }

  .undernav-container {
    .content-sidebar {
      width: 50%;
      overflow: wrap;
    }
  }

  .content-sidebar {
    @include border-box;
    font-size: 12px;
    line-height: 22px;
    width: 220px;
    padding: 20px 20px 0 0;
    .block {
      margin: 0 0 15px;
      padding: 0 0 15px 15px;
      border-bottom: 1px #999 solid;
      &:last-child {
        border-bottom: none;
      }
    }
    h2 {
      @include font-and-line(22px, 24px);
      color: $grass;
      margin: 0;
      padding: 0 0 15px;
      font-family: $headingmedium;
    }
    .store-job-title {
      font-weight: bold;
    }
  }
  .region-content {
    h2 {
      @include font-and-line(24px, 26px);
      font-family: $headingmedium;
      color: $grass;
      padding: 0;
      margin: 0 0 10px 0;
    }
    .view-display-id-store_social {
      padding: 0 0 15px 0;
    }
  }
}
.view-display-id-wfm_store_info {
  h1 {
    color: #333;
  }
}

/*******************************
 * Store Contact Form
 *******************************/

form#webform-client-form-96 {
  width: 340px;
  input {
    width: 340px;
    &.form-submit {
      @extend .orange-button-cta;
      @include font-and-line(18px, 18px);
    }
    &#edit-previous {
      display: none;
    }
  }
  label {
    font-size: 12px;
    line-height: 18px;
    color: #333;
    text-transform: uppercase;
    font-weight: normal;
  }
  textarea {
    width: 340px;
  }
  fieldset#webform-component-user-content, #edit-actions  {
    display: none;
    &.field-display {
      display: block;
    }
  }
}


/*********************************
 *    Store Map
 *********************************/
#block-store-store-location-map {
  & > h2 {
    margin-left: 20px;
  }

  .application-root {
    position: relative;
  }

  .selectedStore {
    margin: 0 20px;
    @media (min-width: 631px) {
      float: right;
      position: relative;
      top: -70px;
    }
  }

  .selectedStore-title {
    @include font-and-line(13px, 21px); // Yeah, not supposed to have units in line-height, but this matches the rest of the site's body text.
    margin: 0;
    font-family: $bodyfont;
    color: $dkgray-color;
  }

  .selectedStore-label {
    font-weight: bold;
  }

  .selectedStore-subHeading {
    @include font-and-line(13px, 21px); // Yeah, not supposed to have units in line-height, but this matches the rest of the site's body text.
    margin: 0;
    font-weight: bold;
    font-family: $bodyfont;
    color: $dkgray-color;
  }

  .address-form {
    margin: 0 0 20px 20px;
  }

  .address-form-input {
    min-width: 300px;
    @media (mid-width: 450px) {
      min-width: 400px;
    }
  }

  .address-form-submit {
    @include search-submit(25px, 25px);
    //border-top: 3px solid $orange-color;
    border-top: 3px solid #ea7c1d; // Using this instead of $orange-color varialbe due to color in the sprite.
    position: relative;
    top: -1px;
  }

  .storeList {
    margin: 20px 0 0 20px;
    @media (min-width: 600px) {
      max-width: 50%;
    }
  }

  .storeList-list {
    padding: 0 0 0 16px;
  }

  .directionsPanel {
    margin: 0 20px;
    @media (min-width: 600px) {
      max-width: 45%;
      float: right;
    }
  }

  // Override some default Google Maps styles
  img.adp-marker {
    max-width: 22px;
    margin-right: 5px;
  }

}


.view-store-departments {
  .social-links {
    div {
      @include inline-block;
      margin-right: 5px;
    }
  }
}

#body.node-type-store {
  .content-sidebar {
    .view-display-id-wfm_store_services {
      .view-content {
        a { color: $orange-color; }
      }
    }
  }
}

body.node-type-department.page-node {
  .torn-pod-content {
    .block-views {
      margin-top: 0px ;
      .view-id-store_departments {
        .views-field-body {
          padding-top: 15px;
          //border-top: 1px solid #afafaf;
          //border-bottom: 1px solid #afafaf;
          span {
            font-family: $bodyfont;
          }
        }
      }
    }
  }
  #content {
    .torn-pod-content {
      //padding: 20px ;
      #breadcrumb.shown {
          padding: 0px ;
          margin: 20px 0 0 20px;
      }
    }
  }
}

body.node-type-department-article {
  .torn-pod-content {
    .contentbox {
      //padding:  0 20px 20px;
    }
    #block-views-store-departments-block-3 {
      .content {
          margin-bottom: 15px;
          border-bottom: 1px solid #afafaf;
          overflow-y: auto;
      }
    }
  }
}

#sidebar-second .view-id-store_departments.view-display-id-block_3 {
  padding-bottom: 15px;
  margin-bottom: 15px;
  .views-row {
    display: list-item;
    list-style-type: disc;
    list-style-position: outside;
    list-style-image: none;
    margin: 0 0 0 20px;
    padding: 0;
    .views-field-title {
      margin: 0;
      display: block;
      a {
        @include font-and-line(13px, 20px);
        @extend .body-copy-link;
        font-family: $bodyfont;
        &.current-page-item {
          color: $dkgray-color;
          text-decoration: none;
        }
      }
    }
  }

  .view-footer {
    clear: both;
  }

  .view-display-id-department_description {
    .views-row {
      width: 100%;
      border-top: 1px solid gray;
      margin-top: 15px;
      padding-top: 30px;
    }
  }
}

.view-display-id-article_title {
  .views-field-field-department-subtitle {
    .field-content {
      margin-top: 0px;
      margin-bottom: 0px;
      color: #222;
      font-family: $bodyfont;
      font-weight: bold;
      position: relative;
      top: -5px;
    }
  }

  .views-field-php {
    display: inline-block;
  }

  margin-bottom: 10px;
}

.view-store-locations-by-state {
  h3 {
    margin: 0;
    padding: 0;
    color: $gray-text;
    font-family: $bodyfont;
    font-size: 40px;
    font-weight: normal;
    clear: both;
    margin-bottom: 30px;
    padding-top: 40px;
  }
  .show_more_stores {
    display: block;
    padding: 10px 0;
    background:
    #CCC;
    font-size: 18px;
    text-align: center;
    clear: both;
  }
}


.undernav-container {
  .form-type-search-api-location-pick {
    width: 200px;
    .form-item-address {
      input.form-text {
        width: 190px;
      }
    }
  }
}

.node {
  .view-id-store_lookup_by_address {
    .views-submit-button {
      margin-left: -140px;
    }
  }
}

.store-newsletter {
  font-size: 13px;
  margin-bottom: 10px;
}

.node-type-store {
  .node-store {
    display: none ;
  }
}


#block-block-14 {
  view { display: none; }
}


#block-block-14.marked.done {
  .view { display: block; }
}


.node-webform  {
  .hidden_form_message {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }
}

.node-webform .hidden_form_message {
  display: none;
}
.node-webform.ready  {
  #webform-client-form-7477.webform-client-form {
    display: inherit;
  }
}

.view-online-ordering-current-store.view-id-online_ordering_current_store {
  .view-empty {
    text-align: center;
  }
}

.front {
  .view.view-store-lookup-by-address.view-id-store_lookup_by_address.view-display-id-front_page.store-lookup-frontpage {
    .view-content {
      margin-left: inherit;
      float: none;
      margin-top: 0;
      .views-row {
        form {
          margin-top:30px;
        }
      }
    }
  }
}

.view-online-ordering-current-store.view-id-online_ordering_current_store {
  .view-empty {
    text-align: center;
  }
}

.page-node-42.view-online-ordering-current-store.view-id-online_ordering_current_store.view-display-id-block .form-submit {


}
.view-online-ordering-current-store.view-id-online_ordering_current_store.view-display-id-block {
  padding: 20px;
  .form-item:first-child {
  width: 170px;
  float: left;
  }
  .form-item-store-selector {
    margin-top: 29px;
    float: left;
    width: 140px
  }
  .form-submit {
    margin-top: 29px;
    height: auto;
    margin-left: 5px;
  }
  .view-header {
    background: url('../images/turkey.jpeg');
    background-origin: border-box;
    -moz-background-origin: border-box;
    background-repeat: no-repeat;
    float: left;
    display: inline-block;
    width: 305px;
    height: 203px;
    border: 1px solid #B8B8B8;
  margin-right: 20px;
  }
  .view-content {
    float: right;
    width: 265px;
  margin-top: 20px;
  min-height: 203px;
  }
  .view-empty {
    a { color: #EC7A37; text-decoration: none }
  }
  .view-footer {
    display: inline-block;
    float: left;
    /*margin-left: 20px;*/
    /*margin-top: 20px; */
  min-height: 203px;
  max-width: 300px;
  }
}

.view-store-locations-by-state,
.view-store-lookup-by-address {
  .set_store.title {
    .form-submit {
      background: #fff;
      @extend .body-copy-link;
      padding: 5px 0;
      font-size: 20px;
      text-transform: none;
      word-wrap: normal;
      border-right: 0 none;
      border-bottom: 0 none;
    }
  }
}

.set_store.title {
    .form-submit {
      height: auto;
    }
}

#modalContent .ctools-modal-content #modal-content .view-store-lookup-by-address .views-row .torn-pod-content {
  .set_store.title {
    .form-submit {
      background: #fff;
      @extend .body-copy-link;
      border-bottom: 0 none;
      border-right: 0 none;
      padding: 5px 0;
      font-size: 20px;
      text-transform: none;
    }
  }
}

.page-node-42 {
  #block-wfm-blocks-online-ordering-body {
    h3 {
      @include font-and-line(42px, 40px);
      font-family: $headingbold;
      color: $slate;
    }
    h4 {
      @include font-and-line(18px, 24px);
      font-family: $headingmedium;
      color: $slate;
    }
  }
  .view-footer{
    select{
      width: 140px;
      padding: 2px 3px;
      background: image-url('select-arrow.jpg') no-repeat;
      background-position: right center;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -webkit-appearance: none;
      border-color: $orange-color;
      font-size: 12px;
    }
  }
}

.node-type-service {
  .section .torn-pod-content {
    padding: 0;
  }
  #content #block-views-store-departments-service-title,
  #content #block-views-06dc1b3d1e69562fdf9ec466eda5ed5d {
    padding-top: 0;
  }
}
