/*******************************************
* Store Locator - AKA Store Lookup By Address
*********************************************/


.view-store-lookup-by-address {
  margin-left: auto;
  margin-right: auto;
  &.view-display-id-state_number_list {
    position:relative;
  }

  #modal_message{
    height: 20px;
  }

  #store-finder-heading {
    font-size: 2.0em;
    line-height: 1.5em;
    color: $gray-text;
    text-transform: uppercase;
    font-family: $headingbold;
  }

  #store-finder-help-text {
    z-index: 1; /* due to overlap positioning */
    left: 52%;
    border-left: 1px solid #B8B8B8;
    padding-left: 1.5%;
    width: 30%;
    height: 75px;
    vertical-align: middle;
    a {
      @extend .body-copy-link;
    }
  }

  .views-exposed-form {
    position: relative;
    padding-top: 10px;
  }

  .view-filters {
    clear:both;
    border-bottom: 1px solid #b8b8b8;
    margin-top: -75px;
    //height: 1px;
    
    #views-exposed-form-store-lookup-by-address-block{
      //height: 1px;
    }

    #edit-field-geo-data-latlon-widget-wrapper {
      padding: 0;
      label {
        display: none;
      }
    }
    
    #edit-field-geo-data-latlon-wrapper {
      float: left;
      margin: 0;
      padding: 0;
    }

    .form-type-textfield {
      text-indent: 0px;
      width: 100%;
      margin-bottom: 11px;
      line-height: 0;
      #edit-field-geo-data-latlon-address {
        @include border-box;
        background: #ffffff;
        width: 100%;
        height: 22px;
      }
    }

    .form-type-search-api-location-pick {
      font-size: 13px;
      margin: 0;
      .form-item-address {
        input.form-text {
          font-size: 10px;
        }
      }
    }

    .views-exposed-widget.views-submit-button {
      .form-submit {
        background: url("/sites/all/themes/wholefoods/images/ui-sprite.png") no-repeat scroll 0 -86px rgba(0, 0, 0, 0);
        border: 0 none;
        height: 20px;
        margin: 0;
        padding: 1px;
        text-indent: -10000px;
        width: 24px;
        border-top: 1px solid $orange-color;
        border-bottom: 1px solid $orange-color;
        height: 22px;
      }
    }

    #edit-submit-store-lookup-by-address {
      width: 24px;
      height: 20px;
      border-top: 1px solid $orange-color;
      background-color: $orange-color;
      text-indent: -10000px;
      margin: 0;
      &:focus {
        outline: none ;
      }
    }
    .ajax-progress-throbber {
      position: absolute;
    }
    #edit-submit-store-lookup-by-address--2 {
      position: relative;
      top: -1px;
    }
  } //.view-filters

  .item-list .custom-pager {
    //margin-bottom: 70px;
  }

  // view content
  .view-content {
    overflow: hidden;
    margin-top: 12px;
    margin-left: 20px;
    clear: both;
  }  // end view content

  // views row
  .views-row {
    float: left;
    position: relative;
    width: 33%;
    min-height: 400px;
    margin: 0 ;
    background-image: none ;

    &.views-row-3 {
      margin-right: 0px ;
    }
    &.views-row-6 {
      margin-right: 0px ;
    }
    &.views-row-9 {
      margin-right: 0px ;
    }

    h2 {
      margin-top: 2px;
      color: $gray-text;
      font-size: 22px ;
      line-height: 24px ;

      &.storefront-title {
        font-family: $headingmedium;
        font-size: 25px ;
        font-weight: normal;
        margin: 0 0 8px;
        padding: 0;
        color: $gray-text;
      }
      a {
        line-height: 24px;
      }
    }
    a {
      @extend .body-copy-link;
    }

    .storefront-img {
      height: 160px;
      border: 1px solid #999;
      overflow: hidden;
      margin: 0 0 10px;
    }

    .show_more_stores {
      display: block;
      padding: 10px 0;
      background: #ccc;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      clear: both;
    }

    .storefront-address {
      margin: 0 0 10px;
      font-size: 13px;
      .country {
        display:none;
      }
    }

    .storefront-button-description {
      display:none;
    }

    .storefront-phone, .storefront-hours {
      font-size: 13px;
    }

    .torn-pod-header {
      height: 0px;
      background: none ;
      display: none;
    }

    .torn-pod-content {
      width: 228px;
      padding: 0;
      background: none;
      form {
        padding: 0;
      }
    }

    .torn-pod-footer {
      height: 0px;
      background: none ;
      display: none;
    }

    form {
      margin: 0;
      padding: 0px 0 0;
      #edit-submit-store-lookup-by-address, #edit-submit-store-lookup-by-address--2 {
        position: relative ;
        margin: 0;
      }
     .form-submit {
        //position: absolute ;
        bottom: 0px;
      }
     .button {
        margin:0;
        padding: 15px 0 0;
      }
    }
  } // end view row

  &.view-display-id-store_locations_block {
    .view-filters {
      border: none;
      position:  relative;

      .view-stores-current {
        text-align: right;
        font-size: 12px;
      }
    }
    #toggle-map {
      display: none;
    }

    .view-stores-right {
      float: right;
      width: 460px;

      #mapCanvas {
        margin-bottom: 2.5em;
        img {
          max-width: initial;
        }
      }

      #promoBlock {
        line-height: normal;

        > .block > .content {
          padding-bottom: 30px;
        }
      }
    }

    .view-content {
      clear: none;
      margin: 0;
      width: 46.7%;

      h3 {
        @include font-and-line(18px, 18px);
        color: $slate;
        margin-bottom: 15px;
      }

      .views-row {
        width: auto !important;
        float: left;
        clear: left;
        height: auto;
        min-height: 200px;
        margin-bottom: 3.5em;

        .torn-pod-content {
          width: auto;

          > div, > form {
            margin-left: 190px;
            margin-right: 0px;
          }
          .marker {
            float: left;
            width: 36px;
            margin-left: 0px;
            margin-right: 0px;
          }

          .storefront-img {
            float: left;
            width: 120px;
            height: 85px;
            margin-left: 18px;
            margin-right: 0px;
            img {
              width: 120px !important;
              height: 85px !important;
            }
          }

          .views-field-title {
            h4 a {
              @include font-and-line(42px, 46px);
              font-family: $headingbold;
              text-transform: capitalize;
            }
          }

          .addressfield-container-inline:after {
            clear: none;
          }

          .storefront-links {
            font-size: 11px;
            color: #000;
            margin-top: 15px;
            margin-bottom: 15px;
            a {
              font-size: inherit !important;
            }
          }
          .set_store.title {
            display: none;
          }
          .storefront-button-description {
            font-style: italic;
            color: gray;
            font-size: 12px;
            margin-right: 30px;
            line-height: 1.45em;
            display: none;
            padding: 12px 0;
          }
        }
        &.views-row-1 {
          border-bottom: 1px solid #b8b8b8;
          margin-bottom: 2.5em;
          min-height: 300px;

          .storefront-button-description {
            display: block;
          }
        }
      }
    }

    .view-content-bottom {
      clear: both;
      border-bottom: 1px solid #b8b8b8;
      margin-bottom: 1.5em;
    }

    .view-filters-bottom {
      clear: none;
      margin-top: 0px !important;

      form#views-exposed-form-store-lookup-by-address-store-locations-block-bottom {
        margin: 0 auto;
        width: 347px;
        max-width: 100%;
        text-align: center;

        .views-exposed-form {
          padding-top: 0;
        }

        #edit-field-geo-data-latlon-wrapper-bottom {
          width:310px;
          padding: 0;
          label {
            display: block;
            margin: 4px 10px 0 0;
            text-transform: none;
            font-size: 14px;
            font-weight: normal;
          }
          .menu {
            display: none;
          }
          #edit-field-geo-data-latlon-address-bottom {
            max-width: 313px;
          }
        }

        #edit-submit-store-lookup-by-address-bottom {
          margin: 32px 0 0;
        }

        .links, .field-suffix {
          display: none;
        }
      }
    }
  }
} // end view-store-lookup-by-address

// Select Store Page Modifications
.page-node-24088{
  .views-exposed-widget.views-submit-button {
    padding: 0px;
  }
}

// Select Store Modal Modifications
.modal-content {
  max-width: 97% ;
  .view-store-lookup-by-address {
    font-size: 13px;
    .view-header {
      height: 100px;
    }
    #store-finder-heading {
      top: 0;
    }
    #store-finder-help-text {
      position: relative;
      top: -35px;
      @include font-and-line(15px, 22px);
    }
    .view-filters {
      margin-top: -30px;
      .views-exposed-widget.views-submit-button {
        padding: 0;
        margin: 0px 0px 0px 1px;
        float: inherit;
      }
      .form-type-textfield #edit-field-geo-data-latlon-address {
        border-top: thin solid;
        border-right: thin solid;
        border-bottom: thin solid;
        border-left: thin solid;
      }
    }
  }
} // end modal-content modifications

.view-store-locations-by-state {
  .views-row {
    .storefront-button-description { 
      font-style: italic; 
      color: gray; 
      font-size: 12px;
      margin-right: 30px; 
      line-height: 1.45em; 
      display: none; 
      padding: 12px 0; }
  }
  .view-content {
    .views-row {
      &.views-row-1 {
        margin-bottom: 2.5em;
        min-height: 300px;

        .storefront-button-description {
          display: block;
        }
      }
    }
  }
  .views-field-nothing-1 {
    .set_store.title { 
      display: none; 
    }
  }
} // end view-store-locations-by-state
