#block-views-videos-featured-header {
  .view-display-id-featured_header {
    .views-field-title {
      margin: 10px 0;
      color: $blue-green;
      font-family: $headingbold;
      font-size: 32px;
      opacity: 0.80;
        filter: alpha(opacity=80);
        text-transform: uppercase;
    }
  }
}
.page-node-6855 {
  .form-submit {
    background: image-url('ui-sprite.png') 0 -86px no-repeat;
    border: 0 none;
    height: 19px;
    margin: 6px 0 0 4px;
    padding: 0;
    text-indent: -10000px;
    width: 24px;
  }
  #content {
    .torn-pod-content {
      padding: 15px 0 0;

      #block-quicktabs-videos {
        h2 {
          display: none;
        }

        ul.quicktabs-tabs {
          margin-left: 21px;
          li {
            a {
              color: #EC7A37;
              font-family: $headingmedium;
              font-size: 28px;
              text-transform: uppercase;
              opacity: 0.99;
                filter: alpha(opacity=99);
            }
          }
          li.active {
            a {
              color: #0d7151;
            }
          }
        }

        .view-videos.view-display-id-block_1 {
          .view-filters {
            background: image-url('videos/video-sprite.png') 0 -71px no-repeat;
            #edit-submit-videos { 
              height: 24px;
              border-top: 2px solid $orange-color; 
              border-bottom: 2px solid $orange-color; 
            }
          }
        }

        .view-videos {
          .views-row {
            margin: 0 auto;
            padding: 0;
            border-top: 1px solid #a5a5a5;

            .views-col {
              float: left;
              width: 319px;
              overflow: hidden;
              &:nth-child(even) {
                border-left: 1px solid #a5a5a5;
                border-right: 1px solid #a5a5a5;
              }
            }
            .views-col.views-row-last {
              margin-right: 0px;
            }
          }
          .views-field-field-video {
            width: 222px;
            margin: 20px auto 0;
            padding: 0;
          }
          .views-field-title {
            width: 250px;
            min-height: 35px;
            margin: 10px 0 0px 48px;
            padding: 0;
            font-family: $bodyfont;
            font-size: 14px;
          }

          .views-field-field-video-duration {
            margin: 0 0 0 48px;
            padding: 0;
            font-family: $bodyfont;
            font-size: 14px;
          }
          .views-field-field-video-youtube-published {
            margin: 0 0 20px 48px;
            padding: 0;
            font-family: $bodyfont;
            font-size: 14px;
          }

          .item-list {
            margin: 0 auto;
            padding: 10px 0 0;
            border-top: 1px solid #a5a5a5;
          }

          .view-filters {
            label { display: none; }

            width: 861px;
            height: 51px;
            margin: -10px 0 10px 40px;
            padding: 21px 0 0 20px;
            background: image-url('videos/video-sprite.png') 0 0 no-repeat;

            #edit-title-wrapper {
              padding: .5em 0 0 0;
            }

            #edit-field-video-playlists-tid-wrapper {
              label {
                display: none;
              }
            }
            .views-exposed-form {
              .views-exposed-widget {
                .form-submit {
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
  }
} //Holy Closing Braces Batman!