.node-type-blog,
.node-type-person {
  color: $baseColor3;
  .panel-display {
    padding-bottom: 1em;
  }
  .panel-pane {
    border-top: none;
  }
}

.view-blogs.view-display-id-mobile_blog_pages,
.view-blog-posts-by-author.view-display-id-mobile_blog_posts_by_author {
  .view-header {
    .blog-title {
      font-size: round($baseFontSize * 2.45);
      font-weight: normal;
      padding: .5em 0 0;
      text-align: center;
    }
    .blog-subtitle {
      font-weight: bold;
      font-size: $baseFontSize;
      text-align: center;
    }
  }
  .views-row {
    border-bottom: 1px solid #999;
    padding: 1em 0;
    .post {
      h3 {
        font-size: 28px;
        text-align: left;
      }
      .meta {
        line-height: 2;
        padding-bottom: .5em;
        text-align: right;
        .date-field {
          float: left;
        }
      }
      .view-blogs .body {
        -webkit-text-size-adjust: 125%;
        -ms-text-size-adjust: none;
        img {
          max-width: 100% !important;
        }
        p {
          margin: 0;
        }
      }
    }
    .full-story {
      padding-top: .5em;
      -webkit-text-size-adjust: 125%;
      -ms-text-size-adjust: none;
    }
  }
  .pager {
    font-size: 28px;
    margin: 0;
    padding-top: 1.5em;
    white-space:nowrap;
    li {
      font-weight: normal;
      margin: 0;
      padding: 0 0.8em;

      &.first {
        padding-left: 0;
      }
      &.last {
        padding-right: 0;
      }
      a {
        text-decoration: underline;
      }
    }
  }
}

.node-type-blog-post {
  .pane-blogs-mobile-blog-post {
    color: $baseColor3;
    .view-header {
      .back {
        height: auto;
        line-height: 2;
      }
      .blog-title {
        font-size: 36px;
        font-weight: normal;
        padding: .5em 0 0;
        text-align: center;
      }
      .blog-subtitle {
        font-weight: bold;
        font-size: $baseFontSize;
        text-align: center;
      }
    }
    .view-content {
      padding-top: 1em;
      .views-row {
        .views-field-title {
          font-size: 28px;
        }
        .views-field-field-blog-author {
          text-align: right;
        }
        .views-field-body {
          padding-bottom: 1em;
        }
        .views-field-comment-count {
          border: solid #999;
          border-width: 1px 0;
          color: $linkColor;
          cursor: pointer;
          padding: 12px;
          text-align: right;
          text-decoration: underline;
        }
      }
    }
  }

  .panel-pane.pane-node-comment-form {
    background-color: #e9e9e9;
    border: solid #999;
    border-width: 1px 0;
    color: $baseColor3;
    display: none;
    h2.pane-title {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #e9e9e9;
      color: $orange;
      font-size: $baseFontSize;
      padding: 11px 12px;
      &.animating {
        border-bottom: 1px solid #e9e9e9 !important;
      }
    }
    a.toggle {
      font-size: $baseFontSize * 1.5;
      line-height: 55px;
      right: 12px;
    }
    &.collapsed h2.pane-title {
      border-bottom: 1px solid #fff;
    }
    .pane-content {
      padding: .5em;
      label {
        font-size: 28px;
        font-weight: bold;
        text-transform: uppercase;
      }
      textarea,
      input[type="text"],
      input[type="email"] {
        border: 1px solid #000;
        width: 100%;
      }
      #edit-disclaimer {
        font-style: italic;
        margin-top: 0;
      }
      .form-item .description {
        font-size: $baseFontSize;
      }
      #edit-actions {
        margin-bottom: 0;
        input[type="submit"] {
          border-radius: 0;
          font-size: 1em;
          font-weight: normal;
          margin: 0 2em 0 0;
          text-transform: uppercase;
        }
      }
    }
  }

  .view-blogs.view-display-id-mobile_blog_post_comments {
    padding-top: 1em;
    .view-header h2 {
      font-weight: normal;
    }
    .pager {
      margin: 0;
      li {
        margin: 0;
        padding: 0;
        position: relative;
        a {
          border-bottom: 1px solid #999;
          display: block;
          padding: 1.5em 0;
          text-decoration: underline;
        }
        .ajax-progress-throbber {
          top: 0;
        }
      }
    }
  }

  .back-to-blog-home {
    border: none;
    padding-top: 1em;
  }
}
