.page-node-7477,
#customer-service {

  .form-type-select,
  .webform-component {
    margin: 0.5em 1.5em 1em 0.75em;

    label {
      font-size: 1.15em;
      text-transform: none;
    }
    select.form-select,
    input,
    textarea {
      width: 100%;
      font-size: 1.2em;
    }
  }
  .webform-component {
    label {
      font-size: 1.1em;
    }
  }
  .phone-number-box {
    margin-top: 1.3em;
  }
  h2 {
    font-size: 1.65em;
    font-weight: normal;
    line-height: 1.2em;
  }
  h3 {
    font-size: $baseFontSize + 2px;
    padding-top: 1.2em;
    color: $lightBlack;
    font-weight: bold;
  }
  ul {
    list-style: disc;
    padding-left: 1.9em;
    margin-top: 1em;

    li {
      line-height: 1.4em;
    }
  }
}

#webform-client-form-7477 {
  #webform-component-name, #webform-component-email, #webform-component-phone {
    background: #eee;
    margin: 0;
  }
  #webform-component-name {
    padding: 20px 20px 10px 20px;
  }
  #webform-component-email {
    padding: 0 20px 10px 20px;
  }
  #webform-component-phone {
    padding: 0 20px 20px 20px;
  }

  .form-select {
    width: 100%;
  }

  // Center Submit button.
  #edit-actions {
    text-align: center;
  }

  #webform-component-product-upc {
    background: url("../images/barcode_blank.png") no-repeat scroll 15px 45px transparent;

    label {
      padding-bottom: 200px;
    }
    span {
      font-size: 1.2em;
      margin: 0 8px;
    }
  }
  // Round numbers
  fieldset.form-wrapper {
    counter-increment: step-counter;
    &:before {
      display: block;
      content: counter(step-counter);
      padding: .25em .75em;
      text-align: center;
      background: $disabled;
      color: #fff;
      border-radius: 100%;
      margin: 20px auto 0 auto;
      vertical-align: top;
      font-size: 1.6em;
      width: 16px;
    }
    &.is-active {
      &:before {
        background: $orange;
      }
    }
  }

  // Initially hidden form components. Why individual ids? Adding a class in the store_form_webform_client_form_7477_alter
  // function on a webform adds it to the input, not the wrapping div. We want to hide the wrapping div.
  #webform-component-step3--product-upc, #webform-component-step2--store-zip-code, #webform-component-step3--body,
  .form-item-submitted-step2-store-wrap-state-select, .form-item-submitted-step2-store-wrap-store-select,
  .form-item-submitted-step2-store-wrap-365-state-select, .form-item-submitted-step2-store-wrap-365-store-select,
  #phone-number-box-wrapper,#webform-component-step2--product-category, #webform-component-step2--trouble-url, #webform-component-step2--product-category,#webform-component-step2--what-device,#webform-component-step2--signin-method,#webform-component-step2--user-email {
    display: none;
  }
}

#edit-submitted-step3-product-upc {
  width: 50%;
  vertical-align: top;
  margin-right: 20px;
}