$grayborder: #b8b8b8;

.view-id-coupons.view-display-id-block {
  .collapsible.form-wrapper {
    legend {
      display: none;
    }
  }
  .vbo-fieldset-select-all {
    @include clearfix;
    width: 100%;
    text-align: left;
    .form-item-select-all-coupons {
      float:left;
    }
  }
  .views-row {
    border: solid 2px $grayborder;
    cursor: pointer;
    margin: 5px 0;
    min-height: 168px;
    position: relative;
    &.checked {
      background: $orange;
    }
    .form-type-checkbox {
      input {
        position: absolute;
        left: -9999px;
      }
      label {
        display: block;
        width: 31px;
        height: 31px;
        overflow: hidden;
        text-indent: -9999px;
        @include sprite-sprite('checkbox-0');
        cursor: pointer;
        margin-top: -16px;
        position: absolute;
        right: 15px;
        top: 50%;
      }
      input:checked + label {
        @include sprite-sprite('checkbox-1');
      }
    }
    .views-field-field-coupon-offer {
      position: absolute;
      bottom: 0;
      left: 0;
      background: $orange;
      min-width: 100px;
      text-align: center;
      color: #fff;
    }
    .views-field-field-coupon-image {
      float: left;
      width: 100px;
      height: 138px;
      img {
        width: 100%;
        height: auto;
        padding: 3px;
        background: #fff;
      }
    }
    .views-field-field-coupon-headline {
      float: left;
      width: 400px;
      padding: 12px;
      font-size: 24px;
      line-height: 24px;
      text-transform: capitalize;
    }
    .views-field-views-bulk-operations {
      .form-item {
        margin: 0;
      }
    }
  }
}
#edit-select-all-wrapper {
  .form-item-select-all-coupons {
    float:left;
    input {
      position: absolute;
      left: -9999px;
      &:checked ~ label {
        &:before {
          @include sprite-sprite('checkbox-1');
        }
      }
    }
    label {
      cursor: pointer;
      font-size: 24px;
      text-transform: capitalize;
      color: $orange;
      &:before {
        display: inline-block;
        width: 31px;
        height: 31px;
        @include sprite-sprite('checkbox-0');
        content: '';
        position: relative;
        top: 7px;
        margin-right: 10px;
      }
    }
  }
  #edit-form-submit {
    float: right;
    color: $orange;
    font-weight: normal;
    font-size: 24px;
    border: 0;
    padding-right: 27px;
    background: #fff url('/sites/all/themes/wholefoods_mobile/images/sprite/icon-print.png') center right no-repeat;
    margin: 1em 0;
  }
}

.page-mobile-coupons-home .panel-pane.pane-wfm-coupons-mobile-coupon-print-form {
  h2.pane-title {
    display: none;
  }
}

.panel-pane.pane-wfm-coupons-mobile-coupon-print-form {
  h2.pane-title {
    font-weight: bold;
  }
}