.panel-pane.pane-mobile-events-store-title,
.panel-pane.pane-calendar-2-mobile-featured-events {
  border: none;
  h2.pane-title {
    color: #57922c;
    font-family: "MuseoSlab", "Lucida Sans", "Lucida Grande", sans-serif;
    font-size: 32px;
    font-weight: normal;
    line-height: 36px;
    padding: 0;

  }
  a.change-store {
    color: #d56325;
    float: right;
    font-size: 24px;
    text-decoration: underline;
  }
}

.view-id-calendar_2 {
  &.view-display-id-mobile_featured_events {
    .event {
      background: rgba(0, 0, 0, 0.1);
      border-top: 4px solid white;
      margin-bottom: 5px;
      //min-height: 66px;
    }
    .event:last-of-type {
      background: red;
      margin-bottom: 0
    }
  }
  .event.expanded {
    background-color: #efefef;
  }
  .detail-block {
    min-height: 53px;
    display: inline-block;
    color: #616161;
    overflow: hidden;
    .time-loc {
      text-transform: uppercase;
      font-size: 20px;
      color: #616161;
    }
    .title {
      color: #616161;
      float: left;
      font-size: 30px;
      text-transform: uppercase;
    }
    .brief {
      overflow: hidden;
      padding-top: 18px;
      padding-left: 15px;
      position: relative;
      .image {
        float: left;
        margin-right: 10px;
      }
      .title {
        line-height: 1;
        width: 330px;
      }
      .time-loc {
        padding-top: 5px;
        float: left;
        display: inline-block;
        width: 330px;
      }
      .expand {
        position: absolute;
        right: 20px;
        top: 50%;
        a {
          font-size: 70px;
          line-height: 18px;
          font-weight: 300;
          text-decoration: none;
        }
      }
    }
    .detail {
      float: left;
      padding-top: 10px;
      padding-left: 15px;
      min-height: 200px;
      .email-event {
        float: left;
        text-align: center;
        width: 170px;
        ul {
          display: inline-block;
          overflow: hidden;
          li {
            float: left;
            margin-right: 10px;
            list-style: none;
            a {
              display: block;
              margin: 0;
              padding: 0;
              text-indent: -10000px;
              span {
                display: none;
              }
              &.print {
                background: image-url('sprite/icon-events.png') -1px -24px no-repeat;
                height: 29px;
                width: 34px;
              }
              &.mailto {
                background: image-url('sprite/icon-events.png') -1px -1px no-repeat;
                height: 21px;
                width: 30px;
              }
            }
          }
        }
      }
      .body {
        width: 375px;
        float: left;
        font-size: 20px;
        line-height: 21px;
        a {
          @include word-wrap;
          color: #d56325;
          display: inline-block;
          text-decoration: underline;
        }
        p {
          line-height: 1;
        }
      }
      .title {
      }
      .links {
        clear: left;
        float: left;
        margin-top: 15px;
        .addthis_toolbox {
          display: inline-block
        }
        .social-links {
          > div {
            display: inline-block;
            line-height: 15px;
            vertical-align: top;
          }
        }
      }
      .time-loc {
        float: right;
        width: 280px;
        margin: -20px 0px 0 0;
      }
      .collapse {
        float: right;
        top: 165px;
        margin-left: auto;
        margin-right: 0;
        margin-top: auto;
        position: relative;
        width: 58px;
        margin-bottom: 0px;
        a {
          font-size: 80px;
          line-height: 18px;
          font-weight: 200;
          text-decoration: none;
        }
      }
    }
  }
  .event {
    &.expanded {
      border-top: 4px solid #428e9b;
    }
    .date-block {
      background-color: #428e9b;
      max-height: 66px;
      box-sizing: border-box;
    }
  }
  .detail {
    display: none;
  }
  // firefox workaround for twitter button loaded inside hidden block.
  @-moz-document url-prefix() {
    .detail-block .detail {
      display: block;
      position: absolute;
      height: 0;
      min-height: 0;
      top: 0;
      overflow: hidden;
    }
    .detail-block .detail.expanded {
      position: static;
      height: auto;
      min-height: 200px;
      overflow: visible;
    }
  }
  .button {
    @extend .orange-button-cta;
  }
}
