$bodyFont: 'Lucida Sans', 'Lucida Grande', sans-serif;
$headingMedium: 'MuseoSlab', $bodyFont;
$headingBold: 'LeagueGothic', $bodyFont;
$orange-color: #d56325;
$orange-darker: darken($orange-color, 10%);
$disabled: #cccccc;

@mixin more ($direction : 'bottom', $color : $orange) {
  position: relative;
  padding-right: 24px;

  &:after {
    position: absolute;
    top: 13px;
    right: 0;
    display: block;
    content: " ";
    width: 0px;
    height: 0px;
    border-style: solid;
    line-height: 0px;
    @if $direction == 'bottom' {
      border-width: 8px 8px 0 8px;
      border-color: $color transparent transparent transparent;
      _border-color: $color #000000 #000000 #000000;
    }
    @else {
      border-width: 0 8px 8px 8px;
      border-color: transparent transparent $color transparent;
      _border-color: #000000 #000000 $color #000000;
    }
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  }
}

@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin animate($time) {
  animation-timing-function:ease-in-out;
  -webkit-animation-timing-function:ease-in-out;
  -moz-transition: $time;
  -ms-transition: $time;
  -o-transition: $time;
  -webkit-transition: $time;
  transition: $time;
}

@mixin stars {
  .field-content {
    width: 137px;
    height: 25px;
    @include sprite-sprite(stars-empty);

    .stars {
      height: 25px;
      @include sprite-sprite(stars-full);
    }
  }
}

@mixin visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

@mixin font-and-line($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin orange-button {
  @include inline-block;
  @include animate(.4s);
  @include font-and-line(20px, 20px);
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 0;
  padding: 7px 10px 5px;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  font-family: $headingBold;
  background: $orange-color;
  border-top: 0 none;
  border-left: 0 none;
  border-bottom: 2px solid $orange-darker;
  border-right: 2px solid $orange-darker;
  text-decoration: none;
  height: auto;
  cursor: pointer;
  &:hover {
    background: darken($orange-color, 10%);
    border-bottom: 2px solid darken($orange-darker, 10%);
    border-right: 2px solid darken($orange-darker, 10%);
    color: #fff;
  }
  &.disabled {
    background: $disabled;
    border-bottom: 2px solid darken($disabled, 10%);
    border-right: 2px solid darken($disabled, 10%);
    &:hover {
      cursor: default;
    }
  }
}

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.orange-button-cta {
  @include orange-button;
}