#pins {
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  .grid-sizer {
    width: 50%;
  }
  .item {
    @include border-box;
    width: 50%;
    padding: 0 2%;
    margin-bottom: 1em;
    img {
      max-width: 100%;
      border-bottom: 1px solid #ccc;
    }
    .pin-wrap {
      background: #eee;
      border: 1px solid #ccc;
      padding: 0 0 1em 0;
    }
    p {
      text-align: left;
      color: #222;
      word-wrap: break-word;
      margin: 0 2%;
    }
  }
}

.seemoreonpinterest {
  width: 180px;
  height: 28px;
  margin: 0 auto 2em auto;
}

body.pinterest .view-generic-page-items.view-display-id-block_1 {
  h2 {
    font-size: 200%;
    text-align: center;
    padding-bottom: 0;
  }
  .subhead {
    text-align: center;
    font-style: italic;
  }
}