$valuesgreen: #26634f;
$valuesdarkgreen: #404f4a;
$valuesyellow: #d8c363;
$valuesorange: #eba621;
$valuesblue: #99aea5;
$valuesgray: #3b4a45;
$valuesmustard: #d0b657;

$values_body_font: "Trebuchet MS", "Helvetica Neue", Arial, Helvetica, sans-serif;
$values_header_font: LeagueGothic, "Trebuchet MS", "Helvetica Neue", Arial, Helvetica, sans-serif;
$values_accent_font: Hannah, "Trebuchet MS", "Helvetica Neue", Arial, Helvetica, sans-serif;

@font-face {
  font-family: 'LeagueGothic';
  src: url('/sites/all/themes/brand_camp_theme/fonts/League_Gothic.eot');
  src: url('/sites/all/themes/brand_camp_theme/fonts/League_Gothic.eot?#iefix') format('embedded-opentype'),
       url('/sites/all/themes/brand_camp_theme/fonts/League_Gothic.woff') format('woff'),
       url('/sites/all/themes/brand_camp_theme/fonts/League_Gothic.ttf') format('truetype'),
       url('/sites/all/themes/brand_camp_theme/fonts/League_Gothic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Hannah';
  src: url('/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.oet');
  src: url('/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.eot?#iefix') format('embedded-opentype'),
       url('/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.woff') format('woff'),
       url('/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.ttf') format('truetype'),
       url('/sites/all/themes/brand_camp_theme/fonts/hannah-narrow-semibold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import "values-matter-icons/*.png";
@include all-values-matter-icons-sprites;

body.page-values-matter {
  //some base styles
  #page {
    padding-bottom: 0;
    .region-content {
      padding: 0;
    }
    #section-content {
      padding-top: 0;
    }
  }
}

#boxes-box-bc_mobile_header {
  line-height: 0;
  overflow: hidden; //fix for animated text glitch on mobile devices
  img {
    width: 100%;
    height: auto;
  }
  position: relative;
  .text {
    position: absolute;
    top: 220px;
    width: 100%;
    text-align: center;
    text-shadow: #000 0 0 15px;
    img {
      width: auto;
    }
    &.headerTextSlides {
      top: 430px;
      color: #fff;
      font-family: "LeagueGothic";
      text-transform: uppercase;
      font-weight: normal;
      font-size: 38px;
      letter-spacing: 1px;
    }
  }
  .boxes-box-content {
    p {
      line-height: 0;
    }
  }
}

.view-id-brand_camp_list {
  position: relative;
  .views-row {
    background: #fff;
  }
  .no-matches {
    margin: 20px 0;
    text-align: center;
    font-family: $values_header_font;
    color: $valuesgreen;
    text-transform: uppercase;
    font-size: 36px;
  }
  //category filters
  //Pager
  #isopager {
    background: $valuesorange url('/sites/all/themes/wholefoods_mobile/images/values-matter-icons/icons-refresh.png') 250px 25px no-repeat;
    margin: 0;
    cursor: pointer;
    text-align:center;
    height: 70px;
    color: #fff;
    text-transform: uppercase;
    font-family: $values_accent_font;
    line-height: 60px;
    font-size: 32px;
  }
}



//individual list items
.view-id-brand_camp_list .views-row {
  //No titles for special tiles.
  min-height: 640px;
  .node-bc-video:after {
    width:246px;
    height:246px;
    @extend .values-matter-icons-icons-video;
    display: block;
    position: absolute;
    bottom: 140px;
    left: 30px;
    visibility: visible;
    content: "";
  }
  .node-bc-connect {
    header {
      display: none;
    }
    .field-name-field-bc-cover-image {
      margin-bottom: 0px;
      .field-item {
        line-height: 0;
      }
    }
    .social-links {
      display: none;
    }
  }
  position: relative;
  border-bottom: 25px solid $valuesdarkgreen;
  cursor: pointer;
  header{
    position: absolute;
    top: 526px;
    padding: 0 20px;
    white-space: nowrap;
    h1 {
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 600px;
      color: $valuesblue;
      a {
        font-family: "LeagueGothic";
        text-transform: uppercase;
        font-weight: normal;
        font-size: 35px;
        color: $valuesorange;
        span {
          color: $valuesblue;
        }
      }
    }
  }
  img {
    width: 100%;
    height: auto;
  }
  .field-name-body {
    font-family: $values_body_font;
    color: $valuesgray;
  }
  .field-name-field-bc-cover-image {
    margin-bottom: 100px;
  }
  .field-name-field-bc-external-link {
    font-family: $values_header_font;
    font-size: 35px;
    .field-label {
      color: $valuesmustard;
    }
    a {
      color: $valuesorange;
      text-decoration: underline;
      &:after {
        content: ">"
      }
    }
  }
  .field-name-field-bc-showme {
    position:absolute;
    top: 10px;
    right: 10px;
    .field-item {
      width: 59px;
      height: 59px;
      text-indent: -9999px;
      margin: 0 10px 10px 0;
      &.field-key-1 {
        @extend .values-matter-icons-icons-food;
      }
      &.field-key-2 {
        @extend .values-matter-icons-icons-people;
      }
      &.field-key-3 {
        @extend .values-matter-icons-icons-planet;
      }
    }
  }
  .field-name-field-bc-timing {
    position: absolute;
    height: 90px;
    line-height: 49px;
    top: 418px;
    left: 0;
    background: url("/sites/all/themes/brand_camp_theme/images/bg-timing.png");
    color: white;
    font-family: "LeagueGothic";
    text-transform: uppercase;
    font-weight: normal;
    font-size: 30px;
    .field-item {
      padding: 25px 20px 20px 50px;
      background: url("/sites/all/themes/brand_camp_theme/images/watch.png") no-repeat 15px center;
    }
  }
  .field-name-field-bc-title,
  .field-name-field-bc-sub-title,
  .field-name-field-bc-weight,
  .field-name-field-bc-ihave,
  .field-name-field-bc-iwantto,
  .field-name-field-bc-position {
    display: none;
  }
  .field-name-field-bc-summary {
    white-space: nowrap;
    padding-left: 20px;
    height: 50px;
    position:absolute;
    bottom: 0px;
    max-width: 620px;
    .field-item {
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 20px;
      color: $valuesgray;
      font-family: $values_body_font;
    }
  }
  .play-icon {
    width: 90px;
    height: 90px;
    position: absolute;
    bottom: 130px;
    left: 20px;
  }
  .explore {
    width: 150px;
    height: 166px;
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
}

.node {
  .social-links {
    padding-left: 20px;
    margin: 20px 0 10px 0;
    h3 {
      @include visuallyhidden;
    }
    .share-sign {
      @extend .values-matter-icons-sprite;
      @extend .values-matter-icons-icons-share-sign;
      float:left;
      text-indent: -9999px;
      width: 55px;
      height: 31px;
    }
    .item-list {
      @include clearfix;
      li {
        width: 31px;
        height: 31px;
        float: left;
        margin: 0;
        padding: 0;
        margin-right: 15px;
        a {
          @extend .values-matter-icons-sprite;
          text-indent: -9999px;
          display: block;
        }
        .social-fb {
          @extend .values-matter-icons-icons-fb;
        }
        .social-twitter {
          @extend .values-matter-icons-icons-twitter;
        }
        .social-pinterest {
          @extend .values-matter-icons-icons-pinterest;
        }
        .social-tumblr {
          @extend .values-matter-icons-icons-tumblr;
        }
      }
    }
  }
  //auto-resizing of video embeds
  .field-name-field-bc-video-embed {
    clear: both;
    margin-bottom: 20px;
    .player {
      position: relative;
      padding-bottom: 57%;
    }
    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  .field-name-field-bc-src-likes-count {
    display: none;
  }
}

//Tweet box
#block-boxes-bc-mobile-twitter {
  background: $valuesdarkgreen;
  text-align: center;
  padding: 75px 20px 100px 20px;
  color: #fff;
  .invisible {
    @include visuallyhidden;
  }
  .text {
    font-family: $values_accent_font;
    font-size: 38px;
    //line-height: 1.3;
    letter-spacing: 1px;
  }
  .attribution {
    font-family: $values_header_font;
    text-transform: uppercase;
    font-size: 30px;
    opacity: .65;
    .icon {
      @extend .values-matter-icons-icons-twitter-attribution;
      width: 31px;
      height: 26px;
      display: block;
      margin: 0 auto;
      text-indent: -9999px;
    }
  }
}

//Back to Top
#boxes-box-bc_mobile_back_to_top {
  cursor: pointer;
  text-align: center;
  padding: 25px 0;
  border-bottom: 25px solid $valuesdarkgreen;
  .backtotop {
    background: transparent url('/sites/all/themes/wholefoods_mobile/images/values-matter-icons/icons-up.png') 0 34px no-repeat;
    padding: 0 0 0 35px;
    display: inline;
    font-family: $values_accent_font;
    text-transform: uppercase;
    font-size: 35px;
    margin:0;
    a {
      color: $valuesorange;
    }
  }
}

//Individual node view
body.node-type-bc-article,
body.node-type-bc-article-external,
body.node-type-bc-image,
body.node-type-bc-video,
body.node-type-bc-connect,
body.node-type-bc-quote,
body.node-type-bc-coupon {
  #page {
    padding-bottom: 0;
    #section-content {
      padding: 20px 0 0 0;
    }
  }
  .backbutton {
    margin: 0 0 20px 0;
    font-family: $values_header_font;
    text-transform: uppercase;
    a {
      color: #fff;
      height: 46px;
      line-height: 46px;
      background-color: #ea7c1c;
      font-size: 32px;
      padding: 4px 75px;
    }
  }
  #block-system-main { //main article display
    article.node {
      &:after {
        display: none;
      }
      padding: 0 20px;
      cursor: default;
      .field-name-field-bc-sub-title {
        display: block;
        color: $valuesblue;
        margin-bottom: 20px;
        font-family: $values_header_font;
        font-size: 40px;
        text-transform: uppercase;
        line-height: 1.2;
        padding: 0;
        .field-item {
          color: $valuesblue;
          font-family: $values_header_font;
          font-size: 40px;
        }
        .title {
          color: $valuesorange;
        }
      }
      .field-name-body {
        white-space: normal;
        padding: 0;
        height:auto;
        .field-item {
          overflow: auto;
          text-overflow: 0;
        }
      }
      .social-links {
        padding-left: 0;
      }
    }
  }
}

#block-views-brand-camp-list-block-1 {
  h2 {
    display: none;
  }
}

//Scroll-to-top button
#scrollTop {
  @extend .values-matter-icons-icons-back-to-top;
  width: 88px;
  height: 88px;
  position: fixed;
  top: 400px;
  right: 50px;
  cursor: pointer;
}

//UGC Redux
//Article list
.view-id-brand_camp_list .views-row {
  position: relative;
  max-height: 640px;
  .node-bc-ugc-image {
  &:after {
    @extend .values-matter-icons-icons-explore;
      width: 314px;
      height: 349px;
      display: block;
      position: absolute;
      bottom: 30px;
      left: 30px;
      visibility: visible;
      content: "";
      z-index: 0;
      @include animate(.2s);  
    }
    &:before {
      @extend .values-matter-icons-icons-magnify;
      @include animate(.2s);
      width: 65px;
      height: 65px;
      position: absolute;
      bottom: 30px;
      right: 30px;
      content: "";
      opacity: 0;
    }
  }
  &.hover {
    .ugc_img{
      opacity: 0.25;
    }
    .field-name-field-bc-album-name {
      text-indent: 0px;
    }
    .field-name-field-bc-src-likes-count {
      display: block;
    }
    .field-name-field-bc-src-service {
      opacity: 1;
    }
    .link-to-content {
      display: block;
    }
    .node:after {
      opacity: 0;
    }
    .node:before {
      opacity: 1;
    }
  }
  .ugc_img, .field-name-field-bc-src-username {
    opacity: 1;
    @include animate(.2s);
  }
  .node-bc-ugc-image, .node-bc-connect {
    .node-header {
      display: none;
    }
  }
  .field-name-field-bc-album-name {
    display: inline;
    text-indent: -9999px;
    position: absolute;
    top: 25px;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: $valuesgreen;
    font-family: $values_header_font;
    text-transform: uppercase;
    font-size: 36px;
    text-align: center;
    z-index:1;
    .field-items, .field-item {
      display: inline;
    }
  }  
  .field-name-field-bc-src-username {
    position: absolute;
    top: 16px;
    right: 0;
    font-family: $values_header_font;
    font-size: 24px;
    text-transform: uppercase;
    a {
      background: rgba(38, 99, 79, 0.70);
      color: #fff;
      padding: 20px 25px;
    }
  }
  .field-name-field-bc-src-likes-count {
    display: none;
    clear: right;
    position: absolute;
    top: 400px;
    left: 257px;
    z-index: 1;
    .field-items {
      background-color: #336666;
      border-radius: 150px;
      height: 125px;
      line-height: 125px;
      margin: 0 auto;
      position: relative;
      text-align: center;
      width: 125px;
      font-family: $values_header_font;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 40px;
      color: white;
      &:after {
        @extend .values-matter-icons-icons-like-it;
        content: "";
        display: block;
        width: 335px;
        height: 295px;
        position: absolute;
        top: -285px;
        left: -106px;
      }
    }
  }
  .field-name-field-bc-src-service {
    @include animate(.2s);
    display: inline;
    position: absolute;
    top: 75px;
    right: 25px;
    color: $valuesgreen;
    font-family: $values_header_font;
    text-transform: uppercase;
    font-size: 36px;
    text-align: center;
    z-index:1;
    opacity: 0;
  }
}

.node-type-bc-ugc-image {
  #page > * {
    padding: 0;
  }
  .view-id-brand_camp_list .views-row .node-bc-ugc-image:after {
    display: none;
  }
  #block-system-main { //Individual content item view, not in a list
    border-bottom: 25px solid $valuesdarkgreen;
    .field-name-field-bc-src-username, .field-name-body {
      text-align: center;
      font-family: $values_header_font!important;
      color: $valuesgreen;
      font-size: 44px;
      position: static;
      background: #fff;
      overflow: hidden;
      text-transform: uppercase;
      line-height: 54px;
      padding: 20px;
      span {
        padding: 0 45px;
      }
    }
    .field-name-field-bc-src-username a {
      background: transparent;
      padding: 0;
      color: $valuesgreen;
      width: 640px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .node-bc-ugc-image {
      max-height: none;
      border-bottom: 0 none;
      &.overlay-visible {
        .field-name-field-bc-src-username {
          opacity: 1;
        }
      }
    }
    .field-name-field-bc-src-likes-count {
      margin-top: 80px;
    }
    article.node:before {
      @extend .values-matter-icons-icons-close;
      width: 60px;
      height: 60px;
    }
  }
}

.isoFilters {
  position: absolute;
  top:-270px;
  width: 640px;
  &.desktop:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    content: " ";
    display: block;
    margin: 0 -100px;
    background-color: rgb(38, 99, 79);
    opacity: 0.851;
    z-index: -1;
  }

  .isoFilters-widget {
    width: 100%;
    height: 30px;
    padding: 20px 0;

    background: rgba(38, 99, 79, 0.70) url('/sites/all/themes/brand_camp_theme/images/dropdown.png') no-repeat right 35px;
    float: none;
    height: 75px;
    margin: 10px auto;
    padding: 0;
    width: 100%;
    cursor: pointer;
    display: block;
    .filter.filter{
      color: white;
    }
    &.expanded { //expanded dropdown filters
      position: relative;
      height: 75px;
      background: rgba(38, 99, 79, 0.7) url('../images/dropdown.png') no-repeat right -18px;
      .filters .filter.selected{
        color: #e0c766;
      }
      .filters {
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        z-index: 1;
        .filter {
          display: block;
          height: 60px;
          margin: 0;
          background: #fff;
          border-bottom: 1px solid silver;
          color: #2a604d;
          text-align: left;
          text-indent: 20px;
          line-height: 66px;
          pointer-events: auto;
        }
        .filter:last-child {
          border-bottom: 0;
        }
      }
    }
    .title,  {
      margin: 9px 20px;;
      float: left;
      cursor: pointer;
      font-size: 40px;
      text-transform: uppercase;
      &:after {
        display:inline;
        content: '...';
      }
    }
    .views-widget, .filters {
      float: right;
      height: 100%;
      .form-item {
        display: block;
      }
      .filter {
        background: transparent;
        height: auto;
        float: none;
        margin: 9px 40px;
        padding: 0;
        text-align: right;
        pointer-events: none;
        font-size: 40px;
        text-transform: uppercase;
      }
    }
    &.expanded {
      input ~ label, .filter {
        display: block;
      }
    }

    .filter {
      display: none;
      &.selected {
        display: block;
      }
    }
  }

  div {
    display: inline;
  }

  .title, .filter {
    display: inline;
    font-family: $values_header_font;
    color: rgb(153, 174, 165);
    padding: 0 10px 0 0;
    &.option {
      margin-top: -15px;
      padding: 15px 8px 0;
      display: inline-block;
      color: white;
      height: 46px;
      cursor: pointer;
    }
  }
  .filter {
    margin-top: -15px;
    padding: 15px 8px 0;
    display: inline-block;
    color: white;
    height: 46px;
    cursor: pointer;
  }
}

#boxes-box-top_text_bc_ugc_image_mobile {
  .boxes-box-content {
    min-height: 620px;
    position: relative;
  }
  h2 {
    color: #fff;
    font-family: $values_accent_font;
    font-size: 140px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: normal;
    line-height: 140px;
    margin: 0 0 30px 0;
    padding-top: 20px;
    position: relative;
    z-index: 0;
  }
  .isoFilters {
    position: relative;
    z-index: 1;
    top: 0;
  }
  a {
    color:#fff;
  }
  .expanded a {
    color: $valuesgreen;
  }
  .isoFilters-widget {
    margin-bottom: 30px;
  }
  .ugc-search {
    display: block;
    padding: 20px;
    background: #fff;
    .title {
      text-transform: uppercase;
      color: $valuesgreen;
      font-size: 40px;
    }
  }
  .backbutton {
    margin: 20px auto;
    font-family: $values_header_font;
    text-transform: uppercase;
    text-align: center;
    a {
      height: 46px;
      line-height: 46px;
      background-color: #ea7c1c;
      font-size: 32px;
      padding: 4px 75px;
    }
  }
}

#ugc-search-form {
  display: inline-block;
  position: relative;
  top: -7px;
}

#ugc-search-value {
  border: 1px solid #a6a6a6;
  height: 46px;
  width: 270px;
}

#ugc-single-search-submit {
  height: 46px;
  line-height: 41px;
  position: relative;
  top: 6px;
  background-color: #ea7c1c;
  border-radius: 0px;
  border: 0 none;
  font-family: $values_header_font;
  font-size: 32px;
  font-weight: normal;
  &:hover {
    color: #fff;
  }
}

.page-values-matter-your-stories {
  .view-id-brand_camp_list .isoFilters {
    display: none;
  }
  #boxes-box-top_text_bc_ugc_image_mobile .boxes-box-content {
    min-height: 560px;
    .backbutton {
      display: none;
    }
  }
  .view-id-brand_camp_list .views-row .node-bc-ugc-image:after {
    display: none;
  }
}