.nav section {
  background: $alt-gray;
  padding: 10px 15px;
}


#page .nav .panel-pane {

  border-bottom:0;
  border-top:1px solid $light-gray;
  padding:0;
  -webkit-font-smoothing: antialiased; text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

  .pane-title {
    background-color: $oyster;
    color: $white;
    padding-left:0em;
    font-size: 1.5em;
  }

  .section-title {
    background: url('images/wood_pattern.jpg');
    color: $grayblue;
    text-transform:uppercase;
    display: block;
    padding: $side_padding;
  }

  a { color: $white;
      text-transform:uppercase;
      display: block;
      padding: $side_padding;
     }

     .menu_option {
       position: relative;
     }

    .menu_option:after {
        content: ' ';
        background-image: url('images/arrow_cream.png');
        width: 8px;
        height: 12px;
        position: absolute;
        right: $side_padding;
        top: 1.1em;

    }


    .offsite_link {
      position: relative;
    }

    .offsite_link:after {
        content: ' ';
        background-image: url('images/new_window.png');
        background-image: url('images/new_window.svg');
        width: 18px;
        height: 19px;
        position: absolute;
        right: 0.5em;
        top: 0.8em;

    }
}
