.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  overflow-y: auto;
  z-index: 5;
}

.modal {

  width: 300px;
  min-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0px auto;
  position: absolute;
  top: 10%;
  left: calc(50% - 150px);
  background: $white;
  z-index: 1000;
  border: 1px solid $gray;

  header {
    padding: 1em;

  }

  label {
    display: block;
    padding: 1em;
    border-top: 1px solid $light-gray;
    background: $cream;
  }

  .optiongroup {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding: 1em;
      border-top: 1px solid $light-gray;

      .optionname {
        max-width: 55%;
        display: inline-block;
        text-transform: none;
      }

      .checkbox {
        margin-left: 10px;
        float: right;
      }

      &.active{
          background : $orange;
          color: $white;
      }

    }

  }

  .quantity_chooser {
    border-top: 1px solid $light-gray;
    padding: 1em;
  }

}


section.product_info button.link {
  padding: 0;
  margin: 0;
  color: $orange;
  background: none;
  text-transform: none;
  letter-spacing: 0.05em;
  text-decoration: underline;
  font-size: 14px;
  width: auto;
}


section.product_info button {
  margin-top: 0;
}



.modal-footer {
  text-align: center;
  padding: 10px 15px;
}
