ul.order_history {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    @include clearfix;
    padding: 1em;
    border: 1px solid $light-gray;
    margin-bottom: 1em;

    .id,
    .date,
    .link {
      display: block;
    }



    @media (min-width: 480px) {

      .id,
      .date,
      .link {
        display: inline-block;
      }

      .id,
      .date {
        padding: 15px 0;
      }

      .id,.date,.link {
        width: 30%;
      }

      .link {
        float: right;
      }
    }

  }
}

button.rec{
  margin-bottom:0.5em;
  @media only screen and (min-width:768px){
    width:284px;
    margin-right:1em;
    float:left;
  }
}

#page .receipt-cont{
  max-width:1024px;
  margin:1.5em auto;

  .rec-conf{
    padding:0 1em;
    @media only screen and (min-width:768px){
      padding:0;
    }
  }

  ul.receipt{
    list-style:none;
    margin:1em;
    li{
      padding:1em;
      border:1px solid $alt-dark-gray;
      border-top:none;
      font-size:1.2857142857em;
      &:first-child{
        border-top:1px solid $alt-dark-gray;
      }
      span{
        display:inline-block;
        width:17%;
        &.name{
          width:60%;
        }
        &.option{
          color: rgb(107, 113, 121);
          display: block;
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          display: block;
          width:100%;
        }
        &.total{
          text-align:right;
        }
        &.selected_options{
          display: block;
          font-size: 0.75em;
          padding-top: 0.5em;
          width: 60%;
        }
      }

    }
  }
}
