
a, p, ul, ol, li, img, span, strong, em {
  font-size: 16px;
}

p {
  margin-bottom: 1em;
}


#page.estore {
  width: auto;

  section {
    padding: 1em;
  }

}



#region-header {
  background: #666;

  #site-logo {
    width: 80px;
    height: 55px;
    margin: 10px;
    a {
      background-image: url(/img/wfm.png);
      background-size: contain;
    }
  }

  .block-menu ul.menu li.first {
    text-align: right;
    font-size: 0.8em;
  }

}

#region-footer {
  background: #666;

  .region-footer-inner {
    width: auto;
  }
}

.panel-pane h2.pane-title {
  font-size: 18px;
}


.panel-pane.collapsible h2.pane-title {
  font-size: 18px;
}
