

section.product_info {
  @include clearfix;
  padding: 15px 10px 18px 15px;
  background: $white;
  label {
	  font-size: 12px;
	  font-weight: bold;
  }
  select { 
	  width: 100%;
	  -webkit-appearance: none;
	  padding: 1em 0.5em;
	  border: 1px solid $light-gray;
	  border-radius: 2px;
	  background: $alt-gray;
	  font-size: 14px;
	  margin-top: 5px;
  }

  .photo {
    max-width: 120px;
    float:left;
    margin: 0 1em 1em 0;
  }

  .info {
    margin-left: 135px;
    //margin-bottom:15px;
  }

  .name{
    text-transform:uppercase;
    letter-spacing:0.02em;
    font-size:29px;
    line-height:29px;
    margin-bottom:9px;
    font-family: $header_font;
  }


  .uom {
    color: $gray;
    padding-bottom:14px;
    font-family:$body_font;
    font-size: 1.125em;
  }

  .options {
    display: none;
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
    padding-bottom: 14px;
    padding-top: 14px;
    margin-top:14px;

    .option {
      margin-bottom: 10px;
      position:relative;
      &:after {
	  	content: "\25BE";
	  	color:$gray;
	  	text-shadow: 0 -1px 0 $white;
	  	position:absolute;
	  	top: 1.75em;
	  	right: 0.5em;
	  	font-size:1.5em;
	  	pointer-events:none;
  	  }
    }

  }

  button {
    margin: 0;
    margin-top: 1em;
  }

  .quantity_chooser{
    .price_wrapper{
      margin:14px 0;
      .price,
      .serving {
        display: inline-block;
        line-height: 1em;
        font-size: 1.125em;
        font-family: $body_font;
        color: $grayblue;
      }
      .price {
        width: 25%;
        font-weight: bold;
      }
      .serving {
        width: 72%;
        text-align: right;
      }
    }
    .quantity {
      width:90%;
      margin:0 0 14px;
      .decrease_qty {
        margin-left: 0 !important;
      }

      @media only screen and (min-width:768px) and (max-width:923px){
        input {
          width: 2.0em;
        }

        button.increase_qty,
        button.decrease_qty {

          width:40px;
          height:40px;
        }
      }
    }

  }

  .addToCart {
    width: 70%;
    margin-bottom: 10px;
    color: #ffffff;
  }

  .addToCart:before {
    content: ' ';
    background: url(images/cart_white.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 20px 21px;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-top: 4px;
  }

}

.product_story {
  @include mildclearfix;
  padding: 15px;
  background: #FFF;

  h2 {
    margin-bottom: 1em;
  }
  p {
    margin-bottom: 1em;
    max-width: 33em;
  }

  ol,ul {
    margin-bottom: 1em;
  }

}

.product_recipes {

  h2 {
    padding: 15px;
    font-size: 2em;
  }



  .recipe {
    min-height: 130px;
    background-size: cover;
    background-position: center center;
    display: block;
    position: relative;
    @media only screen and (min-width:768px){
      min-height: 200px;
    }

    h3 {
      padding: 1em 0 0.5em !important;
      border-top: 1px solid $light-gray;
      min-height: 75px;
      background: rgba(0,0,0,0.5);
      color: #FFF !important;
      text-transform: uppercase;
      font-size: 20px;
      letter-spacing:.025em;
      -webkit-font-smoothing: antialiased;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    }
  }

  .recipe:after {
      content: ' ';
      background-image: url('images/new_window.png');
      background-image: url('images/new_window.svg');
      width: 18px;
      height: 19px;
      position: absolute;
      right: 0.5em;
      bottom: 0.8em;

  }


}


.product_description {
  @include mildclearfix;
  padding: 15px;
  background: #FFF;
  border-top:1px dotted #D7D6D1;

  h2 {
    margin-bottom: 1em;
    font-size:2em;
    font-family: $header_font;
    letter-spacing:0.02em;
  }
  p {
    margin-bottom: 1em;
    max-width: 33em;
  }

  ol,ul {
    margin-bottom: 1em;
  }

  hr {
    border-top: 1px solid $light-gray;
    border-bottom: none;
    border-left: none;
    border-right: none;
  }

  .calorie_info {
    float: right;
  }

  .component_nutrition {
    margin-top: 1em;
  }
}

.rating {
  @include mildclearfix;
  background-color: $cream;
  padding: 10px 15px;

  .Ratings_Container {
    @include clearfix;
  }

  .Ratings_Heading {
    float: left;
    margin-right: 2em;
    font-family: 'LeagueGothic',sans-serif;
    color: #28323B;
    letter-spacing: 0.025em;
    font-size: 1.4em;
    text-transform: uppercase;
  }

  img {
    float: left;
    padding-top: 3px;
  }

  .RatingWidgetByCount {
    float: left;
    padding-top: 3px;
    margin-left: 1em;
  }

  div.Ratings_YourRating {
    clear: left;
    .Ratings_Heading {
      margin-right: 10px;
    }

  }

  @media (min-width: 480px) {

    div.Ratings_YourRating {
      float: left;
      clear: none;
      margin-left: 3em;
      padding-top: 0;

      .Ratings_Heading {
        margin-right: 2em;
      }

    }
  }


}
.related_products {
  @include mildclearfix;
  background-color: $white;

  h2 {
    font-size:2em;
    font-family: $header_font;
    letter-spacing:0.02em;
    padding: 10px 15px;
    border-top: 1px solid $light-gray;
  }

}

section.rating,
section.product_description,
section.related_products,
section.product_recipes,
section.product_story {
  h2 {
    margin-bottom:18px;
  }
}
