.quantity_chooser {

@include mildclearfix;

  .price_wrapper {
    width: auto;
    float: none;

    label {
      margin-bottom: 0;
      line-height: 30%;
      display:block;
    }
    .price {
      font-size: 2em;
      color: $orange;
      font-family: $header_font;
      letter-spacing: 0.02em;
    }
  }

  .quantity {

    width: auto;
    float: none;
    @media (min-width: 480px) {
      width: 45%;
      float: left;
      text-align: center;
    }

    button.increase_qty,
    button.decrease_qty {
      background-color: $orange;
      background-position: center center;
      background-repeat: no-repeat;
      text-indent: 0;
      overflow: hidden;
      color: white;
      width: 30px;
      height: 40px;
      padding:0;
      display: inline-block;
      margin: 0;
      float:left;
    }


    .increase_qty {
      background-image: none;
    }

    .decrease_qty {
      background-image: none;
      @media only screen and (min-width:768px){
        margin-left: -11px!important;
      }
      @media (min-width:820px){
        margin-left: 0!important;
      }
      @media (min-width:900px){
        margin-left: 10px!important;
      }
      @media (min-width:1024px){
        margin-left: 15px!important;
      }
    }

    input {
      display: inline-block;
      border: 0;
      margin: 0;
      width: 2.0em;
      padding:0;
      height: 40px;
      text-align: center;
      font-size: 1.5em;
      background:$alt-gray;
      border: 1px solid $light-gray;
      float:left;
    }
    input[type='number']{
      border-radius:0;
      -webkit-appearance: none;
    }
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
