a.search {
  float: right;
  background-image: url('images/search.png');
  background-image: url('images/search.svg');
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
  margin: 1em;
  height: 21px;
  overflow: hidden;
  text-indent: -10000px;
}


.searchpage {
  padding: 15px;

  input[name="search"] { width: 100%; }
}


@media (max-width: 767px) {
  .search_msg {
    padding: 15px;
  }
}

div.search {
  float: right;
  margin: $padding $side_padding;


  input.query {
    display: block;
    float: left;
    border:0;
    font-size: 12px;
    padding: 6px;
    padding-top: 5px;
    margin:0;
  }

  input.button {
    padding:0px;
    margin:0;
    background-image: url('images/search.png');
    background-image: url('images/search.svg');
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 33px;
    height: 26px;
    overflow: hidden;
    text-indent: -10000px;
    display: block;
    float: left;

  }


}
