.navbar {
  @include clearfix;
  background: $oyster;
  //border-bottom:1px solid #242424;
  color: $white;
  z-index:2;
  @media (max-width: 600px) {}

  .crumbs {
    float: left;
    //Line added: Jean-Bertrand
    a {
	    color: $white;
	    font-weight: bold;
	    border-bottom:1px dotted $white;
    }
  }
}

#store_crumbs {
  @media only screen and (max-width:768px){
    @include clearfix;

    z-index:2;
    width:100%;
    border-bottom:0;
    text-align: center;
    background: $oyster;

    .contained {
      @include container;
    }



    a.login:before {

      background-image: url('images/user.png');
      background-repeat: no-repeat;
      background-position: center center;
      content: ' ';
      display: inline-block;
      width: 14px;
      height: 14px;
      margin-right: 0.8em;
    }
  }
}


.crumbs {

padding: $padding $side_padding;
font-size: 12px;


li {
  display: inline-block;
  padding: 0.5em 0;
}

li:after {
  content: '>' ;
  display: block;
  font-size:1em;
  padding: 0 0.5em 0 1em;
  float:right;
  font-weight:300;
}

li:last-child:after {
  display: none;
}

}

.user-icon{
  background:url('images/user.png');
  height:15px;
  width:15px;
  display:block;
  float:left;
  margin-right:5px;
  margin-top:-1px;
}
