/**
 * @file
 * CSS file for Newsletters admin.
 */

.addmore {
  margin-bottom: 15px;
}

.addmore a {
  border: 1px solid #cbcbcb;
  display: inline-block;
  font-size: small;
  line-height: 1.3333;
  padding: 3px 7px;
  color: #000;
  border-radius: 7px;
  background-color: #ddd;

}

.addmore a:hover {
  background-color: #666;
  color: #fff;
  text-decoration: none;
}
