/* This file is sass/compass base. */

@import "compass/css3";
@import "reset";
@import "sprite/*.png";
@import "specialdiet/*.png";

/**
 * Visuals
 */
$white:             #fff;
$lightBlack:        #323232;
$borderColor:       #aaaaaa;
$orange:            #ff6600;
$grass:             #57922c;
$medium_gray:       #6e6e6e;

/**
 * Colors for reskinning performed in 12/2015
 */
$apple: #84C22D;
$kale: #006f46;
$snap-pea: #319f52;
$chard: #004e36;
$sprig: #77cab8;
$oyster: #c4c2B2;
$creme-fraiche: #f8f6ea;

/**
 * Text
 */
$baseFontFamily:        Helvetica Neue, Helvetica, Arial, sans-serif;
$baseFontSize:          22px;
$lineHeight:            1.5;
$baseColor:             #000;
$baseColor2:            #666666;
$baseColor3:            #333333;

$linkColor:             $orange;

/**
 * Do not change below...
 */
$baseFont:           #{$baseFontSize}/#{$lineHeight} #{$baseFontFamily};