
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 * Target IE 6, 7 and 8 (less than IE9)
 */

/*
 * Assuming a mobile first approach with respond.js OFF, we must reset the font
 * size for lt IE9
 */
html {
  font-size: 81.3%;
}

#boxes-box-bc_back p.headerTextSlides {
  line-height: 100px;
  -ms-filter: none;
}

#block-boxes-top-text-bc-ugc-image {
  .block-inner {
    p {
      margin-top: 90px;
    }
  }
}

.views-row.hover article.node-teaser.node-bc-ugc-image .field-name-field-bc-src-username .field-item:after,
article.node-teaser.node-bc-ugc-image .field-name-field-bc-src-username .field-item:after {
  top: -9999px;
  display: none;
}
