#edit-default .form-item.form-type-item {
  margin-bottom: 0;
  padding-bottom: 0;
}

.form-item.form-item-url-prefix,
.form-item.form-item-blog-id,
.form-item.form-item-url-suffix {
  float: left;
  margin-bottom: 0;
  padding-bottom: 5px;
  padding-top: 0;
}

.form-item-url-prefix input {
  text-align: right;
}

.form-item-blog-id span {
  font: 100%/1.8em "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 2px;
}

.blog-wrapper {
  overflow: hidden;
}

.blog-url-description {
  clear: left;
}

.blog-wrapper .form-type-checkbox {
  float: left;
  padding: 9px 0;
  width: 320px;
}

.blog-wrapper .form-item  {
  float: left;
  height: 24px;
  padding-right: 16px;
}

.blog-wrapper .form-type-textfield label  {
  float: left;
  padding: 2px 8px 2px 0;
}
