<script>
{{#if json_data}}
var json_data  = {{{json_data}}};
{{/if}}
var store_code = '{{store.id}}';
var store_open = {{#if store.can_order}}true{{else}}false{{/if}};
</script>
  <div ng-app="estore">

    <div id="page" class="estore ng-class: {busy: busy}" ng-controller="app">
      <header id="section-header">
        <div class="region-header" id="region-header">

          <hgroup class="site-logo clearfix">
            <h2 id="site-logo"><a href="/">&nbsp;</a></h2>
          <div class="block-menu">
          <div class="content">
            <ul class="menu">

              <li class="first leaf">
                {{#if user}}
                <div class="user_menu">
                <h4>Hi, <a href="/shop/{{store.id}}/customers" ng-click="">{{user.name}}</a>!</h4>
                <p><a href="/shop/choose" leavestore>Change Store</a></p>
                  <ul class="user_drop">
                    <li><a href="/shop/{{store.id}}/customers">Order History</a></li>
                    <li><a href="/shop/{{store.id}}/actions/logout">Sign Out</a></li>
                  </ul>
                </div>
                {{else}}
                <a leavestore href="/shop/choose" class="store_finder">CHANGE STORE</a>
                {{/if}}
              </li>
              <li class="last leaf"
                  ng-mouseover="showCartDropDown(true)"
              >
                <a href="/shop/{{store.id}}/cart" class="cart_icon">
                  <span id="cart-count">CART</span>
                </a>
              </li>
            </ul>
          </hgroup>
        </div>
      </header>

<!--      <div ng-include="cartdropdown"></div> -->