<div>
  <div class="inner">

    <div class="photo">
      <img src="{{dialog.args.item.IMAGEURL}}" ng-if="dialog.args.item.IMAGEURL" />
    </div>

    <h2>{{dialog.args.item.NAME}}</h2>
    <span class="uom">{{dialog.args.item.UOM}}</span>

    <p class="price_quant">{{dialog.args.quantity}} x {{dialog.args.total}}</p>

  </div>
  <div class="footer">
    <a ng-href="{{dialog.args.category_url}}">Continue shopping</a> or
    <button data-href="{{dialog.args.cart_url}}" ng-click="clickHref($event)">
        <a href="{{dialog.args.cart_url}}">Checkout</a>
    </button>
  </div>
</div>
