{{#if cart.litleErr}} {{else}}
    {{#if cart.INSTORE}} {{else}}
        <script src="{{cart.litleHost}}"></script>
    {{/if}}
{{/if}}

{{> header_secure}}

<div  ng-controller="checkout">

<div class="navbar">
  <div class="contained">
    <ul id="store_crumbs" class="crumbs">
      <li><a href="/shop/{{store.id}}">{{store.name}}</a></li>
      <li>Cart</li>
    </ul>
    <ul class="process">
      <li>1. Review</li>
      <li class="ng-class: {active: step==2};">2. Pickup/Billing</li>
      <li class="ng-class: {active: step==3};">3. Confirm</li>
    </ul>
  </div>
</div>


<form id="delivery_method_form" method="post" action="/shop/{{store.id}}/checkout" ng-hide=true>
    <input type="hidden" id="pickup" name="delivery_method" value="Pickup"/>
    <input type="hidden" id="litleErrInput" name="litleErr" value="true"/>
</form>


    <form
            id="checkoutForm"
            name="form"
            checkout-form
            class="ng-class: {attempted_submit: form.attempted_submit}"
            action="/shop/{{store.id}}/actions/submit"
            method="post">

<div class="contained cart-body" ng-show="step==2">
<div class="checkout">
{{#if user}}
      <fieldset>
        <h3>Welcome back, {{user.name}}</h3>
        <label>Email *</label>
        <input
          ng-model="email"
          required
          type="email"
          id="email"
          name="email"
          value="{{user.email}}"
          ng-maxlength="100"
          >

          <div ng-show="form.email.$dirty && form.email.$invalid">
            <span ng-show="form.email.$error.email">This is not a valid email.</span>
            <span ng-show="form.email.$error.maxlength">This field must be less than 100 characters.</span>
          </div>
      </fieldset>
{{else}}
      <fieldset>
        <p>
          <label>Guest Email *</label>
          <input
            ng-model="email"
            required
            type="email"
            id="email"
            name="email"
            ng-maxlength="100"
            >

            <div ng-show="form.email.$dirty && form.email.$invalid">
              <span ng-show="form.email.$error.email">This is not a valid email.</span>
              <span ng-show="form.email.$error.maxlength">This field must be less than 100 characters.</span>
            </div>
        </p>
      </fieldset>
{{/if}}

{{#if cart.PICKUP}}
    <fieldset ng-init="type = 'pickup'">
      <h3>Schedule Pickup</h3>
      <p>
        <label>Choose a day and time</label><br/>
        <div class="drop-style timepicker">
          <select
                  ng-model="pickup.day"
                  id="pickup_day_select"
                  ng-change="update()"
                  ng-options="day as day.date for day in days">
          </select>
        </div>
        <div class="drop-style timepicker">
        <select
                ng-model="pickup.time"
                id="pickup_time_select"
                name="pickup_time"
                ng-options="time as time for time in times">
        </select>
        </div>
      </p>
    </fieldset>
{{/if}}

{{#if cart.DELIVERY}}

  {{#if shipping_methods}}
  {{else}}
    <fieldset>
      <h3>Schedule Delivery</h3>
      <p>
        <label>Choose a day and time</label><br/>
        <div class="drop-style timepicker">
          <select
                  ng-model="pickup.day"
                  id="delivery_day_select"
                  ng-change="update()"
                  ng-options="day as day.date for day in days">
          </select>
        </div>
        <div class="drop-style timepicker">
        <select
                ng-model="pickup.time"
                id="delivery_time_select"
                name="pickup_time"
                ng-options="time as time for time in times">
        </select>
        </div>
      </p>
    </fieldset>
  {{/if}}


      <fieldset ng-init="type = 'delivery'">
        <h3>Shipping Address</h3>
        <p>
          <label>First Name</label>

          <input
            ng-model="shipping.first_name"
            required
            type="text"
            id="shipping_firstname"
            name="shipping_firstname"
            placeholder="First">
        </p>

        <p>
          <label>Last Name</label>
          <input
            ng-model="shipping.last_name"
            required
            type="text"
            id="shipping_lastname"
            name="shipping_lastname"
            placeholder="Last">
        </p>

        <p>
          <label>Street Address</label>

          <input
            ng-model="shipping.street1"
            required
            type="text"
            id="shipping_street1"
            name="shipping_street1"
            placeholder="42 Adams Street">
        </p>

        <p>
          <label>Street Address 2</label>
          <input
            ng-model="shipping.street2"
            type="text"
            id="shipping_street2"
            name="shipping_street2"
            placeholder="Suite 13">
        </p>

        <p class="city_field">
          <label>City</label>
          <input
            ng-model="shipping.city"
            required
            type="text"
            id="shipping_city"
            name="shipping_city"
            placeholder="City"
            size="20"
            maxlength="100">
        </p>

        <p class="country_field">
          <label>Country</label>
          <div class="drop-style">
          <select
            id="shipping_country"
            name="country"
            ng-model="shipping.country"
            ng-change="setCountryStates()"
            required>
          <option value="">Country</option>
          {{#each countries.COUNTRIES.COUNTRY}}
            <option value="{{ID}}">{{NAME}}</option>
          {{/each}}
        </select>
      </div>
        </p>

        <div ng-if="shipping.states" class="state_field">
          <label>State</label>
          <div class="drop-style">
            <select
              id="shipping_state"
              name="state"
              ng-model="shipping.state"
              required>
              <option
                      ng-repeat="state in shipping.states"
                      value="\{{state.SHORTNAME}}">\{{state.LONGNAME}}
              </option>
            </select>
          </div>
        </div>
        <p class="zip_field">
          <label>Zip Code</label>
          <input
            id="shipping_zip"
            name="shipping_zip"
            ng-model="shipping.zip"
            class="zipcode"
            watchfield="shipping.country"
            required
            type="text"
          >
        </p>

      </fieldset>

    {{#if shipping_methods}}
        <fieldset>
            <h3>Shipping Method</h3>
            <label>Choose a Shipping Method:</label>
            <div ng-show="form.attempted_submit && form.shipping_method.$invalid">
                <p>Please choose a shipping method.</p>
            </div>
            <div class="drop-style">
                <select
                    id="shipping_method"
                    name="shipping_method"
                    ng-model="shipping_method"
                    required
                >
                {{#each shipping_methods}}
                    <option value="{{ID}}">{{LABEL}} (+{{../store.currency}}{{COST}})</option>
                {{/each}}
                </select>
            </div>
        </fieldset>
    {{/if}}

{{/if}}


{{#if cart.INSTORE}}
  <fieldset id="payInStoreMsg">
      <h3>Pay in Store</h3>

      <p>Some of the items in this order
         are sold by weight, require ID
         to purchase, or the store is not
          accepting online payments at this time.</p>

      <p>As a result, we ask that you pay
         for this purchase at the time of pickup.</p>
  </fieldset>

{{else}} <!-- potentially pay online -->

    <div ng-show="!payOnline" class="ng-hide">
        <fieldset id="payInStoreMsg">
            <h3>Pay in Store</h3>

            <p>Some of the items in this order
                are sold by weight, require ID
                to purchase, or the store is not
                accepting online payments at this time.</p>

            <p>As a result, we ask that you pay
                for this purchase at the time of pickup.</p>
        </fieldset>
    </div>

    <fieldset id="paypagefs1" style="display: none;">
        <input type="hidden" id="request$paypageId" name="request$paypageId" value=""/>
        <input type="hidden" id="request$merchantTxnId" name="request$merchantTxnId" value="">
        <input type="hidden" id="request$orderId" name="request$orderId" value=""/>
        <input type="hidden" id="request$reportGroup" name="request$reportGroup" value=""/>
        <input type="hidden" id="request$timeout" name="request$timeout" value=""/>
    </fieldset>

    <fieldset id="paypagefs2" style="display: none;">
        <input type="hidden" id="response$paypageRegistrationId" name="response$paypageRegistrationId" readonly="true" value=""/>
        <input type="hidden" id="response$bin" name="response$bin" readonly="true"/>
        <input type="hidden" id="response$code" name="response$code" readonly="true"/>
        <input type="hidden" id="response$message" name="response$message" readonly="true"/>
        <input type="hidden" id="response$responseMessage" name="response$responseMessage" readonly="true"/>
        <input type="hidden" id="timeoutMessage" name="timeoutMessage" readonly="true"/>
        <input type="hidden" id="response$responseTime" name="response$responseTime" readonly="true"/>
        <input type="hidden" id="response$type" name="response$type" readonly="true"/>
        <input type="hidden" id="response$litleTxnId" name="response$litleTxnId" readonly="true"/>
        <input type="hidden" id="response$merchantTxnId" name="response$merchantTxnId" readonly="true"/>
        <input type="hidden" id="response$orderId" name="response$orderId" readonly="true"/>
        <input type="hidden" id="response$firstSix" name="response$firstSix" readonly="true"/>
        <input type="hidden" id="response$lastFour" name="response$lastFour" readonly="true"/>
        <input type="hidden" id="response$reportGroup" name="response$reportGroup" readonly="true"/>
        <input type="hidden" id="response$expMonth" name="response$expMonth" readonly="readonly"/>
        <input type="hidden" id="response$expYear" name="response$expYear" readonly="true"/>
    </fieldset>

    <fieldset ng-if="stored_payments && stored_payments.length">
        <h3>Payment Method</h3>
        <div class="drop-style">
            <select
                    ng-model="storedpayment.value"
                    id="storedpayment"
                    name="storedpayment"
                    required>
                <option>Choose payment method</option>
                {{#each stored_payments}}
                    <option value="{{ID}}">{{NICKNAME}}</option>
                {{/each}}
                <option value="_new">Add New Payment Method</option>
            </select>
        </div>
    </fieldset>

    {{#if cart.litleErr}} {{else}}
        <div
                id="creditCardDiv"
                ng-if="(storedpayment.value=='_new' || !stored_payments || !stored_payments.length)">
            <fieldset class="jqcreditcard">
                <h3>Billing Information</h3>
                <div id="payframe" style="height: auto;"></div>
            </fieldset>
        </div>
    {{/if}}

{{/if}} <!-- end if not cart.INSTORE -->


    <div ng-if="(cart.INSTORE || storedpayment.value=='_new' || !stored_payments || !stored_payments.length)">

        <fieldset>
            <h3>Billing Address</h3>

            {{#if cart.DELIVERY}}
                <p>
                    <input
                            type="checkbox"
                            class="checkbox"
                            id="clone"
                            ng-model="copyShippingToBilling"
                            ng-change="setBillingAddressToShipping()">
                    <label for="clone">Same as shipping.</label>
                </p>
            {{/if}}

            <p><label>First Name</label>
                <input
                        id="billing_firstname"
                        ng-model="billing.first_name"
                        ng-maxlength="100"
                        required
                        type="text"
                        name="firstname"
                        value=""
                        placeholder="First">
            </p>
            <div ng-show="form.firstname.$dirty && form.firstname.$invalid">
                <span ng-show="form.firstname.$error.maxlength">This field must be less than 100 characters.</span>
            </div>

            <p><label>Last Name</label>
                <input
                        id="billing_lastname"
                        ng-model="billing.last_name"
                        ng-maxlength="100"
                        required
                        type="text"
                        name="lastname"
                        value=""
                        placeholder="Last">
            </p>
            <div ng-show="form.lastname.$dirty && form.lastname.$invalid">
                <span ng-show="form.lastname.$error.maxlength">This field must be less than 100 characters.</span>
            </div>

            <p><label>Street Address</label>
                <input
                        id="billing_street1"
                        ng-model="billing.street1"
                        ng-maxlength="100"
                        required
                        type="text"
                        name="street1"
                        value=""
                        placeholder="42 Adams Street">
            </p>

            <p><label>Street Address 2</label>
                <input
                        id="billing_street2"
                        ng-model="billing.street2"
                        ng-maxlength="100"
                        type="text"
                        name="street2"
                        value=""
                        placeholder="Suite 13">
            </p>

            <p class="city_field"><label>City</label>

                <input
                        id="billing_city"
                        ng-model="billing.city"
                        required
                        type="text"
                        name="city"
                        value=""
                        placeholder="City"
                        size="20"
                        maxlength="100">
            </p>

            <div class="country_field"><label>Country</label>
                <div class="drop-style">
                    <select
                            id="billing_country"
                            name="country"
                            ng-model="billing.country"
                            ng-change="setCountryStates()"
                            required >
                        <option value="">Country</option>
                        {{#each countries.COUNTRIES.COUNTRY}}
                            <option value="{{ID}}">{{NAME}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>

            <div ng-if="billing.states"  class="state_field"><label>State</label>
                <div class="drop-style">
                    <select
                            id="billing_state"
                            ng-model="billing.state"
                            name="state"
                            required >
                        <option
                                ng-repeat="state in billing.states"
                                value="\{{state.SHORTNAME}}">\{{state.LONGNAME}}
                        </option>
                    </select>
                </div>
            </div>

            <p class="zip_field">
                <label>Zip Code
                    <span ng-show="form.zip.$dirty && form.postal_pattern">\{{form.postal_pattern}}</span>
                </label>
                <input
                       id="billing_zip"
                       required
                       ng-model="billing.zip"
                       class="zipcode"
                       watchfield="billing.country"
                       type="text"
                       name="zip"
                       value="" >
            </p>
        </fieldset>
    </div>

    <fieldset>
        <label>Phone *</label>

        <div ng-show="form.phone1.$dirty && form.phone1.$invalid">
            <span ng-show="form.phone1.$error.phonepattern">Invalid phone number</span>
        </div>

        <input
                id="phone1"
                class="phonefield"
                ng-model="phone1"
                ng-if="store_country!='UK'"
                required
                type="text"
                name="phone1"
                value=""
                placeholder="(###) ### - ####">
        <input
                id="phone1"
                class="phonefield"
                ng-model="phone1"
                ng-if="store_country=='UK'"
                required
                type="text"
                name="phone1"
                value=""
                placeholder="##### ### ###">

        <p>
            *Phone numbers are for customer service only
        </p>

        <p><label>EXT</label>
            <input
                    id="phone1ext"
                    ng-model="phone1ext"
                    type="text"
                    name="phone1ext"
                    value=""
                    placeholder="###">
        </p>
    </fieldset>
    <div class="proceed">
        <input type="submit"
               id="reviewOrder"
               class="button secure-btn"
               onClick="return false;"
               ng-click="reviewOrder(form)"
               value="REVIEW ORDER" />
    </div>

</div> <!-- .checkout -->
</div> <!-- billing info container -->





<div class="contained review cart-body" ng-show="step==3">

  <div class="order_summary">
    <p>Your order of
      \{{final_order.total_items}} items
      {{#if cart.PICKUP}}
        for pickup at Whole Foods Market {{store.name}}
        on \{{final_order.pickup_date}} at \{{final_order.pickup_time}}
      {{/if}}
      {{#if cart.DELIVERY}}
        for delivery
      {{/if}}
      is ready to submit.</p>
  </div>


{{#if cart.PICKUP}}
  <div class="bill-info">

    <a href="#" ng-click="back(2)" class="edit-info">Edit</a>
    <h4>Pickup</h4>

    <p>Location: {{store.name}}<br/>
    {{store.address}}<br/>
    {{#if store.address2}}
    {{store.address2}}<br/>
    {{/if}}
    {{store.city}}, {{store.state}} {{store.zip_code}}</p>

    <p>Time: \{{final_order.pickup_date}}<br/>
    \{{final_order.pickup_time}}</p>

  </div>
{{/if}}

{{#if cart.DELIVERY}}
  <div class="bill-info">

    <a href="#" ng-click="back(2)" class="edit-info">Edit</a>
    <h4>Delivery</h4>
    <p>
      \{{shipping.first_name}} \{{shipping.last_name}}<br/>
      \{{shipping.street1}}<br/>
      \{{shipping.city}}, \{{shipping.state}}<br/>
      \{{shipping.zip}}<!--<br/>
      \{{shipping.country}}-->
    </p>

  </div>
{{/if}}

    <div class="bill-info">
    <a href="#" ng-click="back(2)" class="edit-info">Edit</a>
    <h4>Billing</h4>

    <div ng-if="storedpayment.value && storedpayment.value!='_new'">
      <p>Pay with stored payment information.</p>
    </div>
    <div ng-if="!storedpayment.value || storedpayment.value=='_new'">

      <p>
        \{{billing.first_name}} \{{billing.last_name}}<br/>
        \{{billing.street1}}<br/>
        \{{billing.city}}, \{{billing.state}}<br/>
        \{{billing.zip}}
      </p>

      <p>
        \{{phone1}}
      </p>
    </div>

    </div>
<div class="clear"></div>
    <section class="tablet_only" id="column_header">
      <div class="contained list-header">
        Your Items
      </div>
    </section>
    <ul class="list cart" >
          <li ng-repeat="item in final_order.items">
            <div class="item-info">
              <div class="image">
                <img src="\{{item.thumbnail}}" />
              </div>
              <div class="info-body">
              <h1 class="name">\{{item.name}}</h1>
              <ul class="selected_options" ng-if="item.variant">
                <li ng-repeat="variant in item.variant">\{{variant.name}}</li>
              </ul>
              </div>
            </div>
            <div class="controls">
              <div class="quantity_chooser">
                <p class="price_wrapper">
                  <span class="price">{{store.currency}}\{{item.price}}</span>
                </p>
                <div class="quantity review">
                  x \{{item.quantity}}
                </div>
                </div>
            </div>
            <div class="subtotal tablet_only">

              <span class="blue price">{{store.currency}}\{{item.subtotal}}</span>
            </div>
          </li>

        <li class="figure">
          <span class="value"><span class="price">{{store.currency}}\{{final_order.subtotal|price}}</span></span>
          <label ng-if="store_country != 'UK'">Subtotal</label>
          <label ng-if="store_country == 'UK'">Total without VAT</label>
        </li>
        <li class="figure" ng-if="final_order.discount!=0">
          <span class="value"><span class="price">- {{store.currency}}\{{final_order.discount|price}}</span></span>
          <label>Discount</label>
        </li>
        <li class="figure" ng-if="final_order.shipping!=0">
          <span class="value"><span class="price">{{store.currency}}\{{final_order.shipping|price}}</span></span>
          <label>Shipping</label>
        </li>

        <li class="figure">
          <span class="value"><span class="price">{{store.currency}}\{{final_order.tax|price}}</span></span>
          <label ng-if="store_country != 'UK'">Tax</label>
          <label ng-if="store_country == 'UK'">VAT</label>
        </li>
        <li class="figure">
          <span class="value"><span class="price">{{store.currency}}\{{final_order.total_cost|price}}</span></span>
          <label>{{#if cart.INSTORE}}Estimated {{/if}} Total</label>
        </li>
        {{#if cart.INSTORE}}
        <li class="note">
          Total displayed here is an estimate.
          Pay the final calculated total at the time of pickup.
        </li>
        {{/if}}
  </ul>

<div class="check-order">
    <p><strong>
      Please check your order for accuracy.
      Your order is not complete until you click the Place Order button.
      A confirmation will be e-mailed to you.
    </strong></p>
    <br>
    {{#if cart.INSTORE}}{{else}}
    <p>For all orders, a pre-authorization will be placed on your credit card at the time of your order.</p>
    <br>{{/if}}
    <p>If you have selected an age-restricted alcoholic beverage product, by submitting this order you acknowledge that you are of legal drinking age and that you will be required to verify your age by providing a valid, government-issued ID at the time of pickup.</p>
    <br>
    <p>
    <input
            type="checkbox"
            class="checkbox"
            name="subscribe_newsletter"
            id="optin"
            value="true" />
        <label for="optin"> Yes, sign me up for Whole Foods Market email updates and special offers. Read our <a href="http://www.wholefoodsmarket.com/privacy-policy" target="_blank">Privacy Policy</a>.
        </label>
</div>
<div class="proceed">
    <button
      id="place_order_btn"
      class="button"
      ng-click="submitOrder()"
      type="button"
      >PLACE ORDER</button>
</div>


</div><!-- container for step 3 -->

</form>

<div class="cart-footer contained cart-body">
  <fieldset class="full-width">
    <h4>Pricing</h4>
    <p>
      The prices displayed are our regular prices for the items shown. If you complete and process your purchase online, you may be charged more than what the item is currently available for at a store location. If your payment is processed in the store, you will be charged the price in effect at that location on the date of payment. Items that are priced by weight must be processed in the store. 
    </p>
    <p>
      Please note the following: 
    </p>
    <ul>
      <li>
        Items by sold by weight: The total on your order may vary slightly based on the actual weight of items you have purchased. You will be charged only for the amount of product you actually receive. 
      </li>
      <li>
        Online reservation totals: When reserve your order online, you will receive an “estimated total.” The final order total will differ to accurately reflect items sold by weight, items requested that are not found online, items currently on sale at the location the order is processed, and to adjust for any substitutions that are made to your order.
      </li>
    </ul>
    </p>
  </fieldset>
  <fieldset>
    <h4>Shop With Confidence</h4>
    <p>
      All information is encrypted and transmitted without risk using a Secure Sockets Layer (SSL) protocol.
    </p>
  </fieldset>
  <fieldset>
    <h4>Privacy</h4>
    <p>
      We respect your privacy. Your personal information will not be sold or distributed.
    </p>
  </fieldset>
</div>

</div>

{{>footer}}