{{> header_secure}}

<div  ng-controller="checkout">

  <div class="navbar">
    <div class="contained">
      <ul id="store_crumbs" class="crumbs">
        <li><a href="/shop/{{store.id}}">{{store.name}}</a></li>
        <li>Cart</li>
      </ul>
      <ul class="process">
        <li>1. Review</li>
        <li class="ng-class: {active: step==2};">2. Pickup/Billing</li>
        <li class="ng-class: {active: step==3};">3. Confirm</li>
      </ul>
    </div>
  </div>

  <form method="post" action="/shop/{{store.id}}/checkout">
  <div class="checkout choose-method">
    <fieldset>
      <h3>Delivery & Pickup Options</h3>

      <p>
        <input type="radio" checked name="delivery_method" id="delivery" value="Delivery" />
        <label for="delivery_method">Delivery</label>
      </p>
      <p>
        <input type="radio" name="delivery_method" id="pickup" value="Pickup" />
        <label for="delivery_method">Pickup</label>
      </p>
      <div class="proceed">
          <button
            id="delivery_method_btn"
            class="button"
            type="submit"
            >CONTINUE</button>
      </div>
    </fieldset>

  </div>
</form>

  <div class="cart-footer contained cart-body">
    <fieldset class="full-width">
      <h4>Pricing</h4>
      <p>
        The prices displayed are our regular prices for the items shown. If you complete and process your purchase online, you may be charged more than what the item is currently available for at a store location. If your payment is processed in the store, you will be charged the price in effect at that location on the date of payment. Items that are priced by weight must be processed in the store. 
      </p>
      <p>
        Please note the following: 
      </p>
      <ul>
        <li>
          Items by sold by weight: The total on your order may vary slightly based on the actual weight of items you have purchased. You will be charged only for the amount of product you actually receive. 
        </li>
        <li>
          Online reservation totals: When reserve your order online, you will receive an “estimated total.” The final order total will differ to accurately reflect items sold by weight, items requested that are not found online, items currently on sale at the location the order is processed, and to adjust for any substitutions that are made to your order.
        </li>
      </ul>
      </p>
    </fieldset>
    <fieldset>
      <h4>Shop With Confidence</h4>
      <p>
        All information is encrypted and transmitted without risk using a Secure Sockets Layer (SSL) protocol.
      </p>
    </fieldset>
    <fieldset>
      <h4>Privacy</h4>
      <p>
        We respect your privacy. Your personal information will not be sold or distributed.
      </p>
    </fieldset>
  </div>


</div>
{{>footer}}
