<!-- ng-click="appendOption( option['@attributes']['ID'] )"
-->
<p><label>{{optiongroups[option_index].PROMPT}}</label></p>

<ul class="optiongroup">
  <li type="checkbox"
    ng-repeat="option in optiongroups[option_index].OPTIONS.OPTION"
    ng-click="appendOption( option['@attributes']['ID'], $event )"
    class="ng-class: {active: options[ option['@attributes']['ID'] ]==option['@attributes']['ID']};"
  >
  <span class="optionname">{{option.NAME}}</span>
  <input type="checkbox"
         class="checkbox"
         name="itemOption[]"
         ng-checked="options[ option['@attributes']['ID'] ]==option['@attributes']['ID']"
         />

  </li>
</ul>
