{{>header}}
<div class="navbar">
  <div class="contained">

    <div class="search tablet_only">
    <form method="get" action="/shop/{{store.id}}/search">
    <input name="search" class="query" placeholder="Search" />
    <input type="submit" class="button" value="Search" />
    </form>
  </div>

  <a href="/shop/{{store.id}}/search" class="search mobile_only">?</a>

  <ul class="crumbs">
    <li><a href="/shop/{{store.id}}">{{store.name}}</a></li>
    <li>Search</li>
  </ul>
  </div>
</div>

<div class="wooden contained">
  <div class="nav tablet_only">
    <div id="store_header">
      <div class="store_image" style="background-image: url({{store.image}});">
        <div class="store_image_color_overlay">
          <h1>Whole Foods Market {{store.name}}</h1>
          <p class="store.address">{{store.address}}<br/>
          {{#if store.address2}}{{store.address2}}<br/>{{/if}}
          {{store.city}}, {{store.state}}, {{store.zip_code}}</p>
          <p>Hours Today: {{store.hours}}</p>
        </div>
      </div>
    </div>
    <section>
      <P>Welcome to Whole Foods Market <em>{{store.name}}</em>!
      Our offerings change seasonally and vary by store.
      We are currently offering:</p>
    </section>
    {{#each categories}}
      <div class="panel-pane">
          <h2 class="pane-title menu_option">
              <a href="/shop/{{../store.id}}/{{id}}">{{value}}</a>
          </h2>
      </div>
    {{/each}}

    <section>
    <p>Looking for Gift Cards or Allegro Coffee?
    The following links open in a new window.</p>
    </section>

    {{#unless store.isAllegro}}
      <div class="panel-pane">
        <h2 class="pane-title offsite_link">
          <a href="//www.allegrocoffee.com/" target="_blank">Allegro Coffee</a>
        </h2>
      </div>
    {{/unless}}

    {{#unless store.isUK}}
      <div class="panel-pane">
        <h2 class="pane-title offsite_link">
          <a href="https://www.wholefoodsmarket.com/buy-gift-cards" target="_blank">Gift Cards</a>
        </h2>
      </div>
    {{/unless}}

  </div>
  <div class="body ">
    <div class="body_inner">
    {{#if searchfor}}
  <h1 class="bigheader">Results for {{searchfor}}</h1>
  {{else}}
  <h1 class="bigheader">Search</h1>
  {{/if}}
  <section class="mobile_only">
    <div class="searchpage">
      <form method="get" action="/shop/{{store.id}}/search">
      <input name="search" class="query" placeholder="Search" />
      <input type="submit" class="button" value="Search" />
      </form>
    </div>
    </section>
    {{#if items}}
    <ul class="product list">
      {{#each items}}
      <li data-href="/shop/{{../store.id}}/f/{{ID}}">
        <div class="photo">
          <a href="/shop/{{../store.id}}/f/{{ID}}">{{#if THUMBURL}}<img src="{{THUMBURL}}">{{else}}<img src="/sites/all/modules/custom/estore/public/img/fillerimage.jpg">{{/if}}</a>
        </div>

        <div class="info">

          <div class="name">
            <a href="/shop/{{../store.id}}/f/{{ID}}">{{NAME}}</a>
          </div>
          {{#if BASEPRICE}}
          <div class="price">{{../store.currency}}{{BASEPRICE}}</div>
          {{/if}}
        </div>

      </li>
      {{/each}}
    </ul>
    {{else}}
    {{#if searchfor}}
    <section  class="search_msg">

        <p>No products match your search.</p>

          <p><a href="/shop/{{store.id}}">Back to store page</a></p>
    </section>
    {{/if}}
    {{/if}}
  </div> <!-- end body -->
  <div class="nav mobile_only">
    <div class="panel-pane">
        <h2 class="section-title">
          Categories
        </h2>
    </div>
    {{#each categories}}
      <div class="panel-pane">
          <h2 class="pane-title menu_option">
              <a href="/shop/{{../store.id}}/{{id}}">{{value}}</a>
          </h2>
      </div>
    {{/each}}
    <section>
    <p>The following links open in a new window.</p>
    </section>

    {{#unless store.isAllegro}}
      <div class="panel-pane">
        <h2 class="pane-title offsite_link">
          <a href="//www.allegrocoffee.com/" target="_blank">Allegro Coffee</a>
        </h2>
      </div>
    {{/unless}}

    {{#unless store.isUK}}
      <div class="panel-pane">
        <h2 class="pane-title offsite_link">
          <a href="https://www.wholefoodsmarket.com/buy-gift-cards" target="_blank">Gift Cards</a>
        </h2>
      </div>
    {{/unless}}

  </div>
  </div>
</div>
{{>footer}}
