/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

.print-theme {
  background: #fff;

  .field-name-body .field-label {
    display: none;
  }
}

@media print {
  body {
    font-family: san-serif;
  }
  body.not-front #main-wrapper {
    margin-top: 0;
  }
  #toolbar {
    display:none ;
  }
  #header {
    display:none ;
  }
  #navigation {
    display:none ;
  }
  .region-marquee {
    display: none ;
  }
  .primary {
    display:none ;
  }
  #footer {
    display:none ;
  }
  #map_right_bar {
    ul {
      display:none ;
    }
  }
  #breadcrumb.shown {
    display: none;
  }
  .messages {
    display: none;
  }
  #sales-coupons-header,
  .wfm-coupons-sidebar-block,
  .sales-flyer-pdf,
  .messages
  .layout_one #sidebar-second {
    float: none;
  }
  #content {
    a:link:after, a:visited:after {
      content:'' ;
    }
  }
  .view-blogs {
    .view-footer {
      display: none ;
    }
  }
  #page-wrapper #main-wrapper {
    margin-top: 0;
  }

  #quicktabs-tabpage-custom_quicktab_sales_coupons-0 .torn-pod-content {
    border-right: 0;
  }

  .field-group-format h3 { display: none; }

  .page-sales-flyer, .page-coupons {
    #sales-coupons-header, .wfm-coupons-sidebar-block, .quicktabs-tabs, .sales-flyer-pdf {
      display: none;
    }

    .print-content { width: 960px }
    .view-filters { display: none }
    .view-sales-items{ padding: 0 !important }
    .view-sales-items .views-row { padding: 20px; float: left; padding-bottom: 10px }
    .view-sales-items .views-row .views-field-field-flyer-brand-name { font-weight: bold }
    .view-sales-items .views-row .views-field-field-flyer-product-name { font-weight: bold; text-transform: uppercase; height: 37px }
    .view-sales-items .views-row .views-field-body { height: 115px; color: #4E4E4E; font-size: 13px !important; line-height: 20px; margin: 10px 0px }

    .view-sales-items .views-row .views-field-field-flyer-price-sale { color: #bb3d4b; font-size: 20px }

    .view-sales-items .views-row .views-field-field-flyer-price-regular { font-size: 13px; color: #4E4E4E }
    .view-sales-items .views-row .views-field-field-flyer-price-regular .views-label { float: left; display: inline-block; padding-right: 5px }

    .view-sales-items .views-row .views-field-field-flyer-end-date { float: right; margin-right: 25px; color: #4E4E4E; font-size: 13px }
    .view-sales-items .views-row .views-field-field-fyler-end-date .views-label { font-weight: normal; font-size: 15px }


    .view-sales-items .view-content .views-row-odd, .view-sales-items .view-content > .views-row-even  {
      padding: 20px;
      width: 262px;
      height:254px;/*necessary for safari*/
      border-right: 1px solid #CCC;
      border-bottom: 1px solid #CCC;
      border-top: 1px solid #CCC;
      border-left: 1px solid #CCC;

    }
  }
}

/**
 * Full-page recipe with image print styles.
 */
.recipe-with-image {
  h2 {
    font-size: 35px;
    margin:5px 0;
  }

  .print-content .field-group-format-toggler {
    display: none;
  }

  .print-content .field-group-format h3 { display: none; }

  .field-name-field-serves div {
    display:inline;
  }
  .field-name-field-serves .field-items {
    font-weight:bold;
  }
  .field-name-field-ingredients .ingredient_ul,
  .field-name-field-recipe-directions p,
  .field-name-field-nutritional-info .nutritional-info,
  .field-name-field-special-diet .recipe_special_diets {
    margin:0 0 10px;
  }

  .lightbox-processed .undernav-menu-bar-container,
  .lightbox-processed .print-site_name {
    display:none;
  }
  #healthy-eating-add-recipe-ingredients-form { display: none }
}

/**
 * Full-page recipe with no image.
 */
.recipe-no-image {
  .field-name-field-hero-image {
    display: none;
  }

  .field-group-format-toggler {
    display: none;
  }
  .field-name-field-serves div {
    display:inline;
  }
  .field-name-field-serves .field-items {
    font-weight:bold;
  }
  h2 {
    font-size: 35px;
    margin:5px 0;
  }
  .field-name-field-ingredients .ingredient_ul,
  .field-name-field-recipe-directions p,
  .field-name-field-nutritional-info .nutritional-info,
  .field-name-field-special-diet .recipe_special_diets {
    margin:0 0 10px;
  }
  .lightbox-processed .undernav-menu-bar-container,
  .lightbox-processed .print-site_name {
    display:none;
  }
  #healthy-eating-add-recipe-ingredients-form { display: none }
}

/**
 * Recipe 3x5 cards.
 */
.recipe-3x5 {
  font-size: 7pt;
  line-height: 8pt;
  .print-logo { display: none; visibility: hidden; }
  .group-top, .group-right, .undernav-menu-bar, .print-logo, .print-site_name,
  .print-breadcrumb, .print-hr, .print-footer,
  .print-source_url, .print-links, #healthy-eating-add-recipe-ingredients-form { display: none; visibility: hidden; }
  body { margin: .5in 0; line-height: 8pt; font-size: 7pt; }
  .recipe-print-container { border:1pt dashed red; padding:0; margin-left:0; margin-bottom:.25in; width: 4.5in; height:2.7in; display: block; }
  .print-content .node-recipe h2 { font-size:8pt; font-weight:900; }
  .print-content, h2,
  .field-name-field-ingredients,
  .field-name-field-recipe-directions,
  .field-name-field-serves {
    margin: .1in 0 0 .1in;
    margin-bottom:0;
  }
  ul {
    margin-left:0;
    padding-left: 0;
    list-style-type: none;
    -webkit-padding-start:0;
  }
  li { margin-right:.1in; margin-bottom:.025in; }
  p { margin-right:.1in; }
}
