<script>
{{#if json_data}}
var json_data  = {{{json_data}}};
{{/if}}
var store_code = '{{store.id}}';
var store_open = {{#if store.can_order}}true{{else}}false{{/if}};
</script>
  <div ng-app="estore">


    <div id="page" class="estore ng-class: {busy: busy}" ng-controller="app">
      <header id="section-header">
        <div class="region-header" id="region-header">

          <hgroup class="site-logo clearfix">
            <h2 id="site-logo"><a href="/">Whole Foods Market</a></h2>
          <div class="block-menu">
          <div class="content">
            <ul class="menu">

              <li class="secure">
                  <span class="secure">SECURE CHECKOUT</span>
              </li>
            </ul>
          </hgroup>
        </div>
      </header>

<!--      <div

        ng-include="cartdropdown"></div> -->
