{{>header}}
<div class="navbar">
  <div class="contained">
  <div class="search tablet_only">
    <form method="get" action="/shop/{{store.id}}/search">
    <input name="search" class="query" placeholder="Search" />
    <input type="submit" class="button" value="Search" />
    </form>
  </div>

  <a href="/shop/{{store.id}}/search" class="search mobile_only">?</a>


  <ul class="crumbs">
    <li><a href="/shop/{{store.id}}">{{store.name}}</a></li>
    {{#if filter}}
    <li><a href="/shop/{{store.id}}/{{filter}}">{{filterlabel}}</a></li>
    {{/if}}
    <li>{{category.name}}</li>
  </ul>
  </div>
</div>
<div class="wooden contained">
  <div class="nav tablet_only">
    <div id="store_header">
      <div class="store_image" style="background-image: url({{store.image}});">
        <div class="store_image_color_overlay">
          <h1>Whole Foods Market </br>{{store.name}}</h1>
          <p class="store.address">{{store.address}}<br/>
          {{#if store.address2}}{{store.address2}}<br/>{{/if}}
          {{store.city}}, {{store.state}}, {{store.zip_code}}</p>
          <p><a href="tel:{{store.phone}}">{{store.phone}}</a></p>
        </div>
      </div>
    </div>
    <section>
      <P>Welcome to Whole Foods Market!
      Our offerings change seasonally and vary by store.
      At <em>{{store.name}}</em>, we are currently offering:</p>
    </section>
    {{#each categories}}
      <div class="panel-pane">
          <h2 class="pane-title menu_option">
              <a href="/shop/{{../store.id}}/{{id}}">{{value}}</a>
          </h2>
      </div>
    {{/each}}

    <section>
    <p>
    The following links open in a new window.</p>
    </section>

    {{#unless store.isAllegro}}
      <div class="panel-pane">
          <h2 class="pane-title offsite_link">
              <a href="//www.allegrocoffee.com/" target="_blank">Allegro Coffee</a>
          </h2>
      </div>
    {{/unless}}

    {{#unless store.isUK}}
      <div class="panel-pane">
          <h2 class="pane-title offsite_link">
              <a href="https://www.wholefoodsmarket.com/buy-gift-cards" target="_blank">Gift Cards</a>
          </h2>
      </div>
    {{/unless}}

  </div>
  <div class="body ">
    <div class="body_inner">
  <h1 class="bigheader">{{category.name}}</h1>

    {{#if items}}
    <ul class="product list" data-product-list="{{category.name}}">
      {{#each items}}
      <li data-href="/shop/{{../store.id}}/{{../category.id}}/{{id}}" ng-click="clickHref($event)"
          data-product-id="{{id}}"
          data-product-name="{{NAME}}"
          data-product-category="{{../category.name}}"
          data-product-brand="Whole Foods Market"
          data-product-variant=""
          data-product-price="{{#if DISPLAYPRICE}}{{DISPLAYPRICE}}{{else}}{{../store.currency}}{{BASEPRICE}}{{/if}}"
          data-product-position="{{@index}}">
        <div class="photo">
          <a href="/shop/{{../store.id}}/{{../category.id}}/{{id}}">{{#if THUMBURL}}<img src="{{THUMBURL}}">{{else}}<img src="/sites/all/modules/custom/estore/public/img/fillerimage.jpg">{{/if}}</a>
        </div>

        <div class="info">

          <div class="name">
            <a href="/shop/{{../store.id}}/{{../category.id}}/{{id}}">{{NAME}}</a>
            {{#if UOM}}<span class="uom">{{UOM}}</span>{{/if}}
          </div>
          {{#if ONSALE}}
          <div class="onsale">ON SALE</div>
          {{/if}}

          {{#if DISPLAYPRICE}}
            <div class="price">{{DISPLAYPRICE}}</div>
          {{else}}
            {{#if BASEPRICE}}
              <div class="price">{{../store.currency}}{{BASEPRICE}}</div>
            {{/if}}
          {{/if}}
            
        </div>

      </li>
      {{/each}}
    </ul>
    {{else}}
    <section>
      <p>This section is currently empty!</p>

      <p><a href="/shop/{{store.id}}">Back to store page</a></p>

    </section>
    {{/if}}
  </div> <!-- end body -->
  <div class="nav mobile_only">
    <div class="panel-pane">
        <h2 class="section-title">
          Categories
        </h2>
    </div>

    {{#each categories}}
      <div class="panel-pane">
          <h2 class="pane-title menu_option">
              <a href="/shop/{{../store.id}}/{{id}}">{{value}}</a>
          </h2>
      </div>
    {{/each}}

    <section>
    <p>The following links open in a new window.</p>
    </section>

    {{#unless store.isAllegro}}
      <div class="panel-pane">
          <h2 class="pane-title offsite_link">
              <a href="//www.allegrocoffee.com/" target="_blank">Allegro Coffee</a>
          </h2>
      </div>
    {{/unless}}

    {{#unless store.isUK}}
        <div class="panel-pane">
          <h2 class="pane-title offsite_link">
            <a href="https://www.wholefoodsmarket.com/buy-gift-cards" target="_blank">Gift Cards</a>
          </h2>
        </div>
    {{/unless}}

  </div>
  </div>
</div>
</div>
{{>footer}}
