{{> header_nostore}}
<div class="navbar">
  <div class="contained">
    <ul class="crumbs">
      <li>{{store.name}}</li>
      <li>Online Ordering</li>
    </ul>
  </div>
</div>
<div class="wooden contained">

  <!-- containted -->
  <div class="nav tablet_only">
    <div id="store_header">
      <div class="store_image" style="background-image: url({{store.image}});">
        <div class="store_image_color_overlay">
          <h1>Whole Foods Market<br/>{{store.name}}</h1>
          <p class="store.address">{{store.address}}<br/>
            {{#if store.address2}}{{store.address2}}<br/>{{/if}}
            {{store.city}}, {{store.state}}, {{store.zip_code}}</p>
            <p><a href="tel:{{store.phone}}">{{store.phone}}</a></p>
          </div>
        </div>
      </div>

      <section>
        <p>The following links open in a new window.</p>
      </section>

      {{#unless store.isAllegro}}
        <div class="panel-pane">
          <h2 class="pane-title offsite_link">
            <a href="//www.allegrocoffee.com/" target="_blank">Allegro Coffee</a>
          </h2>
        </div>
      {{/unless}}

      {{#unless store.isUK}}
        <div class="panel-pane">
          <h2 class="pane-title offsite_link">
            <a href="https://www.wholefoodsmarket.com/buy-gift-cards" target="_blank">Gift Cards</a>
          </h2>
        </div>
      {{/unless}}
    </div>

        <!-- contained-->
        <div class="store_closed_page">
          <div class="body_inner">
            <div class="content_wrapper clearfix">
              <div class="orange_box">
                <p>Online ordering from <span class="store_name">Whole Foods Market {{store.name}}</span> is currently not available.
                  However, you may still be able to order by contacting the store directly.</p>
              </div>
              <div class="column first">
                <p class="fixed_height">Give us a call<br/><a href="tel:{{store.phone}}">{{store.phone}}</a></p>
                <p>Stop by the store to discuss your needs with a Whole Foods Market team member.</p>
                <p class="store_address">{{store.address}}<br/>
                  {{#if store.address2}}{{store.address2}}<br/>{{/if}}
                  {{store.city}}, {{store.state}}, {{store.zip_code}}</p>
              </div>
              <div class="column second">
                <p class="fixed_height">Make your meal a success with the help of our recipes, sales and coupons:
                <p class="links">
                  <a href="http://www.wholefoodsmarket.com/recipes">Browse recipes</a><br/>
                  <a href="http://www.wholefoodsmarket.com/sales-flyer">See what's on sale</a><br/>
                  <a href="http://www.wholefoodsmarket.com/coupons">Download coupons</a>
                </p>
                <!-- <button data-href="/shop/choose" ng-click="clickHref($event)">Change Stores</button> -->
              </div>
            </div>

            </div>
            <div class="nav mobile_only">

              {{#unless store.isAllegro}}
                <div class="panel-pane">
                  <h2 class="pane-title offsite_link">
                    <a href="//www.allegrocoffee.com/" target="_blank">Allegro Coffee</a>
                  </h2>
                </div>
              {{/unless}}

              {{#unless store.isUK}}
                <div class="panel-pane">
                  <h2 class="pane-title offsite_link">
                    <a href="https://www.wholefoodsmarket.com/buy-gift-cards" target="_blank">Gift Cards</a>
                  </h2>
                </div>
              {{/unless}}

              </div>
            </div>
          </div>
          {{> footer}}
          
