{{>header}}

<div class="navbar">
  <div class="contained">

    <div class="search tablet_only">
      <form method="get" action="/shop/{{store.id}}/search">
      <input name="search" class="query" placeholder="Search" />
      <input type="submit" class="button" value="Search" />
      </form>
    </div>

    <a href="/shop/{{store.id}}/search" class="search mobile_only">?</a>

    <ul class="crumbs">
      <li><a href="/shop/{{store.id}}">{{store.name}}</a></li>
      <li>Order History</li>
    </ul>
    </div>
</div>

<div class="wooden contained">
  <div class="nav tablet_only">
    <div id="store_header">
      <div class="store_image" style="background-image: url({{store.image}});">
        <div class="store_image_color_overlay">
          <h1>Whole Foods Market<br/>{{store.name}}</h1>
          <p class="store.address">{{store.address}}<br/>
          {{#if store.address2}}{{store.address2}}<br/>{{/if}}
          {{store.city}}, {{store.state}}, {{store.zip_code}}</p>
          <p><a href="tel:{{store.phone}}">{{store.phone}}</a></p>
        </div>
      </div>
    </div>
    <section>
      <P>Welcome to Whole Foods Market!
      Our offerings change seasonally and vary by store.
      At <em>{{store.name}}</em>, we are currently offering:</p>
    </section>
    {{#each categories}}
      <div class="panel-pane">
          <h2 class="pane-title menu_option">
              <a href="/shop/{{../store.id}}/{{id}}">{{value}}</a>
          </h2>
      </div>
    {{/each}}
    <section>
    <p>
    The following links open in a new window.</p>
    </section>

    {{#unless store.isAllegro}}
      <div class="panel-pane">
          <h2 class="pane-title offsite_link">
              <a href="//www.allegrocoffee.com/" target="_blank">Allegro Coffee</a>
          </h2>
      </div>
    {{/unless}}

    {{#unless store.isUK}}
      <div class="panel-pane">
        <h2 class="pane-title offsite_link">
          <a href="https://www.wholefoodsmarket.com/buy-gift-cards" target="_blank">Gift Cards</a>
        </h2>
      </div>
    {{/unless}}

  </div>
  <div class="body">
    <div class="body_inner">

      <h3>Order History</h3>

      {{#if orders.ORDERS.ORDER}}
      <ul class="order_history">
      {{#each orders.ORDERS.ORDER}}
      <li>
        <span class="id">
        Order #{{ID}}
        </span>
        <span class="date">
        {{ORDERDATE}}
        </span>
        <span class="link">
          <button data-href="/shop/{{../store.id}}/customers/orders/{{ID}}" ng-click="clickHref($event)">View Order</button>
        </span>
      </li>
      {{/each}}
      </ul>
      {{else}}
        <p>No previous orders found.</p>
      {{/if}}
    </div>

  <div class="nav mobile_only">
    <div class="panel-pane">
        <h2 class="section-title">
          Categories
        </h2>
    </div>
    {{#each categories}}
      <div class="panel-pane">
          <h2 class="pane-title menu_option">
              <a href="/shop/{{../store.id}}/{{id}}">{{value}}</a>
          </h2>
      </div>
    {{/each}}
    <section>
    <p>
    The following links open in a new window.</p>
    </section>

    {{#unless store.isAllegro}}
      <div class="panel-pane">
        <h2 class="pane-title offsite_link">
          <a href="//www.allegrocoffee.com/" target="_blank">Allegro Coffee</a>
        </h2>
      </div>
    {{/unless}}

    {{#unless store.isUK}}
      <div class="panel-pane">
        <h2 class="pane-title offsite_link">
          <a href="https://www.wholefoodsmarket.com/buy-gift-cards" target="_blank">Gift Cards</a>
        </h2>
      </div>
    {{/unless}}

  </div>
</div>
</div>

{{>footer}}
