{{>header}}
<div class="navbar">
  <div class="contained">

    <div class="search tablet_only">
      <form method="get" action="/shop/{{store.id}}/search">
      <input name="search" class="query" placeholder="Search" />
      <input type="submit" class="button" value="Search" />
      </form>
    </div>

    <a href="/shop/{{store.id}}/search" class="search mobile_only">?</a>

    <ul class="crumbs">
        <li>{{store.name}}</li>
        <li>Online Ordering</li>
    </ul>


    </div>
</div>
<div class="wooden contained">
  <div class="nav tablet_only">
    <div id="store_header">
      <div class="store_image" style="background-image: url({{store.image}});">
        <div class="store_image_color_overlay">
          <h1>Whole Foods Market<br/>{{store.name}}</h1>
          <p class="store.address">{{store.address}}<br/>
          {{#if store.address2}}{{store.address2}}<br/>{{/if}}
          {{store.city}}, {{store.state}}, {{store.zip_code}}</p>
          <p><a href="tel:{{store.phone}}">{{store.phone}}</a></p>
        </div>
      </div>
    </div>
    <section>
      <P>Welcome to Whole Foods Market <em>{{store.name}}</em>!
      Our offerings change seasonally and vary by store.
      We are currently offering:</p>
    </section>
    {{#each categories}}
      <div class="panel-pane">
          <h2 class="pane-title menu_option">
              <a href="/shop/{{../store.id}}/{{id}}">{{value}}</a>
          </h2>
      </div>
    {{/each}}

    <section>
    <p>Looking for Gift Cards or Allegro Coffee?
    The following links open in a new window.</p>
    </section>

    {{#unless store.isAllegro}}
      <div class="panel-pane">
          <h2 class="pane-title offsite_link">
              <a href="//www.allegrocoffee.com/" target="_blank">Allegro Coffee</a>
          </h2>
      </div>
    {{/unless}}

    {{#unless store.isUK}}
      <div class="panel-pane">
        <h2 class="pane-title offsite_link">
          <a href="https://www.wholefoodsmarket.com/buy-gift-cards" target="_blank">Gift Cards</a>
        </h2>
      </div>
    {{/unless}}

  </div>
  <div class="body">

        <div class="error_message">

          <h1>We're sorry, an error occurred while handling your request.</h1>

          <p>Please try again, or
          to get assistance from a team member at Whole Foods Market {{store.name}},
          call us at <A href="tel:{{store.phone}}">{{store.phone}}</a>.</p>

          <button ng-click="goBack()">Go Back</button>

          <!--
            {{{error.message}}}
          -->

        </div>

</div> <!-- end body -->
<div class="nav mobile_only">
  <div class="panel-pane">
      <h2 class="section-title">
        Categories
      </h2>
  </div>
  {{#each categories}}
    <div class="panel-pane">
        <h2 class="pane-title menu_option">
            <a href="/shop/{{../store.id}}/{{id}}">{{value}}</a>
        </h2>
    </div>
  {{/each}}
</div>
</div>

{{>footer}}
