{{> header}}

Your order from {{order.STORE}}

{{#each order.ORDERITEMS.ORDERITEM}}
<ul class="list cart">
  <li>
    <div class="item-info">
      <h1 class="name">{{QTY}} - {{NAME}}</h1>
      <span class="price">${{COST}}</span>

      {{#if variant }}
        {{#each variant}}
        -> {{ name }}<br>
        {{/each}}
      {{/if}}

    </div>
  </li>
</ul>
{{/each}}
{{> footer}}
