<div class="overlay" ng-click="cancelFromOverlay($event)" ng-if="modal.open">
  <div class="modal">
  <div>
    <header>
      <h2>{{item.NAME}}</h2>
      <span class="uom">{{item.UOM}}</span>

    </header>
    <div class="modal-content"
          ng-include="optiongroups[option_index].template"
    >
      <!-- option groups rendered here -->
    </div>

    <div class="quantity_chooser">
      <p class="price_wrapper">
           <span class="price" ng-bind="displayprice">{{item.BASEPRICE}}</span>
      </p>
    </div>

    <div class="modal-footer">

      <button type="button"
        ng-click="next($event)"
        ng-if="option_index != optiongroups.length -1"

      >Next
      </button>
      <!-- <button class="link"
            ng-show="option_index > 0"
            ng-click="back()">Previous Option
      </button> -->
      <button
       type="button"
       class="addToCart ng-class: {busy: adding}"
       ng-click="addToCart($event)"
       ng-if="option_index == optiongroups.length -1 && item.INSTOCK"
       >Add to cart
      </button>

      <button type="button"
        ng-if="!item.INSTOCK"
      >Not in Stock</button>

      <button class="link" ng-click="cancel()">
        or continue shopping
      </button>
    </div>
  </div>
</div>
</div>
