{{>header_secure}}

<div class="navbar">
  <div class="contained">

    <div class="search tablet_only">
      <form method="get" action="/shop/{{store.id}}/search">
      <input name="search" class="query" placeholder="Search" />
      <input type="submit" class="button" value="Search" />
      </form>
    </div>

    <a href="/shop/{{store.id}}/search" class="search mobile_only">?</a>

    <ul class="crumbs">
      <li><a href="/shop/{{store.id}}">{{store.name}}</a></li>
      <li>Order Confirmation</li>
    </ul>
    </div>
</div>

<div ng-controller="receipt" class="receipt-cont contained">
<section class="rec-conf">

<p>Your order has been confirmed. <br>
A confirmation email has been sent to {{order.EMAIL}}.</p>

<p>Confirmation number <a href="/shop/{{store.id}}/customers/orders/{{order.ID}}">#{{order.ID}}</a></p>

<p>

  <button
          id="view_order_status_btn"
          class="rec"
          data-href="/shop/{{store.id}}/customers/orders/{{order.ID}}"
          ng-click="clickHref($event)">View Order Status
  </button>

  {{#if order.PICKUP}}
    <button
            id="add_to_calendar_btn"
            class="no_old_ie rec"
            ng-click="generateCalendar()">Add to Calendar
    </button>
  {{/if}}

</p>

<div class="clear"></div>

<p class="print"><a href="#" ng-click="printThis()">Print this receipt for your records</a></p>

<p>Questions? Give us a call <a href="tel:{{store.phone}}">{{store.phone}}</a></p>

</section>

{{#if order.PICKUP}}
<div class="bill-info">
<h4>Pickup</h4>

<p>Whole Foods Market {{store.name}}<br/>
{{store.address}}<br/>
{{#if store.address2}}{{store.address2}}<br/>{{/if}}
{{store.city}}, {{store.state}}, {{store.zip_code}}</p>

<p>Pickup time is {{order.PICKUP_TIME}} on {{order.PICKUP_DATE}}</p>

</div>
{{/if}}

{{#if order.DELIVERY}}
<div class="bill-info">
  <h4>Delivery</h4>

  <P>
    {{order.SHIPPINGADDRESS.FIRSTNAME}} {{order.SHIPPINGADDRESS.LASTNAME}}<br/>
    {{order.SHIPPINGADDRESS.STREET1}}<br/>
    {{#if order.SHIPPINGADDRESS.STREET2}}
      {{order.SHIPPINGADDRESS.STREET2}}<br/>
    {{/if}}
    {{order.SHIPPINGADDRESS.CITY}},
    {{order.SHIPPINGADDRESS.STATE}}
    {{order.SHIPPINGADDRESS.ZIP}}
  </p>


  {{#if order.DELIVERYNOTES}}
  <p><b>Delivery Instructions:</b><br/>
  {{order.DELIVERYNOTES}}
  </p>
  {{/if}}
</div>
{{/if}}


<div class="bill-info">
<h4>Billing</h4>

<p>
  {{order.BILLINGADDRESS.FIRSTNAME}} {{order.BILLINGADDRESS.LASTNAME}}<br/>
  {{order.BILLINGADDRESS.STREET1}}<br/>
  {{#if order.BILLINGADDRESS.STREET2}}{{order.BILLINGADDRESS.STREET2}}<br/>{{/if}}
  {{order.BILLINGADDRESS.CITY}}, {{order.BILLINGADDRESS.STATE}}, {{order.BILLINGADDRESS.ZIP}}</p>
</div>
<div class="clear"></div>

<section>
  <ul class="receipt">

  {{#each order.ORDERITEMS.ORDERITEM}}

    <li>
      <span class="name">{{NAME}}</span>
      <span class="qty">QTY {{QTY}}</span>
      <span class="total">{{../store.currency}}{{#priceformat COST}}</span>
      {{#if variant }}
        {{#each variant}}
          <span class="selected_options">{{ name }}</span>
        {{/each}}
      {{/if}}
    </li>

  {{/each}}

  {{#nonzero order.ORDERDISCOUNT}}
    <li class="figure">
      <span class="name"></span>
      <span class="qty">Discount</span>
      <span class="total">{{store.currency}}{{#priceformat order.ORDERDISCOUNT}}</span>
    </li>
  {{/nonzero}}

  {{#nonzero  order.SHIPPINGAMOUNT}}
    <li class="figure">
      <span class="name"></span>
      <span class="qty">Shipping</span>
      <span class="total">{{store.currency}}{{#priceformat order.SHIPPINGAMOUNT}}</span>
    </li>
  {{/nonzero}}

    <li class="figure">
      <span class="name"></span>
      <span class="qty">{{store.tax_name}}</span>
      <span class="total">{{store.currency}}{{#priceformat order.ORDERTAX}}</span>
    </li>

    <li class="figure">
      <span class="name"></span>
      <span class="qty">{{#if order.INSTORE}}Estimated {{/if}}Total</span>
      <span class="total">{{store.currency}}{{#priceformat order.ORDERTOTAL}}</span>
    </li>

  </ul>
</section>

<div class="cart-footer contained">
  <fieldset class="full-width">
    <h4>Pricing</h4>
    <p>
      The prices displayed are our regular prices for the items shown. If you complete and process your purchase online, you may be charged more than what the item is currently available for at a store location. If your payment is processed in the store, you will be charged the price in effect at that location on the date of payment. Items that are priced by weight must be processed in the store. 
    </p>
    <p>
      Please note the following: 
    </p>
    <ul>
      <li>
        Items by sold by weight: The total on your order may vary slightly based on the actual weight of items you have purchased. You will be charged only for the amount of product you actually receive. 
      </li>
      <li>
        Online reservation totals: When reserve your order online, you will receive an “estimated total.” The final order total will differ to accurately reflect items sold by weight, items requested that are not found online, items currently on sale at the location the order is processed, and to adjust for any substitutions that are made to your order.
      </li>
    </ul>
    </p>
  </fieldset>
  <fieldset>
    <h4>Shop With Confidence</h4>
    <p>
      All information is encrypted and transmitted without risk using a Secure Sockets Layer (SSL) protocol.
    </p>
  </fieldset>
  <fieldset>
    <h4>Privacy</h4>
    <p>
      We respect your privacy. Your personal information will not be sold or distributed.
    </p>
  </fieldset>
</div>
    <img src="//email.wholefoodsmarket.com/C?hEventName=Purchase&hAmount={{#priceformat pre_tax_total}}&hCustomerTransactionId={{order.ID}}&hQuantity={{total_items}}&hOrderId=null&hCategory=estore&hDateTime={{order_date}}" height="1" width="1" />
    <img src="//email.wholefoodsmarket.com/C?hEventName=Conversion&hAmount={{#priceformat pre_tax_total}}&hCustomerTransactionId={{order.ID}}&hQuantity={{total_items}}&hOrderId=null&hCategory=estore&hDateTime={{order_date}}" height="1" width="1" />
</div>

{{>footer}}
