{{> header}}

<ul class="category_list results">
{{#each items.items}}
    <li class="item">
    {{quantity}} - {{name}} ${{price}}
    </li>
{{/each}}
</ul>

 <a href="#" class="btn btn-checkout">Submit Order</a>

{{>footer}}
